<%- include('head') %>

<div class="onlineCS-headBanner normal ">
    <div class="onlineCS-headBanner__inner">
        <div class="onlineCS-headBanner__inner__text">
            <h3 id="title" style="color:#fff;">Trip-day.com<br>Your trusted trip companion<span class="title-symbol"></span></h3>
            
            
        </div><img src="https://ak-d.tripcdn.com/images/1nj4e12000cgidvhl8CFE.png" alt="headBanner-img" id="bannerImg">
    </div>
</div>