<%- include('head') %>

<div class="onlineCS-headBanner normal ">
    <div class="onlineCS-headBanner__inner">
        <div class="onlineCS-headBanner__inner__text">
            <h3 id="title">Customer Support<span class="title-symbol"></span></h3>
            <div class="usp-wrapper">
                <h4 class="sub-title inline-block"><span class="icon" style="background-image: url(&quot;https://ak-d.tripcdn.com/images/05S3v12000cf06fit4D44.png&quot;);"></span><span class="text">Support in approx. 30s</span></h4>
            </div>
            
        </div><img src="https://ak-d.tripcdn.com/images/1nj4e12000cgidvhl8CFE.png" alt="headBanner-img" id="bannerImg">
    </div>
</div>