<style>
  /* Custom CSS equivalent to Tailwind classes */
  /* Container */
  .relative {
    position: relative;
  }

  .h-full {
    height: 100%;
  }

  .group:hover .hover\:border-b-2 {
    border-bottom-width: 2px;
  }

  .border-blue-500 {
    border-color: #3b82f6;
  }

  /* Dropdown Header */
  .flex {
    display: flex;
  }

  .justify-between {
    justify-content: space-between;
  }

  .items-center {
    align-items: center;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .pt-1 {
    padding-top: 0.25rem;
  }

  .w-full {
    width: 100%;
  }

  .text-gray-500 {
    color: #6b7280;
  }

  .mt-1 {
    margin-top: 0.25rem;
  }

  .text-sm {
    font-size: 0.875rem;
  }

  .font-bold {
    font-weight: 700;
  }

  .text-black {
    color: #000;
  }

  .text-gray-600 {
    color: #4b5563;
  }

  .text-xs {
    font-size: 0.75rem;
  }

  /* Dropdown Menu */
  .absolute {
    position: absolute;
  }

  .top-full {
    top: 100%;
  }

  .left-0 {
    left: 0;
  }

  .w-60 {
    width: 15rem;
  }

  .hidden {
    display: none;
  }

  .group:hover .group-hover\:block {
    display: block;
  }

  .z-50 {
    z-index: 50;
  }

  .bg-white {
    background-color: #fff;
  }

  .border {
    border-width: 1px;
  }

  .border-gray-300 {
    border-color: #d1d5db;
  }

  .rounded-md {
    border-radius: 0.375rem;
  }

  .shadow-lg {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  }

  .p-4 {
    padding: 1rem;
  }

  .mt-2 {
    margin-top: 0.5rem;
  }

  /* Rows */
  .mb-4 {
    margin-bottom: 1rem;
  }

  .text-gray-800 {
    color: #1f2937;
  }

  /* Buttons */
  .border-blue-500 {
    border-color: #3b82f6;
  }

  .text-blue-500 {
    color: #3b82f6;
  }

  .text-base {
    font-size: 1rem;
  }

  .w-5 {
    width: 1.25rem;
  }

  .h-5 {
    height: 1.25rem;
  }

  .flex {
    display: flex;
  }

  .items-center {
    align-items: center;
  }

  .justify-center {
    justify-content: center;
  }

  .rounded-full {
    border-radius: 9999px;
  }

  .hover\:bg-blue-500:hover {
    background-color: #3b82f6;
  }

  .hover\:text-white:hover {
    color: #fff;
  }

  /* Utility classes */
  .mx-3 {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }

  .space-x-1>*+* {
    margin-left: 0.25rem;
  }

  .text-center {
    text-align: center;
  }
</style>
<div class="home-header-container home-header-container-webp-bg">
  <div class="mc-hd  mc-hd_theme_transparent">
    <div class="mc-hd__logo-con mc-hd__logo-con-en-US mc-hd__logo-layout-0"><a class="mc-hd__logo " href="/"></a></div>
    <div class="mc-hd__search-con" style="width: 700px;">
      <form class="rd-search" action="/search/search" data-search-live="rd-search-results-live-NaN" method="GET">

        <div class="gccpoi__TripSearchBox-main">
          <div class="gccpoi__TripSearchBox-content">
            <input class="gccpoi__TripSearchBox-input" placeholder="Destination, attraction, hotel, etc" value=""
              style="text-overflow: ellipsis; white-space: nowrap;" id="rd-navbar-search-form-input-NaN" type="text"
              name="s" autocomplete="off">
          </div>
          <button class="gccpoi__TripSearchBox-btn" <% if (!(typeof user !=='undefined' && user)) {
            %>onclick="event.preventDefault(); alert('Login is required');"<% } %>>
              <div class="gccpoi__TripSearchBox-search-icon-wrapper">
                <div class="gccpoi__TripSearchBox-btnicon ibu_tripsearch_iconfont gccicon-search"
                  style="color: rgb(255, 255, 255);"></div>
              </div>
          </button>
          <div class="rd-search-results-live" id="rd-search-results-live-NaN"></div>
        </div>

      </form>


    </div>
    <div class="mc-hd__func">
      <!--
      <div class="mc-hd__option">
        <div class="mc-hd__help"><a class="mc-hd__nav-lnk" target="_blank" href="http://139.180.211.209/">Individual
            customer</a><i class="fi fi-bangzhu"></i></div>
      </div>
      -->
      <div class="mc-hd__option mc-hd__option__locale">
        <div class="mc-hd__country mc-hd__dropdown-con">
          <div class="mc-hd__country-cur mc-hd__dropdown-cur"><span class="mc-hd__country-icon"><i
                class="ic-flagicon flag-en-US"
                style="background-position: 0px 0px; background-image: url(&quot;https://ak-d.tripcdn.com/images/05E1v12000dgqkhtf5799.png&quot;);"></i></span>
          </div>
        </div>
      </div>
      <div class="mc-hd__option mc-hd__option__currency">
        <div class="mc-hd__currency mc-hd__dropdown-con">
          <div class="mc-hd__dropdown-cur mc-hd__currency-cur">THB</div>
        </div>
      </div>

      <div class="mc-hd__account mc-hd__dropdown-con" style="display: block;">
        <div class="mc-hd__account-cur"><span class="mc-hd__avatar"><i class="fi fi-ic_user"></i></span>
          <% if (typeof user !=='undefined' && user) { %>
            <button class="button-text" onclick="toggleUserMenu()">
              <i class="button-text"></i>
              <%= user.email %>
            </button>
            <div class="user-menu" id="userMenu">
              <ul class="mc-hd__nav-item-sub">
                <% if (user.role==='Admin' || user.role==='SuperAdmin' ) { %>
                  <li><a class=" linc" href="/dashboard" <% if (!user.isVerified) { %>onclick="alert('Please verify your
                      account to access the dashboard.'); return false;"<% } %>>Dashboard</a></li>
                  <li><a class="linc" href="/admin/dashboard">Admin Dashboard</a></li>
                  <li><a class="linc" href="/auth/logout">Logout</a></li>
                  <% } else { %>
                    <li><a class="mc-hd__sub-nav-lnk" href="/dashboard" <% if (!user.isVerified) {
                        %>onclick="alert('Please verify your account to access the dashboard.'); return false;"<% } %>
                          >Dashboard</a></li>
                    <li><a class="mc-hd__sub-nav-lnk" href="/auth/logout">Logout</a></li>
                    <% } %>
              </ul>
            </div>
            <% } else { %>
              <button class="button-text" onclick="showAuthPopup()">Sign in / Register</button>
              <% } %>

        </div>
      </div>
      <div id="authPopup" class="popup" style="display: none;">
        <div class="modal_content no_right_ad">
          <a onclick="closePopup()">
            <div id="ibu_login_close" class="close_btn ibu_login_c_iconfont ibu_login_c_icon_close "
              role="presentation"></div>
          </a>
          <div class="content_wrapper textAlignLeft">
            <% if (messages.error) { %>
              <div class="alert alert-danger">
                <%= messages.error %>
              </div>
              <% } %>
              <form id="authForm" action="/auth/register" method="post">
                                <div class="form_wrapper">
                                    <div class="ibu_title top_title">Sign in / Register</div>
                                    <div class="ibu_desc top_content">Manage your bookings with ease and enjoy member-only benefits</div>
                                    <div class="input_wrapper">
                                        <div class="input-module__ibu_input_item__EQTLR   ">
                                            <p class="input-module__label__3QCyf input-module__common_label__Ygu4-" style="display: none;">Email</p>
                                            <div >
                                                <input type="email" id="email" name="email" placeholder="Email Address" required class="input-module__r_input__-Yspv">
                                          
                                            
                                                <input type="password" id="password" name="password" placeholder="Password" style="display:none;" required class="input-module__r_input__-Yspv">
                                                <input type="password" id="confirmPWD" name="confirmPWD" placeholder="confirm your password" style="display:none;"  class="input-module__r_input__-Yspv">
                                                <div id="error_confirm_pwd" style="color: red; display:none;">Confirm Password is not matches</div>
                                                <div class="input-module__right_btn__-GXAu"></div>
                                            </div>
                                        </div>
                                    </div>ßß
                                    <div class="ibu-account-slider">
                                        <div id="ibu-online-account-sliderPubHeader"></div>
                                    </div><button  type="submit" id="authButton" class="tripui-online-btn tripui-online-btn-large tripui-online-btn-solid-primary tripui-online-btn-solid-primary-disabled tripui-online-btn-block  ibu-login-btn ibu-button-submit-class ibu-login-btn-primary ibu-v3-submit_btn " >
                                        <div class="tripui-online-btn-content" ><span class="tripui-online-btn-content-children "><span class="ibu-button-link-text" id="authButton">Continue</span></span></div>
                                        
                                      </button>
                                </div>
                            </form>
                <div class="form_wrapper ibu-simple-slider">
                  <div id="ibu-online-account-simple-sliderPubHeader"></div>
                </div>
              <!--
                <div class="other_login_way">
                  <div class="other_title other_title_thirdparty"><i class="left-line"></i>
                    <div class="other_title_txt">More Sign In Methods</div><i class="right-line"></i>
                  </div>
                  <div class="thirdparty-login-wrapper  ">
                    <div class="ibu_thirdpartlogin_online_wrapper_v3">
                      <div class="login_way_list">
                        <div class="way_wrapper way_wrapper_01 ">
                          <div class="way_list_container ">
                            <div class="way_list">
                              <div class="way_item" role="presentation">
                                <div class="way_icon way_icon_gl_bg">
                                  <div class="way_icon_item way_icon_gl"></div>
                                </div>
                                <div class="way_name">Google</div>
                              </div>
                              <div class="way_item" role="presentation">
                                <div class="way_icon way_icon_ap_bg">
                                  <div class="way_icon_item way_icon_ap"></div>
                                </div>
                                <div class="way_name">Apple</div>
                              </div>
                              <div class="way_item" role="presentation">
                                <div class="way_icon way_icon_fb_bg">
                                  <div class="way_icon_item way_icon_fb"></div>
                                </div>
                                <div class="way_name">Facebook</div>
                              </div>
                              <div class="way_item" role="presentation">
                                <div class="way_icon way_icon_wx_bg">
                                  <div class="way_icon_item way_icon_wx"></div>
                                </div>
                                <div class="way_name">Wechat</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              
                </div>
              -->

                <div class="content_bottom_area">
                  <div class="agreement_wrapper">
                    <style></style>
                    <div class="bbz-accounts-gdpr-wrapper agreement_txt">
                      <div class="ibu_login_c_check_pro " id="ibu_login_c_check_pro">
                        <div class="ibu_login_c_desc"><span>By signing in or registering, you are deemed to have agreed
                            to the Trip-day.com <a href="pages/customer-service"
                              class="ibu_login_c_link privacy_policy_link_txt" target="_blank">Terms and Conditions</a>
                            and <a href="pages/privacy-policy"
                              class="ibu_login_c_link privacy_policy_link_txt" target="_blank">Privacy
                              Statement</a>.</span></div>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
        </div>

        <div class="popup-content">

          <h2 id="popupTitle">Sign In / Register</h2>

          <% if (messages.error) { %>
            <div class="alert alert-danger">
              <%= messages.error %>
            </div>
            <% } %>

              <form id="authForm" action="/auth/register" method="post">
                <input type="email" id="email" name="email" placeholder="Email Address" required>
                <input type="password" id="password" name="password" placeholder="Password" style="display:none;">

                <div class="button-row">
                  <button type="submit" id="authButton">Submit</button>
                  <button type="button" onclick="closePopup()">Close</button>
                </div>
              </form>
        </div>
        -->
      </div>
    </div>



    <div class="mc-hd__nav-con">
      <ul class="mc-hd__nav">
        <li class="mc-hd__nav-item"><a id="header_action_nav_hotels" class="mc-hd__nav-lnk"
            href="<% if (typeof user !== 'undefined' && user) { %>/search/<% }else { %>#<% } %>" <% if (!(typeof user
            !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<% } %>
              title="Hotels">Hotels</a>
          <ul class="mc-hd__nav-item-sub">
            <li><a href="<% if (typeof user !== 'undefined' && user) { %>/search?query=Pattaya<% } else { %>#<% } %>" <%
                if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<% }
                  %>>Pattaya</a></li>
            <li><a class="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/search?query=Bangkok<% } else { %>#<% } %>" <% if
                (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<% } %>
                  >Bangkok</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/search?query=Phuket<% } else { %>#<% } %>" <% if
                (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<% } %>
                  >Phuket</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/search?query=Chataburi<% } else { %>#<% } %>" <%
                if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<% }
                  %>>Chataburi</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/search?query=Chiang mai<% } else { %>#<% } %>" <%
                if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<% }
                  %>>Chiang mai</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/search?query=Krabi<% } else { %>#<% } %>" <% if
                (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<% } %>
                  >Krabi</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/search?query=Phang Nga<% } else { %>#<% } %>" <%
                if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<% }
                  %>>Phang Nga</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/search?query=Kho samui<% } else { %>#<% } %>" <%
                if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<% }
                  %>>Kho samui</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/search?query=Surat thani<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Surat thani</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/search?query=Huahin<% } else { %>#<% } %>" <% if
                (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<% } %>
                  >Huahin</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/search?query=Udon thani<% } else { %>#<% } %>" <%
                if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<% }
                  %>>Udon thani</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/search?query=Phatthalung<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Phatthalung</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/search?query=Nakhon Phanom<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Nakhon Phanom</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/search?query=Korat<% } else { %>#<% } %>" <% if
                (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<% } %>
                  >Korat</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/search?query=Si Racha<% } else { %>#<% } %>" <%
                if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<% }
                  %>>Si Racha</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/search?query=Sattahip<% } else { %>#<% } %>" <%
                if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<% }
                  %>>Sattahip</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/search?query=Khao Yai<% } else { %>#<% } %>" <%
                if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<% }
                  %>>Khao Yai</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/search?query=Rayong<% } else { %>#<% } %>" <% if
                (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<% } %>
                  >Rayong</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/search?query=Koh Smed<% } else { %>#<% } %>" <%
                if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<% }
                  %>>Koh Smed</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/search?query=Ayutthaya<% } else { %>#<% } %>" <%
                if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<% }
                  %>>Ayutthaya</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/search?query=Kanchanaburi<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Kanchanaburi</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/search?query=Samut Prakan<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Samut Prakan</a></li>
          </ul>
        </li>

        <li class="mc-hd__nav-item"><a id="header_action_nav_flights" class="mc-hd__nav-lnk"
            href=" <% if (typeof user !== 'undefined' && user) { %>/golf/courses<% } else { %>#<% } %>" <% if (!(typeof
            user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<% } %>>Golf</a>

          <ul class="mc-hd__nav-item-sub">
            <li><a
                href="<% if (typeof user !== 'undefined' && user) { %>/golf/search?query=Pattaya<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Pattaya</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/golf/search?query=Bangkok<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Bangkok</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/golf/search?query=Phuket<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Phuket</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/golf/search?query=Chataburi<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Chataburi</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/golf/search?query=Chiang mai<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Chiang mai</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/golf/search?query=Krabi<% } else { %>#<% } %>" <%
                if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<% }
                  %>>Krabi</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/golf/search?query=Phang Nga<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Phang Nga</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/golf/search?query=Kho samui<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Kho samui</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/golf/search?query=Surat thani<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Surat thani</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/golf/search?query=Huahin<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Huahin</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/golf/search?query=Udon thani<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Udon thani</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/golf/search?query=Phatthalung<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Phatthalung</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/golf/search?query=Nakhon Phanom<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Nakhon Phanom</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/golf/search?query=Korat<% } else { %>#<% } %>" <%
                if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<% }
                  %>>Korat</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/golf/search?query=Si Racha<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Si Racha</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/golf/search?query=Sattahip<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Sattahip</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/golf/earch?query=Khao Yai<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Khao Yai</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/golf/search?query=Rayong<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Rayong</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/golf/search?query=Koh Smed<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Koh Smed</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/golf/search?query=Ayutthaya<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Ayutthaya</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/golf/search?query=Kanchanaburi<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Kanchanaburi</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/golf/search?query=Samut Prakan<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Samut Prakan</a></li>
          </ul>
        </li>

        <li class="mc-hd__nav-item"><a id="header_action_nav_trains" class="mc-hd__nav-lnk"
            href="<% if (typeof user !== 'undefined' && user) { %>/package/list<% } else { %>#<% } %>" <% if (!(typeof
            user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<% } %>>Hotels&Golf</a>
          <ul class="mc-hd__nav-item-sub">
            <li><a
                href="<% if (typeof user !== 'undefined' && user) { %>/package/search?query=Pattaya<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Pattaya</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/package/search?query=Bangkok<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Bangkok</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/package/search?query=Phuket<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Phuket</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/package/search?query=Chataburi<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Chataburi</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/package/search?query=Chiang mai<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Chiang mai</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/package/search?query=Krabi<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Krabi</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/package/search?query=Phang Nga<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Phang Nga</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/package/search?query=Kho samui<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Kho samui</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/package/search?query=Surat thani<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Surat thani</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/package/search?query=Huahin<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Huahin</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/package/search?query=Udon thani<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Udon thani</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/package/search?query=Phatthalung<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Phatthalung</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/package/search?query=Nakhon Phanom<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Nakhon Phanom</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/package/search?query=Korat<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Korat</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/package/search?query=Si Racha<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Si Racha</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/package/search?query=Sattahip<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Sattahip</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/package/search?query=Khao Yai<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Khao Yai</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/package/search?query=Rayong<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Rayong</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/package/search?query=Koh Smed<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Koh Smed</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/package/search?query=Ayutthaya<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Ayutthaya</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/package/search?query=Kanchanaburi<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Kanchanaburi</a></li>
            <li><a iclass="mc-hd__sub-nav-lnk"
                href="<% if (typeof user !== 'undefined' && user) { %>/package/search?query=Samut Prakan<% } else { %>#<% } %>"
                <% if (!(typeof user !=='undefined' && user)) { %>onclick="alert('Login is required'); return false;"<%
                  } %>>Samut Prakan</a></li>
          </ul>
        </li>
        <li class="mc-hd__nav-item mc-hd__nav-item-wth-sub"><a class="mc-hd__nav-lnk"
            href="https://www.skyscanner.co.th/?currency=THB&locale=en-US&market=TH&_gl=1*1u6gsfk*_gcl_au*MTIwOTM5NjkxOS4xNzMwMjY2NjI4">Flights</a>
        </li>
        <li class="mc-hd__nav-item mc-hd__nav-item-wth-sub"><a id="header_action_nav_ttd" class="mc-hd__nav-lnk"
            href="/pages/contact-us">Contacts</a>

        </li>

      </ul>
    </div>


  </div>

  <div class="home-banner-container new-ui ">
    <div class="home-search-con" style="padding-top: 70px;">
      <div class="slogan">
        <div class="slogan-desc">Your Trip Starts Here</div>
        <div class="ol-usp-simple  center">
          <div class="ol-usp-simple-text ol-usp-simple-text__hover  ">
            <div class="onlineSimple-container__separate"></div>
            <div class="ol-usp-simple-text__icon"
              style="background-image: url(&quot;https://ak-d.tripcdn.com/images/0AS6b1200090fx7s7F635.png&quot;);">
            </div>
            <div class="ol-usp-simple-text__textContainer"><span class="ol-usp-simple-text__textContainer__title"
                data-redirect="false" style="color: rgb(255, 255, 255);">Secure payment</span><span
                class="ol-usp-simple-text__textContainer__title__dashline"
                style="border: none; background-image: repeating-linear-gradient(90deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4) 2px, transparent 0px, transparent 4px, rgba(255, 255, 255, 0.4) 0px); height: 1px;"></span>

            </div>
          </div>
          <div class="ol-usp-simple-text ol-usp-simple-text__hover  ">
            <div class="onlineSimple-container__separate"></div>
            <div class="ol-usp-simple-text__icon"
              style="background-image: url(&quot;https://ak-d.tripcdn.com/images/0AS5f120008whj34f2145.png&quot;);">
            </div>
            <div class="ol-usp-simple-text__textContainer"><span class="ol-usp-simple-text__textContainer__title"
                data-redirect="false" style="color: rgb(255, 255, 255);">Support in approx. 30s</span><span
                class="ol-usp-simple-text__textContainer__title__dashline"
                style="border: none; background-image: repeating-linear-gradient(90deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4) 2px, transparent 0px, transparent 4px, rgba(255, 255, 255, 0.4) 0px); height: 1px;"></span>

            </div>
          </div>

        </div>
      </div>
      <div class="c-srh-holder-deep-blue">
        <div class="mc-srh-box">
          <div class="mc-srh-box__tab-con u-clearfix">
            <ul class="mc-srh-box__tabs">
              <li class="mc-srh-box__tab-item js-srh-tab-item is-active " id="tab-hotels"><span
                  class="mc-srh-box__tab-name">Hotels</span></li>
              <li class="mc-srh-box__tab-item js-srh-tab-item " id="tab-golf"><span
                  class="mc-srh-box__tab-name">Golf</span></li>
              <li class="mc-srh-box__tab-item js-srh-tab-item " id="tab-hotels-golf"><span
                  class="mc-srh-box__tab-name">Hotels&Golf</span></li>
              <li class="mc-srh-box__tab-item js-srh-tab-item " id="tab-flight"><i
                  class="fi fi-ic_car_rentals_new"></i><span class="mc-srh-box__tab-name">Flights</span></li>
            </ul>
          </div>
          <div class="mc-srh-box__forms" style="min-height:unset;">
            <div id="searchBoxCon">
              <form class="rd-search" action="/search" data-search-live="rd-search-results-live-NaN" method="GET">
                <div class="search-box-instance-con tab-content" style="display: block;" id="content-hotels">
                  <div class="TripHomePageSearchBox">
                    <div dir="ltr" class="AuzgCMGfeOktnuVfBEJB">
                      <div class="DVsbb9IYpr8wqkJiqZ08">
                        <div class="WTchTLTa3EVyF3wCp_RK">
                          <div class="wcukWNYMwVtb9yVjYqWa"><label for="destinationInput"
                              class="Z6KZauxwPGyraHz6XXyw">Destination</label>
                            <div class="t2jAB0kLa8PbqLlGQAM1">
                              <div class="RjHQqkyZuQ3VnBTjrEPs ckOsFcbc4wlgngXhQ4cD">

                                <input id="rd-navbar-search-form-input-NaN" type="text" name="s" autocomplete="off"
                                  class="Lv9sExYNgio1sOQtYF40"
                                  placeholder="City, airport, region, landmark or property name" value="">
                                <div class="TEyHmILK2DzOsAm_6iif"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="xYMCg_QqPorbG5WNg6Ms">
                          <div class="ziv0jEjaxcgWq6iiTrEQ" style="width: 100%;"><label class="jveskUk1O3jO0s1QGao3"
                              for="checkInInput">Check-in</label>
                            <input type="date" class="font-bold text-sm mt-6" name="period" id="hotel_checkInDate">
                          </div>
                        </div>
                        <div class="hBD91TxW6Uv2IEd2ZK_X" tabindex="-1">
                          <div class="relative h-full group hover:border-b-2  border-blue-500">
          
                            <div class="flex justify-between items-center cursor-pointer  w-full h-full">
                              <div>
                                <label class="label-text text-gray-500">Rooms and Guests</label>

                                <div class="flex items-center space-x-1 mt-1 text-sm font-bold ">
                                  <!-- Room Input -->
                                  <div class="flex items-center space-x-1">
                                    <input id="roomInput" name="roomValue" type="number" min="1" value="1"
                                      class="w-3  text-center " readonly />
                                    <span class=" text-black">room,</span>
                                  </div>

                                  <!-- Adults Input -->
                                  <div class="flex items-center space-x-1">
                                    <input id="adultsInput" name="adultsValue" type="number" min="1" value="2"
                                      class="w-3  text-center " readonly />
                                    <span class=" text-black">adults,</span>
                                  </div>

                                  <!-- Children Input -->
                                  <div class="flex items-center space-x-1">
                                    <input id="childInput" name="childValue" type="number" min="0" value="0"
                                      class="w-3  text-center " readonly />
                                    <span class=" text-black">children</span>
                                  </div>
                                  <i class="text-gray-600 text-xs">▼</i>
                                </div>
                              </div>




                            </div>

                            <!-- Dropdown Menu -->
                            <div class="absolute top-full left-0  w-60 hidden z-50 group-hover:block">
                              <div class="bg-white border border-gray-300 rounded-md shadow-lg p-4 mt-2 ">
                                <!-- Rooms Row -->
                                <div class="flex justify-between items-center mb-4">
                                  <div class="text-sm text-gray-800">Rooms</div>
                                  <div class="flex items-center">
                                    <button type="button" id="decreaseRoom"
                                      class="border border-blue-500 text-blue-500 text-base w-5 h-5 flex items-center justify-center rounded-full hover:bg-blue-500 hover:text-white">
                                      -
                                    </button>
                                    <span id="roomValue" class="mx-3 text-sm font-bold">1</span>
                                    <button id="increaseRoom" type="button"
                                      class="border border-blue-500 text-blue-500 text-base w-5 h-5 flex items-center justify-center rounded-full hover:bg-blue-500 hover:text-white">
                                      +
                                    </button>
                                  </div>
                                </div>

                                <!-- Adults Row -->
                                <div class="flex justify-between items-center mb-4">
                                  <div class="text-sm text-gray-800">
                                    Adults <small class="text-gray-500">(18+ yrs)</small>
                                  </div>
                                  <div class="flex items-center">
                                    <button id="decreaseAdults" type="button"
                                      class="border border-blue-500 text-blue-500 text-base w-5 h-5 flex items-center justify-center rounded-full hover:bg-blue-500 hover:text-white">
                                      -
                                    </button>
                                    <span id="adultsValue" class="mx-3 text-sm font-bold">2</span>
                                    <button id="increaseAdults" type="button"
                                      class="border border-blue-500 text-blue-500 text-base w-5 h-5 flex items-center justify-center rounded-full hover:bg-blue-500 hover:text-white">
                                      +
                                    </button>
                                  </div>
                                </div>

                                <!-- Children Row -->
                                <div class="flex justify-between items-center mb-4">
                                  <div class="text-sm text-gray-800">
                                    Children <small class="text-gray-500">(0-17 yrs)</small>
                                  </div>
                                  <div class="flex items-center">
                                    <button id="decreaseChild" type="button"
                                      class="border border-blue-500 text-blue-500 text-base w-5 h-5 flex items-center justify-center rounded-full hover:bg-blue-500 hover:text-white">
                                      -
                                    </button>
                                    <span id="childValue" class="mx-3 text-sm font-bold">0</span>
                                    <button id="increaseChild" type="button"
                                      class="border border-blue-500 text-blue-500 text-base w-5 h-5 flex items-center justify-center rounded-full hover:bg-blue-500 hover:text-white">
                                      +
                                    </button>
                                  </div>
                                </div>


                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="IgwegXJMvIyzRYxULZmT"><button
                            class="tripui-online-btn tripui-online-btn-large tripui-online-btn-wireframe-primary  tripui-online-btn-block  kDYEOBquYIGEsXVEHYOg"
                            <% if (!(typeof user !=='undefined' && user)) { %>onclick="event.preventDefault();
                            alert('Login is required');"<% } %>>
                              <div class="tripui-online-btn-content"><span class="tripui-online-btn-icon"
                                  style="transform: none;"><i
                                    class="smarticon u-icon u-icon-search Dziv99taAKftKQMblKAT"></i></span><span
                                  class="tripui-online-btn-content-children ">Search</span></div>
                          </button></div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <form class="rd-search" action="/golf/search" data-search-live="rd-search-results-live-NaN" method="GET">
                <div class="search-box-instance-con tab-content" style="display:none;" id="content-golf">
                  <div class="TripHomePageSearchBox">
                    <div dir="ltr" class="AuzgCMGfeOktnuVfBEJB">
                      <div class="DVsbb9IYpr8wqkJiqZ08">
                        <div class="WTchTLTa3EVyF3wCp_RK">
                          <div class="wcukWNYMwVtb9yVjYqWa"><label for="destinationInput"
                              class="Z6KZauxwPGyraHz6XXyw">Destination</label>
                            <div class="t2jAB0kLa8PbqLlGQAM1">
                              <div class="RjHQqkyZuQ3VnBTjrEPs ckOsFcbc4wlgngXhQ4cD"><input
                                  id="rd-navbar-search-form-input-NaN" type="text" name="s" autocomplete="off"
                                  class="Lv9sExYNgio1sOQtYF40" type="text" autocomplete="off"
                                  placeholder="City, airport, region, landmark or property name" value="">
                                <div class="TEyHmILK2DzOsAm_6iif"></div>
                              </div>
                            </div>
                          </div>
                        </div>


                        <div class="IgwegXJMvIyzRYxULZmT"><button
                            class="tripui-online-btn tripui-online-btn-large tripui-online-btn-wireframe-primary  tripui-online-btn-block  kDYEOBquYIGEsXVEHYOg"
                            <% if (!(typeof user !=='undefined' && user)) { %>onclick="event.preventDefault();
                            alert('Login is required');"<% } %>>
                              <div class="tripui-online-btn-content"><span class="tripui-online-btn-icon"
                                  style="transform: none;"><i
                                    class="smarticon u-icon u-icon-search Dziv99taAKftKQMblKAT"></i></span><span
                                  class="tripui-online-btn-content-children ">Search</span></div>
                          </button></div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <form class="rd-search" action="/package/search" data-search-live="rd-search-results-live-NaN"
                method="GET">
                <div class="search-box-instance-con tab-content" style="display:none;" id="content-hotels-golf">
                  <div class="TripHomePageSearchBox">
                    <div dir="ltr" class="AuzgCMGfeOktnuVfBEJB">
                      <div class="DVsbb9IYpr8wqkJiqZ08">
                        <div class="WTchTLTa3EVyF3wCp_RK">
                          <div class="wcukWNYMwVtb9yVjYqWa"><label for="destinationInput"
                              class="Z6KZauxwPGyraHz6XXyw">Destination</label>
                            <div class="t2jAB0kLa8PbqLlGQAM1">
                              <div class="RjHQqkyZuQ3VnBTjrEPs ckOsFcbc4wlgngXhQ4cD"><input
                                  id="rd-navbar-search-form-input-NaN" type="text" name="s" autocomplete="off"
                                  class="Lv9sExYNgio1sOQtYF40" type="text" autocomplete="off"
                                  placeholder="City, airport, region, landmark or property name" value="">
                                <div class="TEyHmILK2DzOsAm_6iif"></div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="IgwegXJMvIyzRYxULZmT"><button
                            class="tripui-online-btn tripui-online-btn-large tripui-online-btn-wireframe-primary  tripui-online-btn-block  kDYEOBquYIGEsXVEHYOg"
                            <% if (!(typeof user !=='undefined' && user)) { %>onclick="event.preventDefault();
                            alert('Login is required');"<% } %>>
                              <div class="tripui-online-btn-content"><span class="tripui-online-btn-icon"
                                  style="transform: none;"><i
                                    class="smarticon u-icon u-icon-search Dziv99taAKftKQMblKAT"></i></span><span
                                  class="tripui-online-btn-content-children ">Search</span></div>
                          </button></div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <form class="rd-search" action="/flight/search" data-search-live="rd-search-results-live-NaN"
                method="GET">
                <div class="search-box-instance-con tab-content" style="display:none;" id="content-flight">

                  <div dir="ltr" class="AuzgCMGfeOktnuVfBEJB" style="padding: 0rem 1rem 1rem 1rem;">
                    <div
                      style="display: flex; justify-content: space-between; align-items: center; padding: 0rem 1rem 0.5rem 1rem;">
                      <div style="display: flex; justify-content: center; align-items: center; gap: 1rem;">

                        <div
                          style="display: flex; justify-content: center; align-items: center; white-space: nowrap; gap: 0.5rem; text-align: center;">
                          <input type="radio" checked value="roundtrip" name="trip_type" onclick="toggleReturn(true)">
                          <label for="round">Round-trip</label>
                        </div>
                        <div
                          style="display: flex; justify-content: center; align-items: center; white-space: nowrap; gap: 0.5rem; text-align: center;">
                          <input type="radio" value="oneway" name="trip_type" onclick="toggleReturn(false)">
                          <label for="one-way">One-way</label>
                        </div>
                        <div
                          style="display: flex; justify-content: center; align-items: center; white-space: nowrap; gap: 0.5rem; text-align: center;">
                          <input type="radio" value="multicity" name="trip_type">
                          <label for="multi-city">Multi-city</label>
                        </div>

                      </div>
                      <div>
                        <div
                          style="display: flex; justify-content: center; align-items: center; white-space: nowrap; gap: 0.5rem; text-align: center;">
                          <input type="checkbox" name="non_stop">
                          <label for="non-stop">Nonstop only</label>
                        </div>
                      </div>
                    </div>

                    <div style="display: flex; align-items: center; ">
                      <div class="relative h-full group hover:border-b-2 border-blue-500" >
                      <div
                        style="display: flex; align-items: center; width: 100%; gap: 0.5rem; font-size: large; margin-right: 0.5rem;">
                        <div style="padding: 1rem; border:1px solid #dadfe6;
                                                  border-radius:4px;
                                                  box-sizing:border-box; width: 100%; height: 56px; ">
                          <input id="airport-dep" type="text" name="from" autocomplete="off"
                            type="text" autocomplete="off" placeholder="City, region" value="">
                        </div>
                        <div style="padding: 1rem; border:1px solid #dadfe6;
                                                  border-radius:4px;
                                                  box-sizing:border-box; width: 100%; height:  56px;">
                          <input id="airport-arv" type="text" name="to" autocomplete="off"
                            type="text" autocomplete="off" placeholder="City, region" >
                        </div>
                      </div>
                      <div  class="absolute top-full w-[140px] hidden z-50 group-hover:block">
                        <div id="airportList" class="bg-white border border-gray-300 rounded-md shadow-lg  mt-2">
        </div></div>
                    </div>
                      <div class="xYMCg_QqPorbG5WNg6Ms">
                        <div class="ziv0jEjaxcgWq6iiTrEQ"><label class="jveskUk1O3jO0s1QGao3"
                            for="checkInInput">Depart</label>
                          <input id="flight_depart" name="flight_depart" type="date" class="fopYR063n_bHFn3cPl0y"
                            style=" min-width: 7rem;" onchange="updateNights('flight_depart','flight_return')">
                        </div>
                        <div class="ziv0jEjaxcgWq6iiTrEQ" id="returnDiv"><label class="oM3BzqhqljBbLzxQeXut"
                            for="checkOutInput">Return</label>
                          <input id="flight_return" name="flight_return" type="date" class="ZAGwwtjiY_ms5G2VJzKa"
                            onchange="updateNights('flight_depart','flight_return')">
                        </div>
                      </div>
                      <div class="hBD91TxW6Uv2IEd2ZK_X" tabindex="-1">
                        <div class="relative h-full group hover:border-b-2 border-blue-500">
                          <!-- Dropdown Header -->
                          <div class="flex justify-between items-center cursor-pointer  w-full h-full"
                            style="overflow: hidden;">
                            <div>
                              <label class="label-text text-gray-500">Passengers</label>

                              <div class="flex items-center space-x-1 mt-1 text-sm font-bold ">
                                <!-- Adults Input -->
                                <div class="flex items-center space-x-1">
                                  <span id="showPassenger" class=" text-block">2</span>
                                  <input id="adultsFlightInput" name="adults" type="number" min="1" value="2"
                                    style="display: none;" readonly />
                                  <input id="childFlightInput" name="child" type="number" min="0" value="0"
                                    style="display: none;" readonly />
                                  <input id="infantsFlightInput" name="infants" type="number" min="0" value="0"
                                    style="display: none;" readonly />
                                  <span class=" text-black">Passengers,</span>
                                </div>

                                <!-- flight Clss -->
                                <div class="flex items-center space-x-1">
                                  <span id="showClass" class=" text-xs">ECONOMY</span>
                                </div>
                                <i class="text-gray-600 text-xs">▼</i>
                              </div>

                            </div>




                          </div>

                          <!-- Dropdown Menu -->
                          <div class="absolute top-full  w-60 hidden z-50 group-hover:block">
                            <div class="bg-white border border-gray-300 rounded-md shadow-lg p-4 mt-2 ">

                              <!-- Adults Row -->
                              <div class="flex justify-between items-center mb-4">
                                <div class="text-sm text-gray-800">
                                  <div>Adults</div> <span class="text-xs text-gray-500">(18+ yrs)</span>
                                </div>
                                <div class="flex items-center">
                                  <button id="decreaseFlightAdults" type="button"
                                    class="border border-blue-500 text-blue-500 text-base w-5 h-5 flex items-center justify-center rounded-full hover:bg-blue-500 hover:text-white">
                                    -
                                  </button>
                                  <span id="adultsFlightValue" class="mx-3 text-sm font-bold">2</span>
                                  <button id="increaseFlightAdults" type="button"
                                    class="border border-blue-500 text-blue-500 text-base w-5 h-5 flex items-center justify-center rounded-full hover:bg-blue-500 hover:text-white">
                                    +
                                  </button>
                                </div>
                              </div>

                              <!-- Children Row -->
                              <div class="flex justify-between items-center mb-4">
                                <div class="text-sm text-gray-800">
                                  <div>Children</div> <span class="text-xs text-gray-500">(0-17 yrs)</span>
                                </div>
                                <div class="flex items-center">
                                  <button id="decreaseFlightChild" type="button"
                                    class="border border-blue-500 text-blue-500 text-base w-5 h-5 flex items-center justify-center rounded-full hover:bg-blue-500 hover:text-white">
                                    -
                                  </button>
                                  <span id="childFlightValue" class="mx-3 text-sm font-bold">0</span>
                                  <button id="increaseFlightChild" type="button"
                                    class="border border-blue-500 text-blue-500 text-base w-5 h-5 flex items-center justify-center rounded-full hover:bg-blue-500 hover:text-white">
                                    +
                                  </button>
                                </div>
                              </div>

                              <!-- infants Row -->
                              <div class="flex justify-between items-center mb-4">
                                <div class="text-sm text-gray-800">
                                  <div>Infants on lap</div> <span class="text-xs text-gray-500">(Under 2 yrs)</span>
                                </div>
                                <div class="flex items-center">
                                  <button id="decreaseFlightinfants" type="button"
                                    class="border border-blue-500 text-blue-500 text-base w-5 h-5 flex items-center justify-center rounded-full hover:bg-blue-500 hover:text-white">
                                    -
                                  </button>
                                  <span id="infantsFlightValue" class="mx-3 text-sm font-bold">0</span>
                                  <button id="increaseFlightinfants" type="button"
                                    class="border border-blue-500 text-blue-500 text-base w-5 h-5 flex items-center justify-center rounded-full hover:bg-blue-500 hover:text-white">
                                    +
                                  </button>
                                </div>
                              </div>
                              <select name="classType" id="flightClass" style="
                                                          border: 1px solid #d1d5db; /* border-gray-300 */
                                                          color: #111827; /* text-gray-900 */
                                                          border-radius: 0.2rem; /* rounded-lg */
                                                          width: 100%; /* block w-full */
                                                          padding: 0.625rem; /* p-2.5 */
                                                          outline: none;
                                                        "
                                onfocus="this.style.borderColor = '#3b82f6'; this.style.boxShadow = '0 0 0 2px #3b82f6';"
                                onblur="this.style.borderColor = '#d1d5db'; this.style.boxShadow = 'none';"
                                onchange="document.getElementById('showClass').innerText = this.value;">
                                <option selected value="ECONOMY">ECONOMY</option>
                                <option value="PREMIUM_ECONOMY">PREMIUM ECONOMY</option>
                                <option value="BUSINESS">BUSINESS</option>
                                <option value="FIRST">FIRST CLASS</option>
                              </select>


                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="IgwegXJMvIyzRYxULZmT"><button
                          class="tripui-online-btn tripui-online-btn-large tripui-online-btn-wireframe-primary  tripui-online-btn-block  kDYEOBquYIGEsXVEHYOg"
                          <% if (!(typeof user !=='undefined' && user)) { %>onclick="event.preventDefault();
                          alert('Login is required');"<% } %>>
                            <div class="tripui-online-btn-content"><span class="tripui-online-btn-icon"
                                style="transform: none;"><i
                                  class="smarticon u-icon u-icon-search Dziv99taAKftKQMblKAT"></i></span><span
                                class="tripui-online-btn-content-children ">Search</span></div>
                        </button></div>
                    </div>
                  </div>
                </div>

              </form>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="home-trustpilot" style="margin-top: 10px; "></div>
  </div>
</div>
<script>
  // Get all tabs and content
  const tabs = document.querySelectorAll('.mc-srh-box__tab-item');
  const contentSections = document.querySelectorAll('.tab-content');

  // Function to hide all content and remove active class from all tabs
  function resetTabs() {
    tabs.forEach(tab => tab.classList.remove('is-active'));
    contentSections.forEach(section => section.style.display = 'none');
  }

  // Add event listeners for each tab
  tabs.forEach(tab => {
    tab.addEventListener('click', function () {
      resetTabs(); // Hide all content and remove active class
      tab.classList.add('is-active'); // Add active class to the clicked tab

      // Display the corresponding content section based on the tab clicked
      const tabId = tab.id.replace('tab-', 'content-');
      document.getElementById(tabId).style.display = 'block';
    });
  });
</script>
<script src="/scripts/auth.js"></script>
<script>
  function toggleUserMenu() {
    var menu = document.getElementById("userMenu");
    menu.classList.toggle("show");
  }

  function showHotelsList() {
    var list = document.getElementById("hotelsList");
    list.classList.add("show");
  }

  function hideHotelsList() {
    var list = document.getElementById("hotelsList");
    list.classList.remove("show");
  }

  // Close the dropdown menu if the user clicks outside of it
  window.onclick = function (event) {
    if (!event.target.matches('.button-text')) {
      var dropdowns = document.getElementsByClassName("user-menu");
      for (var i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }

  // Show/hide scroll navigation and banner
  window.onscroll = function () {
    var scrollNav = document.getElementById("scrollNav");
    var scrollBanner = document.getElementById("scrollBanner");
    if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 200) {
      scrollNav.style.display = "flex";
      scrollBanner.style.display = "flex";
    } else {
      scrollNav.style.display = "none";
      scrollBanner.style.display = "none";
    }
  };

  function scrollToTop() {
    window.scrollTo({ top: 0, behavior: 'smooth' });
  }

  function scrollToCart() {
    // Implement this function to scroll to the cart section
  }

  function scrollToBestSellers() {
    // Implement this function to scroll to the Best Sellers section
  }

  function scrollToFireSales() {
    // Implement this function to scroll to the Fire Sales section
  }

  function scrollToEarlyBird() {
    // Implement this function to scroll to the Early Bird section
  }

  function scrollToPolicies() {
    // Implement this function to scroll to the Policies section
  }

//  airport search input autocomplete
  const airportSearchDep = document.getElementById("airport-dep");
  const airportSearchArv = document.getElementById("airport-arv");
const airportList = document.getElementById("airportList");

  const outputHtml = (fits,inputId) => {
  if (fits.length > 0) {
    const airportFits = fits
      .map(
        (fit) =>
          `<div class="flex items-center cursor-pointer hover:bg-gray-200" data-iata="${fit.iata_code}" style="padding-left:1rem; padding-top:10px; padding-buttom:10px">
            <div style="margin-right: 15px; 
  background-color: #5dade2; 
  color: white; 
  width: 40px; 
  height: 40px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  border-radius: 10%;
  font-weight: bold;">${fit.iata_code}</div>
            <div class="airport__id">
              <h3 class="airport__name">${fit.name}</h3>
              <div class="flex">
                <p class="airport__city">${fit.city}, </p> 
                <p class="airport__country">${fit.country}</p>
              </div>
            </div>
          </div>`
      )
      .join("");

    airportList.innerHTML = airportFits;

    // เพิ่ม Event Listener ให้กับแต่ละตัวเลือก
    document.querySelectorAll("#airportList div").forEach((item) => {
      item.addEventListener("click", (e) => {
        const selectedIata = e.currentTarget.getAttribute("data-iata");
        inputId.value = selectedIata; // ใส่ค่าใน input
        airportList.innerHTML = ""; // ล้างผลลัพธ์ที่แสดง
      });
    });
  } else { 
    airportList.innerHTML = ""; // ล้างผลลัพธ์ถ้าไม่มีข้อมูล
  }
};

  document.addEventListener("DOMContentLoaded", function () {
    let showPassengerValue = 2;
    const elements = [
      { input: 'roomInput', value: 'roomValue', decrease: 'decreaseRoom', increase: 'increaseRoom' },
      { input: 'adultsInput', value: 'adultsValue', decrease: 'decreaseAdults', increase: 'increaseAdults' },
      { input: 'childInput', value: 'childValue', decrease: 'decreaseChild', increase: 'increaseChild' },
      { input: 'adultsFlightInput', value: 'adultsFlightValue', decrease: 'decreaseFlightAdults', increase: 'increaseFlightAdults' },
      { input: 'childFlightInput', value: 'childFlightValue', decrease: 'decreaseFlightChild', increase: 'increaseFlightChild' },
      { input: 'infantsFlightInput', value: 'infantsFlightValue', decrease: 'decreaseFlightinfants', increase: 'increaseFlightinfants' }
    ];

    function updateValue(inputId, valueId, change) {

      const inputElement = document.getElementById(inputId);
      const valueElement = document.getElementById(valueId);
      let currentValue = parseInt(inputElement.value, 10);
      if (change === 'increase') {
        currentValue += 1;
        showPassengerValue += 1;
      } else if (change === 'decrease' && currentValue > 0) {
        currentValue -= 1;
        showPassengerValue -= 1;
      }
      inputElement.value = currentValue;
      valueElement.textContent = currentValue;
      document.getElementById("showPassenger").textContent = showPassengerValue
    }

    elements.forEach(element => {
      document.getElementById(element.increase).addEventListener('click', () => updateValue(element.input, element.value, 'increase'));
      document.getElementById(element.decrease).addEventListener('click', () => updateValue(element.input, element.value, 'decrease'));
    });



    airportSearchDep.addEventListener("input", () => searchairport(airportSearchDep.value,airportSearchDep));
    airportSearchArv.addEventListener("input", () => searchairport(airportSearchArv.value,airportSearchArv));
  });

  const today = new Date();

  function formatDate(date) {
    const year = date.getFullYear();
    const month = String(date.getMonth() + 1).padStart(2, '0');
    const day = String(date.getDate()).padStart(2, '0');
    return `${year}-${month}-${day}`;
  }

  function setMinDate(start, end) {
    const checkInDate = new Date(document.getElementById(start).value);

    // ถ้าวันที่เช็คอินถูกเลือกแล้ว ให้ตั้ง min ของ checkOut เป็นวันถัดไปจาก checkIn
    if (checkInDate) {
      const checkOutDate = new Date(checkInDate);
      checkOutDate.setDate(checkInDate.getDate() + 1); // เพิ่ม 1 วันให้กับ checkIn

      const checkOutInput = document.getElementById(end);

      // ตั้งค่า min ของ checkOut
      checkOutInput.min = formatDate(checkOutDate);

      // หาก checkOut น้อยกว่า checkIn (เลือกวันที่ก่อนหน้า) ให้ตั้งค่า value ของ checkOut เป็นวันถัดไปจาก checkIn
      if (new Date(checkOutInput.value) < checkOutDate) {
        checkOutInput.value = formatDate(checkOutDate);
      }
      updateNights(start, end)
    }
  }
  function setMinDateFlight(start, end) {
    const checkInDate = new Date(document.getElementById(start).value);

    // ถ้าวันที่เช็คอินถูกเลือกแล้ว ให้ตั้ง min ของ checkOut เป็นวันถัดไปจาก checkIn
    if (checkInDate) {
      const checkOutDate = new Date(checkInDate);
      checkOutDate.setDate(checkInDate.getDate()); // เพิ่ม 1 วันให้กับ checkIn

      const checkOutInput = document.getElementById(end);

      // ตั้งค่า min ของ checkOut
      checkOutInput.min = formatDate(checkOutDate);

      // หาก checkOut น้อยกว่า checkIn (เลือกวันที่ก่อนหน้า) ให้ตั้งค่า value ของ checkOut เป็นวันถัดไปจาก checkIn
      if (new Date(checkOutInput.value) < checkOutDate) {
        checkOutInput.value = formatDate(checkOutDate);
      }
      updateNights(start, end)
    }
  }

  // ฟังก์ชันเพื่อกำหนดค่าเริ่มต้น
  function setDefaultDates(start, end) {
    // แปลงวันที่ให้อยู่ในรูปแบบ YYYY-MM-DD
    document.getElementById(start).value = formatDate(today);
    document.getElementById(start).min = formatDate(today);
    document.getElementById(end).value = formatDate(new Date(today.getTime() + 24 * 60 * 60 * 1000)); // วันที่ถัดไป
    updateNights(start, end);
  }

  function updateNights(start, end) {
    const checkIn = new Date(document.getElementById(start).value);
    const checkOut = new Date(document.getElementById(end).value);

    if (checkOut > checkIn) {
      const timeDifference = checkOut.getTime() - checkIn.getTime(); // คำนวณระยะเวลาเป็นมิลลิวินาที
      const nights = Math.ceil(timeDifference / (1000 * 60 * 60 * 24)); // แปลงจากมิลลิวินาทีเป็นวัน
      document.getElementById('nightsLabelSearch').textContent = `${nights} night${nights > 1 ? 's' : ''}`;
    } else {
      document.getElementById('nightsLabelSearch').textContent = 'Invalid dates';
    }
  }

  document.getElementById('hotel_checkInDate').value = formatDate(today);
  // ตั้งค่าขีดจำกัดไม่ให้เลือกวันก่อนวันที่ปัจจุบัน
  document.getElementById('hotel_checkInDate').setAttribute('min', formatDate(today));

  // เรียกใช้งานฟังก์ชันเพื่อกำหนดค่าเริ่มต้นเมื่อโหลดหน้าเว็บ
  setDefaultDates('checkInSearch', 'checkOutSearch');
  setDefaultDates('flight_depart', 'flight_return');

  // ตั้งค่า min ของ checkIn และ checkOut เมื่อเลือกวันที่
  document.getElementById('checkInSearch').addEventListener('change', () => setMinDate('checkInSearch', 'checkOutSearch'));
  document.getElementById('flight_depart').addEventListener('change', () => setMinDateFlight('flight_depart', 'flight_return'));


  function toggleReturn(show) {
    const returnDiv = document.getElementById('returnDiv');
    if (show) {
      returnDiv.style.display = 'flex';
    } else {
      returnDiv.style.display = 'none';
    }
  }

  async function  searchairport (searchBox,inputId) {
  // get json
  const res = await fetch("https://raw.githubusercontent.com/algolia/datasets/master/airports/airports.json");
  const airports = await res.json();

  // get data
  let fits = airports.filter((airport) => {
    const regex = new RegExp(`^${searchBox}`, "gi");
    return (
      airport.country.match(regex) ||
      airport.name.match(regex) ||
      airport.city.match(regex) ||
     airport.iata_code.match(regex)
    );
  });

  if (searchBox.length === 0) {
    fits = [];
    airportList.innerHTML = "";
  }
  outputHtml(fits,inputId);
};

</script>