<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%- title %></title>

  <!-- tailwindcss -->
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/styles/indexAdmin.css" />
  <!-- font awesome -->
  <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />-->
  <!-- flatpickr.min.css -->
  <!-- <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
    /> -->
  <!-- flowbite -->
  <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
  <!-- froala xysiwyg -->
<!-- Froala CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/froala-editor@4.1.1/css/froala_editor.pkgd.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/froala-editor@4.1.1/css/froala_style.min.css">

  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
  <!-- <script src="./jQuery.js"></script> -->
</head>

<body>
  <main class="relative"><%- include('../partials/adminSidebar') %></main>
  <!-- all content is in id=dashboard-content -->
  <!-- navbar/navbar.ejs -->
  <!-- <script src="/js/navber/menuList.js"></script> -->
  <!-- sidebar -->
  <script src="/js/sidebar/adminLink.js"></script>
  <script src="/js/admins/layout.js"></script>
  <!-- flowbite -->
  <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
  <!-- bootstrap js -->
  <!-- <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script> -->
  <!-- flatpickr.min.js -->
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <!-- froala xysiwyg -->
  <script src="https://cdn.jsdelivr.net/npm/froala-editor@4.1.1/js/froala_editor.pkgd.min.js"></script>



 
  <!-- <script>
    flatpickr("#CheckInDate", {
      enableTime: true,
      dateFormat: "Y-m-d",
      mode: "range",
      minDate: "today",
    });
  </script> -->

</body>

</html>