<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header-hotel-details') %>

    <section class="breadcrumbs-custom bg-image context-dark" style="background-image: url(/images/aboutbg.png);">
        <div class="breadcrumbs-custom-inner">
          <div class="container breadcrumbs-custom-container">
            <div class="breadcrumbs-custom-main">
              <h6 class="breadcrumbs-custom-subtitle title-decorated">AFFILIATE-CONTACT</h6>
              <h1 class="breadcrumbs-custom-title">AFFILIATE-CONTACT</h1>
            </div>
            <ul class="breadcrumbs-custom-path">
              <li><a href="/">Home</a></li>
              <li class="active">AFFILIATE-CONTACT</li>
            </ul>
          </div>
        </div>
      </section>
      <!--Overview-->
      <!-- Overview-->
      <section class="section section-lg left-pattern">
        <div class="container">
          <div class="row row-50 justify-content-center justify-content-lg-between">
            <div class="col-md-10 col-lg-6">
                <img class="img-responsive" src="/images/affiliate.png" alt="" width="560" height="480"/>
            </div>
            <div class="col-md-10 col-lg-6 col-xl-5"> 

              <h3 class="wow-outer font-weight-bold text-gray-800"><span class="wow slideInUp" style="font-family:'LatoWeb' ;">Affiliate Contact</span></h3>
              <h5 class="offset-top-3 text-gray-800 font-weight-light">
                DiveXT Co., Ltd has partnered with several hotels and golf clubs
                We are in charge of selling new accommodation and golf rounding.
                If you need a business partnership, please feel free to contact me.<br><br>
            </h5>
            <p>
               <h4 style="font-family:'LatoWeb'"> [The representative partnership target]</h4><br>
                1. 4 and 5 star hotels and golf country clubs located throughout Thailand<br><br>
                2. Corporations and agencies attracting travelers to Thailand<br><br>
                3. Private businesses and voucher resellers seeking corporate transformation<br><br>
              </p>
             
            
            </div>
          </div>
        </div>
      </section>
      <!--Our history-->
    
      <!--Testimonials-->
 
      <!-- Latest Blog Posts-->
  
  



    <%- include('../partials/footer') %>
   
</body>
</html>