<!DOCTYPE html>
<html lang="en">
<%- include('../partials/foot-head') %>
<%- include('../partials/careers-head') %>
<link rel="stylesheet" href="/css/contact-us.css">
<link rel="stylesheet" href="/css/bootstrap.css">
<body>


          
            <div class="PropositionStyles" style="background: rgb(40, 125, 250);">
                <div class="TitleCircle">
                    <div class="TitleCircle_text">Employer Value Proposition<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                            <circle cx="4" cy="4" r="4" fill="#FFB400"></circle>
                        </svg></div>
                </div>
                <div class="PropositionStyles_content">
                    <div class="PropositionStyles_content_img">
                        <div style="opacity: 1; transition: opacity 0.3s; background-image: url(&quot;https://images3.c-ctrip.com/HrCareers/CareersHome/EVP3.jpg?__ares_maxage=0&quot;);"></div>
                        <div style="opacity: 0; transition: opacity 0.3s; background-image: url(&quot;https://images3.c-ctrip.com/HrCareers/CareersHome/EVP2.jpg?__ares_maxage=0&quot;);"></div>
                        <div style="opacity: 0; transition: opacity 0.3s; background-image: url(&quot;https://images3.c-ctrip.com/HrCareers/CareersHome/EVP1.jpg?__ares_maxage=0&quot;);"></div>
                    </div>
                    <div class="PropositionStyles_content_card">
                        <div class="PropositionStyles_content_card_item">
                            <div class="PropositionStyles_content_card_item_content" style="height: 200px; opacity: 1;">
                                <div class="PropositionStyles_content_card_item_content_title"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <circle cx="8" cy="8" r="8" fill="#FFB400"></circle>
                                    </svg>Strive for the Top</div>
                                <div class="PropositionStyles_content_card_item_content_desc">Trip.com Group never stops dreaming big and aiming high. Our mission, vision, and focus on high quality enables us to pursue mastery of our craft to deliver the best possible solutions. By tackling challenges and pursuing excellence, we keep growing and bettering ourselves at the same time.</div>
                            </div>
                            <div class="PropositionStyles_content_card_item_dian"><svg xmlns="http://www.w3.org/2000/svg" width="4" height="44" viewBox="0 0 4 44" fill="none">
                                    <circle cx="2" cy="2" r="2" fill="white"></circle>
                                    <circle cx="2" cy="22" r="2" fill="white"></circle>
                                    <circle cx="2" cy="42" r="2" fill="white"></circle>
                                </svg></div>
                        </div>
                        <div class="PropositionStyles_content_card_item">
                            <div class="PropositionStyles_content_card_item_content" style="height: 64px; opacity: 0.7;">
                                <div class="PropositionStyles_content_card_item_content_title"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <circle cx="8" cy="8" r="8" fill="#FFB400"></circle>
                                    </svg>Create Greatness Together</div>
                                <div class="PropositionStyles_content_card_item_content_desc">We believe in creating a safe space, where discussion is open, ideas flourish, and the best solutions win. Together as a team, we respect and support each other. This allows us to build closer connections and make bigger achievements.</div>
                            </div>
                            <div class="PropositionStyles_content_card_item_dian"><svg xmlns="http://www.w3.org/2000/svg" width="4" height="44" viewBox="0 0 4 44" fill="none">
                                    <circle cx="2" cy="2" r="2" fill="white"></circle>
                                    <circle cx="2" cy="22" r="2" fill="white"></circle>
                                    <circle cx="2" cy="42" r="2" fill="white"></circle>
                                </svg></div>
                        </div>
                        <div class="PropositionStyles_content_card_item">
                            <div class="PropositionStyles_content_card_item_content" style="height: 64px; opacity: 0.7;">
                                <div class="PropositionStyles_content_card_item_content_title"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <circle cx="8" cy="8" r="8" fill="#FFB400"></circle>
                                    </svg>Celebrate a Full Life</div>
                                <div class="PropositionStyles_content_card_item_content_desc">Life is about much more than just work. Trip.com Group is here to support you in every aspect in and out of the workplace. At the same time, being in the travel industry allows us to harness our passion and embrace the traveler in our hearts to pursue the perfect lifetime trip for ourselves.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
            <div class="JobCategoryStyles">
                <div class="TitleCircle">
                    <div class="TitleCircle_text">Job Type<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                            <circle cx="4" cy="4" r="4" fill="#FFB400"></circle>
                        </svg></div>
                </div>
                <div class="JobCategoryStyles_content">
                    <div class="JobCategoryStyles_content_card">
                        <div  style="width:47%; margin: 0 20px 20px 0; padding:2%; display:flex; align-items: center;  gap:12px;background-color: rgb(211, 221, 226); border-radius:10px;">
                           <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                                <path d="M14.1246 19.035C14.1246 19.1725 14.2309 19.285 14.359 19.285H20.1403C20.2684 19.285 20.3746 19.1725 20.3746 19.035V17.535C20.3746 17.3975 20.2684 17.285 20.1403 17.285H14.359C14.2309 17.285 14.1246 17.3975 14.1246 17.535V19.035ZM8.03401 19.2257L14.034 14.1944C14.1528 14.0944 14.1528 13.91 14.034 13.81L8.03401 8.78191C7.99779 8.75111 7.95349 8.73135 7.90637 8.72497C7.85926 8.7186 7.8113 8.72588 7.7682 8.74595C7.72509 8.76602 7.68865 8.79804 7.66321 8.8382C7.63776 8.87837 7.62437 8.92499 7.62463 8.97254V10.9319C7.62463 11.0069 7.65588 11.0757 7.71526 11.1225L11.1465 14.0038L7.71526 16.885C7.68733 16.9084 7.66477 16.9376 7.64913 16.9705C7.63349 17.0034 7.62513 17.0392 7.62463 17.0757V19.035C7.62463 19.2475 7.87151 19.3632 8.03401 19.2257ZM25.4996 1.50378H2.49963C1.94651 1.50378 1.49963 1.95066 1.49963 2.50378V25.5038C1.49963 26.0569 1.94651 26.5038 2.49963 26.5038H25.4996C26.0528 26.5038 26.4996 26.0569 26.4996 25.5038V2.50378C26.4996 1.95066 26.0528 1.50378 25.4996 1.50378ZM24.2496 24.2538H3.74963V3.75378H24.2496V24.2538Z" fill="#0F294D"></path>
                                </svg> 
                                <span >programmer</span>

                            <div class="JobCategoryStyles_content_card_item_content">
                                <p></p>
                                <p>Anyone who works hard together is always welcome</p>
                            </div>
                        </div> 
                        <div  style="width:47%; margin: 0 20px 20px 0; padding:2%; display:flex; align-items: center;  gap:12px;background-color: rgb(211, 221, 226); border-radius:10px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                                <path d="M12.5002 2.50189H3.00024C2.72524 2.50189 2.50024 2.72689 2.50024 3.00189V12.5019C2.50024 12.7769 2.72524 13.0019 3.00024 13.0019H12.5002C12.7752 13.0019 13.0002 12.7769 13.0002 12.5019V3.00189C13.0002 2.72689 12.7752 2.50189 12.5002 2.50189ZM10.8752 10.8769H4.62524V4.62689H10.8752V10.8769ZM25.0002 2.50189H15.5002C15.2252 2.50189 15.0002 2.72689 15.0002 3.00189V12.5019C15.0002 12.7769 15.2252 13.0019 15.5002 13.0019H25.0002C25.2752 13.0019 25.5002 12.7769 25.5002 12.5019V3.00189C25.5002 2.72689 25.2752 2.50189 25.0002 2.50189ZM23.3752 10.8769H17.1252V4.62689H23.3752V10.8769ZM12.5002 15.0019H3.00024C2.72524 15.0019 2.50024 15.2269 2.50024 15.5019V25.0019C2.50024 25.2769 2.72524 25.5019 3.00024 25.5019H12.5002C12.7752 25.5019 13.0002 25.2769 13.0002 25.0019V15.5019C13.0002 15.2269 12.7752 15.0019 12.5002 15.0019ZM10.8752 23.3769H4.62524V17.1269H10.8752V23.3769ZM25.0002 15.0019H15.5002C15.2252 15.0019 15.0002 15.2269 15.0002 15.5019V25.0019C15.0002 25.2769 15.2252 25.5019 15.5002 25.5019H25.0002C25.2752 25.5019 25.5002 25.2769 25.5002 25.0019V15.5019C25.5002 15.2269 25.2752 15.0019 25.0002 15.0019ZM23.3752 23.3769H17.1252V17.1269H23.3752V23.3769Z" fill="#0F294D"></path>
                            </svg> 
                                 <span >Designer</span>
 
                             <div class="JobCategoryStyles_content_card_item_content">
                                 <p></p>
                                 <p>Anyone who works hard together is always welcome</p>
                             </div>
                         </div> 
                         <div  style="width:47%; margin: 0 20px 20px 0; padding:2%; display:flex; align-items: center;  gap:12px;background-color: rgb(211, 221, 226); border-radius:10px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                               <path d="M24.7 23.0281C24.7063 23.0188 24.7156 23.0094 24.7219 23C26.7687 20.5656 28 17.4281 28 14C28 10.5719 26.7688 7.43437 24.725 5C24.7188 4.99062 24.7094 4.98438 24.7031 4.975C24.6688 4.93437 24.6375 4.89687 24.6031 4.85938C24.5906 4.84375 24.5781 4.83125 24.5656 4.81563L24.4375 4.66875L24.4344 4.66563C24.3875 4.6125 24.3375 4.55937 24.2906 4.50625L24.2875 4.50313C24.1875 4.39688 24.0875 4.29063 23.9844 4.1875L23.9813 4.18437L23.8312 4.03438L23.8219 4.025C23.775 3.97813 23.7281 3.93438 23.6812 3.89062C23.6656 3.875 23.65 3.85938 23.6313 3.84375C23.6 3.8125 23.5688 3.78437 23.5375 3.75625C23.5281 3.74687 23.5156 3.7375 23.5063 3.725C21.0125 1.4125 17.6719 0 14 0C10.3281 0 6.9875 1.4125 4.49062 3.725C4.48125 3.73438 4.46875 3.74375 4.45937 3.75625C4.42812 3.78437 4.39687 3.81563 4.36562 3.84688C4.35 3.8625 4.33438 3.87813 4.31563 3.89375C4.26875 3.9375 4.22188 3.98437 4.175 4.02812L4.16563 4.0375L4.01562 4.1875L4.0125 4.19063C3.90937 4.29375 3.80937 4.4 3.70937 4.50625L3.70625 4.50938C3.65625 4.5625 3.60938 4.61562 3.5625 4.66875L3.55937 4.67188C3.51562 4.71875 3.47188 4.76875 3.43125 4.81875C3.41875 4.83437 3.40625 4.84688 3.39375 4.8625C3.35938 4.9 3.32812 4.94063 3.29375 4.97813C3.2875 4.9875 3.27812 4.99375 3.27187 5.00313C1.23125 7.43438 0 10.5719 0 14C0 17.4281 1.23125 20.5656 3.275 23C3.28125 23.0094 3.29063 23.0188 3.29688 23.0281L3.39375 23.1437C3.40625 23.1594 3.41875 23.1719 3.43125 23.1875L3.55937 23.3344C3.55937 23.3375 3.5625 23.3375 3.5625 23.3406C3.60938 23.3938 3.65625 23.4469 3.70625 23.4969L3.70937 23.5C3.80937 23.6063 3.90938 23.7125 4.00938 23.8156L4.0125 23.8188C4.0625 23.8687 4.10938 23.9188 4.15938 23.9656L4.16875 23.975C4.27187 24.0781 4.37813 24.1781 4.48438 24.275C6.9875 26.5875 10.3281 28 14 28C17.6719 28 21.0125 26.5875 23.5094 24.275C23.6158 24.1774 23.72 24.0774 23.8219 23.975L23.8312 23.9656C23.8812 23.9156 23.9312 23.8687 23.9781 23.8188L23.9813 23.8156C24.0844 23.7125 24.1844 23.6063 24.2812 23.5L24.2844 23.4969C24.3312 23.4438 24.3813 23.3938 24.4281 23.3406C24.4281 23.3375 24.4312 23.3375 24.4312 23.3344C24.475 23.2875 24.5188 23.2375 24.5594 23.1875C24.5719 23.1719 24.5844 23.1594 24.5969 23.1437C24.6322 23.1061 24.6666 23.0675 24.7 23.0281ZM24.8281 18.5719C24.3969 19.5906 23.8281 20.5344 23.1344 21.3906C22.3531 20.7154 21.4988 20.1295 20.5875 19.6437C20.95 18.1781 21.175 16.5688 21.2344 14.875H25.7188C25.625 16.1531 25.325 17.3937 24.8281 18.5719ZM25.7188 13.125H21.2344C21.175 11.4312 20.95 9.82187 20.5875 8.35625C21.5031 7.86875 22.3562 7.28125 23.1344 6.60938C24.6424 8.46555 25.5445 10.7398 25.7188 13.125ZM18.5719 3.17188C19.8125 3.69688 20.9406 4.42188 21.9344 5.33437C21.3571 5.82592 20.7357 6.26318 20.0781 6.64062C19.5875 5.23438 18.9594 4.0125 18.2281 3.03438C18.3438 3.07813 18.4594 3.125 18.5719 3.17188ZM15.7406 25.0656C15.4531 25.2906 15.1656 25.4625 14.875 25.5781V19.7812C16.115 19.8678 17.3343 20.1439 18.4906 20.6C18.2313 21.3687 17.9312 22.0781 17.5844 22.7188C17.0406 23.7313 16.4031 24.5406 15.7406 25.0656ZM17.5844 5.28125C17.9281 5.925 18.2313 6.63437 18.4906 7.4C17.3343 7.85611 16.115 8.13224 14.875 8.21875V2.425C15.1625 2.54063 15.4531 2.70937 15.7406 2.9375C16.4031 3.45937 17.0406 4.26875 17.5844 5.28125ZM14.875 18.0281V14.875H19.4844C19.4344 16.2563 19.2625 17.5969 18.975 18.8687L18.9656 18.9062C17.6542 18.4089 16.275 18.1129 14.875 18.0281ZM14.875 13.125V9.97188C16.3062 9.88438 17.6813 9.58125 18.9656 9.09375L18.975 9.13125C19.2625 10.4031 19.4344 11.7406 19.4844 13.125H14.875ZM13.125 14.875V18.0281C11.6938 18.1156 10.3188 18.4188 9.03438 18.9062L9.025 18.8687C8.7375 17.5969 8.56563 16.2594 8.51562 14.875H13.125ZM8.51562 13.125C8.56563 11.7437 8.7375 10.4031 9.025 9.13125L9.03438 9.09375C10.3188 9.58125 11.6906 9.88438 13.125 9.97188V13.125H8.51562ZM13.125 19.7812V25.575C12.8375 25.4594 12.5469 25.2906 12.2594 25.0625C11.5969 24.5406 10.9563 23.7281 10.4125 22.7156C10.0688 22.0719 9.76562 21.3625 9.50625 20.5969C10.6688 20.1406 11.8781 19.8687 13.125 19.7812ZM13.125 8.21875C11.885 8.13224 10.6657 7.85611 9.50937 7.4C9.76875 6.63125 10.0687 5.92188 10.4156 5.28125C10.9594 4.26875 11.5969 3.45625 12.2625 2.93437C12.55 2.70937 12.8375 2.5375 13.1281 2.42188V8.21875H13.125ZM9.42813 3.17188C9.54375 3.125 9.65625 3.07813 9.77188 3.03438C9.04063 4.0125 8.4125 5.23438 7.92188 6.64062C7.26562 6.26562 6.64375 5.82812 6.06563 5.33437C7.05938 4.42188 8.1875 3.69688 9.42813 3.17188ZM3.17188 9.42813C3.60313 8.40938 4.17188 7.46562 4.86562 6.60938C5.64375 7.28125 6.49688 7.86875 7.4125 8.35625C7.05 9.82187 6.825 11.4312 6.76562 13.125H2.28125C2.375 11.8469 2.675 10.6063 3.17188 9.42813ZM2.28125 14.875H6.76562C6.825 16.5688 7.05 18.1781 7.4125 19.6437C6.50119 20.1295 5.64694 20.7154 4.86562 21.3906C3.35759 19.5345 2.45552 17.2602 2.28125 14.875ZM9.42813 24.8281C8.1875 24.3031 7.05938 23.5781 6.06563 22.6656C6.64375 22.1719 7.26562 21.7375 7.92188 21.3594C8.4125 22.7656 9.04063 23.9875 9.77188 24.9656C9.65625 24.9219 9.54063 24.875 9.42813 24.8281ZM18.5719 24.8281C18.4562 24.875 18.3438 24.9219 18.2281 24.9656C18.9594 23.9875 19.5875 22.7656 20.0781 21.3594C20.7344 21.7344 21.3563 22.1719 21.9344 22.6656C20.9461 23.5743 19.8086 24.3059 18.5719 24.8281Z" fill="#0F294D"></path>
                          </svg> 
                                 <span >Executive</span>
 
                             <div class="JobCategoryStyles_content_card_item_content">
                                 <p></p>
                                 <p>Anyone who works hard together is always welcome</p>
                             </div>
                         </div> 
                         <div  style="width:47%; margin: 0 20px 20px 0; padding:2%; display:flex; align-items: center;  gap:12px;background-color: rgb(211, 221, 226); border-radius:10px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                                <path d="M13.9995 1.99622C7.3714 1.99622 1.99953 7.36809 1.99953 13.9962V25.2462C1.99953 25.6618 2.3339 25.9962 2.74953 25.9962H8.49953C9.60265 25.9962 10.4995 25.0993 10.4995 23.9962V17.4962C10.4995 16.3931 9.60265 15.4962 8.49953 15.4962H4.24953V13.9962C4.24953 8.61184 8.61515 4.24622 13.9995 4.24622C19.3839 4.24622 23.7495 8.61184 23.7495 13.9962V15.4962H19.4995C18.3964 15.4962 17.4995 16.3931 17.4995 17.4962V23.9962C17.4995 25.0993 18.3964 25.9962 19.4995 25.9962H25.2495C25.6652 25.9962 25.9995 25.6618 25.9995 25.2462V13.9962C25.9995 7.36809 20.6277 1.99622 13.9995 1.99622ZM8.24953 17.7462V23.7462H4.24953V17.7462H8.24953ZM23.7495 23.7462H19.7495V17.7462H23.7495V23.7462Z" fill="#0F294D"></path>
                            </svg> 
                                 <span >Office job</span>
                             <div class="JobCategoryStyles_content_card_item_content">
                                 <p></p>
                                 <p>Anyone who works hard together is always welcome</p>
                             </div>
                         </div> 
                         <div  style="width:47%; margin: 0 20px 20px 0; padding:2%; display:flex; align-items: center;  gap:12px;background-color: rgb(211, 221, 226); border-radius:10px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                                <path d="M24.9995 14.1846H13.812V2.9971C13.812 2.8596 13.6995 2.7471 13.562 2.7471H12.7495C11.108 2.74442 9.48207 3.06634 7.96539 3.69436C6.44871 4.32238 5.07117 5.2441 3.91203 6.40648C2.7705 7.54449 1.86094 8.89344 1.23391 10.3784C0.581422 11.9185 0.246608 13.5745 0.249531 15.2471C0.246843 16.8887 0.568768 18.5146 1.19679 20.0312C1.82481 21.5479 2.74652 22.9255 3.90891 24.0846C5.05578 25.2315 6.39328 26.1346 7.88078 26.7627C9.4209 27.4152 11.0769 27.75 12.7495 27.7471C14.3911 27.7498 16.017 27.4279 17.5337 26.7999C19.0504 26.1718 20.4279 25.2501 21.587 24.0877C22.7339 22.9409 23.637 21.6034 24.2652 20.1159C24.9176 18.5757 25.2525 16.9197 25.2495 15.2471V14.4346C25.2495 14.2971 25.137 14.1846 24.9995 14.1846ZM20.0527 22.6159C19.085 23.576 17.9374 24.3357 16.6756 24.8516C15.4138 25.3675 14.0627 25.6293 12.6995 25.6221C9.94641 25.6096 7.35891 24.5315 5.41203 22.5846C3.45266 20.6252 2.37453 18.019 2.37453 15.2471C2.37453 12.4752 3.45266 9.86898 5.41203 7.90961C7.11828 6.20336 9.31516 5.16273 11.687 4.92523V16.3096H23.0714C22.8308 18.694 21.7808 20.9034 20.0527 22.6159ZM27.7495 12.4471L27.6683 11.5659C27.4027 8.68773 26.1245 5.9721 24.0683 3.9221C22.0106 1.86834 19.3005 0.597308 16.4058 0.328354L15.5214 0.247104C15.3745 0.234604 15.2495 0.347104 15.2495 0.493979V12.4971C15.2495 12.6346 15.362 12.7471 15.4995 12.7471L27.4995 12.7159C27.6464 12.7159 27.762 12.5909 27.7495 12.4471ZM17.3683 10.6284V2.6096C19.3368 3.02163 21.1433 3.99653 22.5683 5.41585C23.9964 6.84085 24.9745 8.65335 25.3808 10.6065L17.3683 10.6284Z" fill="#0F294D"></path>
                            </svg> 
                                 <span >Marketing & Seller</span>
 
                             <div class="JobCategoryStyles_content_card_item_content">
                                 <p></p>
                                 <p>Anyone who works hard together is always welcome</p>
                             </div>
                         </div> 
                         <div  style="width:47%; margin: 0 20px 20px 0; padding:2%; display:flex; align-items: center;  gap:12px;background-color: rgb(211, 221, 226); border-radius:10px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                                 <path d="M23.7568 19.8764C22.9746 19.0936 22.0606 18.4546 21.0568 17.9889C22.4724 16.842 23.3756 15.092 23.3756 13.1295C23.3756 9.66702 20.4881 6.82639 17.0256 6.87952C13.6162 6.93264 10.8693 9.71077 10.8693 13.1295C10.8693 15.092 11.7756 16.842 13.1881 17.9889C12.184 18.4543 11.27 19.0933 10.4881 19.8764C8.7818 21.5858 7.81305 23.842 7.75055 26.2483C7.74972 26.2816 7.75557 26.3148 7.76776 26.3459C7.77995 26.3769 7.79823 26.4052 7.82153 26.4291C7.84483 26.453 7.87267 26.472 7.90341 26.4849C7.93416 26.4979 7.96719 26.5045 8.00055 26.5045H9.75055C9.88493 26.5045 9.99743 26.3983 10.0006 26.2639C10.0599 24.4514 10.7943 22.7545 12.0849 21.467C12.7454 20.8031 13.5309 20.2767 14.3961 19.9184C15.2614 19.5601 16.1891 19.3769 17.1256 19.3795C19.0287 19.3795 20.8193 20.1201 22.1662 21.467C23.4537 22.7545 24.1881 24.4514 24.2506 26.2639C24.2537 26.3983 24.3662 26.5045 24.5006 26.5045H26.2506C26.2839 26.5045 26.3169 26.4979 26.3477 26.4849C26.3784 26.472 26.4063 26.453 26.4296 26.4291C26.4529 26.4052 26.4712 26.3769 26.4833 26.3459C26.4955 26.3148 26.5014 26.2816 26.5006 26.2483C26.4381 23.842 25.4693 21.5858 23.7568 19.8764ZM17.1256 17.1295C16.0568 17.1295 15.0506 16.7139 14.2974 15.9576C13.9195 15.5827 13.6209 15.1354 13.4196 14.6425C13.2182 14.1496 13.1182 13.6213 13.1256 13.0889C13.1349 12.0639 13.5443 11.0733 14.2599 10.3389C15.0099 9.57014 16.0131 9.14202 17.0849 9.12952C18.1443 9.12014 19.1724 9.53264 19.9287 10.2733C20.7037 11.0326 21.1287 12.0483 21.1287 13.1295C21.1287 14.1983 20.7131 15.2014 19.9568 15.9576C19.5858 16.3304 19.1445 16.626 18.6585 16.8271C18.1726 17.0283 17.6515 17.1311 17.1256 17.1295ZM9.29743 13.9545C9.2693 13.6826 9.25368 13.4076 9.25368 13.1295C9.25368 12.6326 9.30055 12.1483 9.38805 11.6764C9.40993 11.5639 9.35055 11.4483 9.24743 11.4014C8.82243 11.2108 8.4318 10.9483 8.0943 10.617C7.69661 10.2314 7.38367 9.76715 7.17544 9.25384C6.96721 8.74053 6.86827 8.18945 6.88493 7.63577C6.91305 6.63264 7.31618 5.67952 8.0193 4.96077C8.79118 4.17014 9.82868 3.73889 10.9318 3.75139C11.9287 3.76077 12.8912 4.14514 13.6193 4.82639C13.8662 5.05764 14.0787 5.31389 14.2568 5.58889C14.3193 5.68577 14.4412 5.72639 14.5474 5.68889C15.0974 5.49827 15.6787 5.36389 16.2756 5.30139C16.4506 5.28264 16.5506 5.09514 16.4724 4.93889C15.4568 2.92952 13.3818 1.54202 10.9818 1.50452C7.51618 1.45139 4.62868 4.29202 4.62868 7.75139C4.62868 9.71389 5.5318 11.4639 6.94743 12.6108C5.95368 13.0701 5.03805 13.7045 4.2443 14.4983C2.5318 16.2076 1.56305 18.4639 1.50055 20.8733C1.49972 20.9066 1.50557 20.9398 1.51776 20.9709C1.52995 21.0019 1.54823 21.0302 1.57153 21.0541C1.59483 21.078 1.62267 21.097 1.65341 21.1099C1.68416 21.1229 1.71719 21.1295 1.75055 21.1295H3.50368C3.63805 21.1295 3.75055 21.0233 3.75368 20.8889C3.81305 19.0764 4.54743 17.3795 5.83805 16.092C6.7568 15.1733 7.8818 14.5358 9.10993 14.2264C9.2318 14.1951 9.31305 14.0795 9.29743 13.9545Z" fill="#0F294D"></path>
                                 </svg> 
                                 <span >Salesperson</span>
 
                             <div class="JobCategoryStyles_content_card_item_content">
                                 <p></p>
                                 <p>Anyone who works hard together is always welcome</p>
                             </div>
                         </div> 
            </div>


      <!--Overview-->
      <!-- Overview-->
     
   


    <%- include('../partials/footer') %>

<style>
    body{
        font-family: Trip Geom, BlinkMacSystemFont, -apple-system, Roboto, Helvetica, Arial, sans-serif;
    }
    .TitleCircle {
    margin-bottom: 32px;
    text-align: center;
}

    .TitleCircle_text {
    color: #0f294d;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    position: relative;
}
.PropositionStyles {
    border-radius: 16px;
    margin: 88px auto;
    /* overflow: hidden; */
    padding: 48px 90px 55px;
    width: 1160px;
}
.PropositionStyles .TitleCircle_text {
    color: #fff;
}
.homeEn, .homeEn a, .homeEn div, .homeEn p {
    font-family: Avenir-Medium !important;
}
.PropositionStyles_content {
    align-items: center;
    display: flex;
    height: 484px;
    justify-content: space-between;
    margin-top: 40px;
}

.homeEn, .homeEn a, .homeEn div, .homeEn p {
    font-family: Avenir-Medium !important;
}
.PropositionStyles_content_img {
    border-radius: 8px;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 336px;
}
.homeEn, .homeEn a, .homeEn div, .homeEn p {
    font-family: Avenir-Medium !important;
}
.PropositionStyles_content_img div {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.PropositionStyles_content_card {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin-left: 40px;
}

.PropositionStyles_content_card_item_content {
    background: #fff;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
}

.PropositionStyles_content_card_item_content_title {
    color: #0f294d;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    padding: 12px 32px;
    text-align: left;
}
.PropositionStyles_content_card_item_content_title svg {
    margin-right: 16px;
}
.PropositionStyles_content_card_item_content_desc {
    color: #455873;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding: 0 26px 24px 64px;
}
.PropositionStyles_content_card_item_dian {
    height: 44px;
    margin: 16px 0 16px 38px;
}

.JobCategoryStyles {
    color: #0f294d;
    margin: 88px auto;
    overflow: hidden;
    width: 1160px;
}
.JobCategoryStyles_content_card {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.JobCategoryStyles_content_card_item:nth-child(2n-1) {
    margin-right: 40px;
}
.homeEn, .homeEn a, .homeEn div, .homeEn p {
    font-family: Avenir-Medium !important;
}

.JobCategoryStyles_content_card_item {
    background-color: #c8e1eb80;
    border-radius: 16px;
    color: #0f294d;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    height: 120px;
    line-height: 28px;
    margin-bottom: 40px;
    overflow: hidden;
    padding: 28px 32px 28px 40px;
    position: relative;
    transition: all .5s;
    width: 560px;
}
.JobCategoryStyles_content_card_item_content {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 24px;
}

</style>
   
</body>
</html>
