<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header-hotel-details') %>

    <section class="breadcrumbs-custom bg-image context-dark" style="background-image: url(/images/cookie.jpg);">
        <div class="breadcrumbs-custom-inner">
          <div class="container breadcrumbs-custom-container">
            <div class="breadcrumbs-custom-main">
              <h6 class="breadcrumbs-custom-subtitle title-decorated">COOKIE POLICY</h6>
              <h1 class="breadcrumbs-custom-title">COOKIE POLICY</h1>
            </div>
            <ul class="breadcrumbs-custom-path">
              <li><a href="/">Home</a></li>
              <li class="active">COOKIE POLICY</li>
            </ul>
          </div>
        </div>
      </section>
      <!--Overview-->
      <!-- Overview-->
      <style>

      h2{
            font-family: 'latoregular';
            font-weight: bold;
            font-size: 24px;
        }
        h3{
            font-family: 'latoregular';
            font-weight: bold;
        }
        h4{
          font-family: 'latoregular';
          font-weight: bold;
          font-size: 20px;
        }

    table{
    border-collapse:collapse; 
    width:100%; border:0;  
    width:594
    }
    th{
    background-color:#0093D4;
    border:1.0pt solid black;
    padding:0.5em 5.4pt;
    vertical-align:top;
    width:445.25pt;
    color:white;
    }
    td{
    border:1.0pt solid black;
    padding:0.5em;
    }
    li{
        font-weight: bold;
        margin-bottom: 1em;
    }
    .bd{
        font-weight: bold;
    }
    </style>
    <div style="width:75%; margin: 0 auto;">
   <br/>
   <h3>Cookie Policy</h3>
   <hr>
   <p style="text-align: right;">Last updated: March 2024</p>
   <p >This cookie policy is an integral part of the Legal Notice and Privacy Policy of this website (hereinafter, “Website”). By clicking “Accept all” or “Allow selection” you expressly agree to the installation and use of cookies.<br>
   If you disable cookies or deny the use of cookies, your browsing experience on the Website may be negatively affected and some features of the Website may not work properly.<br>
   <p >In order to facilitate browsing of the Website, the owner of the Website Trip-day. (hereinafter, “Trip-day”), informs you that it uses cookies and other similar technologies (hereinafter, Cookies). <a href="https://trip-day.com/pages/cookie-policy" target="">Trip-day belongs to a group of companies, referred altogether as DiveXT co ltd., (hereinafter, “DiveXT”).</a></p>
   
   <p >Please find below the sections of this Cookie Policy:</p>
   
   <p ><span style="color: blue;">1. &nbsp; &nbsp; &nbsp; WHAT ARE COOKIES?</p>
   <p ><span style="color: blue;">2. &nbsp; &nbsp; &nbsp; USER CONSENT AND USE OF COOKIES</p>
   <p ><span style="color: blue;">3. &nbsp; &nbsp; &nbsp;TYPES OF COOKIES USED ON THE WEBSITE AND FOR WHAT PURPOSE</p>
   <p ><span style="color: blue;">3.1 &nbsp; &nbsp; &nbsp; &nbsp;Cookies according to the entity that manages them:</p>
   <p ><span style="color: blue;">3.2 &nbsp; &nbsp; &nbsp; Cookies according to their purpose:</p>
   <p ><span style="color: blue;">4. &nbsp; &nbsp; &nbsp;HOW CAN YOU CONTROL COOKIES?</p>
   <p ><span style="color: blue;">5. &nbsp; &nbsp; &nbsp;COOKIES POLICY MODIFICATIONS</p>
   <p ><span style="color: blue;">6. &nbsp; &nbsp; &nbsp;CONTACT</p>
   <h2>WHAT ARE COOKIES?</h2>
   <p >Cookies are small pieces of data (text files) that a website, when visited by a user, asks the browser to store information on your device. The information contained in these files allows us to optimize and personalize our website for you regarding your browsing habits, to analyse how our website is used and to show you relevant advertising.</p>
   
   <p >Cookies are essential for the functioning of the Internet, as they offer technical solutions that allow the user to navigate through the different websites; they cannot damage the user's equipment/device and can be used to identify and resolve possible errors in the functioning of the website. They can also be used for advertising or analytical purposes.</p>
   
   <p >We use First-Party Cookies in order to remember information about you, such as your language preference or login information. We also use Third-Party Cookies (which are cookies from a domain other than the domain of the website you are visiting) for our analytical studies.</p>
   
   <h2>USER CONSENT AND USE OF COOKIES</h2>
   <p >The law states that we may process cookies if they are strictly necessary for the operation of this site but, for other types of cookies, we need your consent.</p>
   
   <p >You can accept or deny the processing of cookies by explicit consent. Remember that this consent is free, therefore, if you do not accept it, you can continue using this website.</p>
   
   <h2 >Consent</h2>
   
   <p >Please be advised that by clicking the “Accept all” or “Allow selection” button on the Cookie Banner in the Cookie Management Platform, you consent to the installation and use of all cookies on your device.</p>
   
   <h2 >Withdrawing consent</h2>
   
   <p >By clicking on the “Deny” button on the Cookie Management Platform, included in the Cookies Banner or in the following section, you will be able to directly deny the use of the aforementioned cookies on your device.</p>
   
   <p >If you reject cookies, we will not set additional cookies on your device other than the “Necessary” cookies detailed above (including a cookie that remembers that you do not want cookies set when you visit the Website).</p>
   
   <h2 >Configuration tool</h2>
   
   <p >When you access the Website for the first time, you are asked to indicate whether you accept cookies, or whether you wish to configure or deny them, except those strictly necessary, through the Cookie Management Platform, which you can access directly from the main banner of the Website, as well as at any time here .</p>
   
   <p >If you wish to update them, you can access the Cookie Management Platform, where you can check the cookies Trip-day works with as well as withdraw the consent given, at any time.</p>
   <h2>TYPES OF COOKIES USED ON THE WEBSITE AND FOR WHAT PURPOSE</h2>
    <h4>3.1 Cookies according to the entity that manages them:</h4>
    <p>First-Party Cookies: cookies that are sent to the user's computer from a device or domain managed by us and from which the service requested by the user is provided.</p>
    <p>Third-Party Cookies: cookies sent to the user's computer from a device or domain not managed by Trip-day, but by another entity that processes the data obtained through the cookies.</p>
   <h4>3.2 Cookies according to their purpose:</h4>
   <p>Necessary Cookies: are those cookies (usually first-party cookies) necessary for the Website to work properly and cannot be disabled on our systems. These are those that allow the user to browse through a website and use the different options or services that exist on it, including those that the editor uses to allow the management and operation of the website and to enable its functions and services, such as, for example, controlling traffic and data communication, identifying the session, or accessing restricted areas. Therefore, without technical cookies, the Website does not function. For these reasons, these cookies are always set and we do not require your consent to use them.</p>
   <p>Preference Cookies: are those cookies (usually first-party cookies) that allow remembering information for the user to access the Website with certain characteristics that may differentiate the user’s experience from that of other users, such as, language, appearance or content, depending on the type of browser through or the region from which the user accesses the service, etc. The placement of preference cookies and the processing of data collected through them are based on your consent.</p>
   <p>Statistical Cookies: are those cookies (first- or third-party cookies) that allow the controller to monitor and analyse the behaviour of the users of the websites to which they are linked, including the quantification of the impact of advertisements. The information collected through this type of cookies is used to measure the activity of the websites, in order to introduce improvements based on the analysis of the data on the use made by users of the service. The placement of analytical cookies and the processing of data collected through them are based on your consent.</p>
   <p>Marketing Cookies: are those cookies (first- or third-party cookies) that storage information of the user’s behaviour through continuous observation of their browsing habits, which allows the development of a certain profile to display advertising. The placement of behavioural advertising cookies and the processing of data collected through them are based on your consent.</p>
   
   
   
   <p >We use these types of cookies and similar technologies for various reasons, including to provide our service (e.g., by making it easy to access our service by remembering you when you return), to administer and operate our business, to research, analyse and improve our services (e.g., to improve site performance, monitor visitor traffic and actions on our site, to test the effectiveness of our user interface), for safety, security and fraud prevention, for marketing, promotions, and advertising (e.g., to deliver and tailor our marketing, and to understand interactions with our emails, marketing, and online ads on third party sites). We use pixel tags in our emails to understand how users or recipients interact with our services. Our use of pixel tags helps us to understand when links within messages are clicked, or our emails are opened.</p>
   
   <p >According to the aforementioned, on this Website we process different types of cookies or similar technologies, which description and detail can be found in the following table.</p>
   
   
   <p >This website uses cookies. We use cookies to personalise content and ads, to provide social media features and to analyse our traffic. We also share information about your use of our site with our social media, advertising and analytics partners who may combine it with other information that you’ve provided to them or that they’ve collected from your use of their services.</p>
   <p >Cookies are small text files that can be used by websites to make a user's experience more efficient.<br><br>The law states that we can store cookies on your device if they are strictly necessary for the operation of this site. For all other types of cookies we need your permission.<br><br>This site uses different types of cookies. Some cookies are placed by third party services that appear on our pages.<br><br>You can at any time change or withdraw your consent from the Cookie Declaration on our website.<br><br>Learn more about who we are, how you can contact us and how we process personal data in our Privacy Policy.<br><br>Please state your consent ID and date when you contact us regarding your consent.</p>
   <p >Your consent applies to the following domains: <a href="https://trip-day.com/" target="_blank">https://trip-day.com/</a></p>
   <p >Your current state: Deny. </p>
   <p >Your consent ID: 12RmTfm0iOlIK7dCubAOmw4AWw9mK/ypBU4IlhGfL2bptEANFcHVNg==Consent date: Tuesday, October 29, 2024 at 11:39:47 AM GMT+7</p>
   <p ><a href="https://trip-day.com/pages/cookie-policy" target="">Change your consent</a><br></p>
   <p >Cookie declaration last updated on 24. 10. 16. by <a href="https://www.cookiebot.com/" target="_blank">Cookiebot</a>:</p>
   
   <h2 >Necessary (35)</h2>
   <p >Necessary cookies help make a website usable by enabling basic functions like page navigation and access to secure areas of the website. The website cannot function properly without these cookies.</p><br>
   <table style="width: auto; text-align: left;">
       <tbody>
           <tr>
               <th colspan="1" rowspan="1" width="auto" >Name</th>
               <th colspan="1" rowspan="1" width="auto" >Provider</th>
               <th colspan="1" rowspan="1" width="auto" >Purpose</th>
               <th colspan="1" rowspan="1" width="auto" >Maximum Storage Duration</th>
               <th colspan="1" rowspan="1" width="auto" >Type</th>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">__cf_bm [x4]</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://legal.marketo.com/privacy/" target="_blank">Marketo</a><br><a href="https://trip-day.com/" target="_blank">Trip-day</a></td>
               <td colspan="1" rowspan="1" width="auto">This cookie is used to distinguish between humans and bots. This is beneficial for the website, in order to make valid reports on the use of their website.</td>
               <td colspan="1" rowspan="1" width="auto">1 day</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">1.gif</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://www.cookiebot.com/goto/privacy-policy/" target="_blank">Cookiebot</a></td>
               <td colspan="1" rowspan="1" width="auto">Used to count the number of sessions to the website, necessary for optimizing CMP product delivery.</td>
               <td colspan="1" rowspan="1" width="auto">Session</td>
               <td colspan="1" rowspan="1" width="auto">Pixel Tracker</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">BIGipServer# [x2]</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://legal.marketo.com/privacy/" target="_blank">Marketo</a><br><a href="https://trip-day.com/" target="_blank">Trip-day</a></td>
               <td colspan="1" rowspan="1" width="auto">Used to distribute traffic to the website on several servers in order to optimise response times.</td>
               <td colspan="1" rowspan="1" width="auto">Session</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">CookieConsent [x8]</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://www.cookiebot.com/goto/privacy-policy/" target="_blank">Cookiebot</a><br><a href="https://trip-day.com/" target="_blank">Trip-day</a></td>
               <td colspan="1" rowspan="1" width="auto">Stores the user's cookie consent state for the current domain</td>
               <td colspan="1" rowspan="1" width="auto">1 year</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">hb-session-id</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://trip-day.com/" target="_blank">Trip-day</a></td>
               <td colspan="1" rowspan="1" width="auto">Track the user's behavior on the website and help websites identify users browsing through the web page.</td>
               <td colspan="1" rowspan="1" width="auto">Persistent</td>
               <td colspan="1" rowspan="1" width="auto">HTML Local Storage</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">img/image-l.gif</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://www.riskified.com/privacy/" target="_blank">Riskfied</a></td>
               <td colspan="1" rowspan="1" width="auto">Provides the website owner with user reports based on the transaction process on the websitee. These reports serve to detect if someone is trying to attack the website integrity, but can also be used to provide insights into why and when users drop out of the potential purchase.</td>
               <td colspan="1" rowspan="1" width="auto">Session</td>
               <td colspan="1" rowspan="1" width="auto">Pixel Tracker</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">incap_ses_#</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://trip-day.com/" target="_blank">Trip-day</a></td>
               <td colspan="1" rowspan="1" width="auto">Preserves users states across page requests.</td>
               <td colspan="1" rowspan="1" width="auto">Session</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">lastRskxRun [x2]</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://www.riskified.com/privacy/" target="_blank">Riskified</a></td>
               <td colspan="1" rowspan="1" width="auto">Provides the website owner with user reports based on the transaction process on the websitee. These reports serve to detect if someone is trying to attack the website integrity, but can also be used to provide insights into why and when users drop out of the potential purchase.</td>
               <td colspan="1" rowspan="1" width="auto">Session</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">lastRskxRun</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://www.riskified.com/privacy/" target="_blank">Riskified</a></td>
               <td colspan="1" rowspan="1" width="auto">Provides the website owner with user reports based on the transaction process on the websitee. These reports serve to detect if someone is trying to attack the website integrity, but can also be used to provide insights into why and when users drop out of the potential purchase.</td>
               <td colspan="1" rowspan="1" width="auto">Persistent</td>
               <td colspan="1" rowspan="1" width="auto">HTML Local Storage</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">nlbi_#</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://trip-day.com/" target="_blank">Trip-day</a></td>
               <td colspan="1" rowspan="1" width="auto">Used to ensure website security and fraud detection.</td>
               <td colspan="1" rowspan="1" width="auto">Session</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">october_session</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://trip-day.com/" target="_blank">Trip-day</a></td>
               <td colspan="1" rowspan="1" width="auto">Preserves the visitor's session state across page requests.</td>
               <td colspan="1" rowspan="1" width="auto">1 day</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">rc::a</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://business.safety.google/privacy/" target="_blank">Google</a></td>
               <td colspan="1" rowspan="1" width="auto">This cookie is used to distinguish between humans and bots. This is beneficial for the website, in order to make valid reports on the use of their website.</td>
               <td colspan="1" rowspan="1" width="auto">Persistent</td>
               <td colspan="1" rowspan="1" width="auto">HTML Local Storage</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">rc::c</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://business.safety.google/privacy/" target="_blank">Google</a></td>
               <td colspan="1" rowspan="1" width="auto">This cookie is used to distinguish between humans and bots.</td>
               <td colspan="1" rowspan="1" width="auto">Session</td>
               <td colspan="1" rowspan="1" width="auto">HTML Local Storage</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">rCookie [x2]</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://www.riskified.com/privacy/" target="_blank">Riskified</a></td>
               <td colspan="1" rowspan="1" width="auto">Used in order to detect spam and improve the website's security. Does not store visitor specific data.</td>
               <td colspan="1" rowspan="1" width="auto">Session</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">rskxRunCookie [x2]</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://www.riskified.com/privacy/" target="_blank">Riskified</a></td>
               <td colspan="1" rowspan="1" width="auto">Provides the website owner with user reports based on the transaction process on the websitee. These reports serve to detect if someone is trying to attack the website integrity, but can also be used to provide insights into why and when users drop out of the potential purchase.</td>
               <td colspan="1" rowspan="1" width="auto">Session</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">rskxRunCookie</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://www.riskified.com/privacy/" target="_blank">Riskified</a></td>
               <td colspan="1" rowspan="1" width="auto">This cookie is used in conjunction with the payment window - The cookie is necessary for making secure transactions on the website.</td>
               <td colspan="1" rowspan="1" width="auto">Persistent</td>
               <td colspan="1" rowspan="1" width="auto">HTML Local Storage</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">SESS#</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://trip-day.com/" target="_blank">Trip-day</a></td>
               <td colspan="1" rowspan="1" width="auto">Preserves users states across page requests.</td>
               <td colspan="1" rowspan="1" width="auto">Session</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">test_cookie</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://business.safety.google/privacy/" target="_blank">Google</a></td>
               <td colspan="1" rowspan="1" width="auto">Pending</td>
               <td colspan="1" rowspan="1" width="auto">1 day</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">TLTSID</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://trip-day.com/" target="_blank">Trip-day</a></td>
               <td colspan="1" rowspan="1" width="auto">Preserves the visitor's session state across page requests.</td>
               <td colspan="1" rowspan="1" width="auto">Session</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto"><a href="https://trip-day.com/" target="_blank">userSettings</a></td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://trip-day.com/" target="_blank">Trip-day</a></td>
               <td colspan="1" rowspan="1" width="auto">Pending</td>
               <td colspan="1" rowspan="1" width="auto">Persistent</td>
               <td colspan="1" rowspan="1" width="auto">HTML Local Storage</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">visid_incap_#</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://trip-day.com/" target="_blank">Trip-day</a></td>
               <td colspan="1" rowspan="1" width="auto">Preserves users states across page requests.</td>
               <td colspan="1" rowspan="1" width="auto">1 year</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie<br></td>
           </tr>
       </tbody>
   </table>
   <h4>Preferences (8)</h4>
   <p >Preference cookies enable a website to remember information that changes the way the website behaves or looks, like your preferred language or the region that you are in.</p><br>
   <table style="width: auto; text-align: left;">
       <tbody>
           <tr>
               <th colspan="1" rowspan="1" width="auto" >Name</th>
               <th colspan="1" rowspan="1" width="auto" >Provider</th>
               <th colspan="1" rowspan="1" width="auto" >Purpose</th>
               <th colspan="1" rowspan="1" width="auto" >Maximum Storage Duration</th>
               <th colspan="1" rowspan="1" width="auto" >Type</th>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">dc-subtitle</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://www.dacast.com/privacy-policy/" target="_blank">DaCast</a></td>
               <td colspan="1" rowspan="1" width="auto">Video streaming platform</td>
               <td colspan="1" rowspan="1" width="auto">Session</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">i18nextLng</td>
               <td colspan="1" rowspan="1" width="auto">hb-av-widget.ed-integrations.com</td>
               <td colspan="1" rowspan="1" width="auto">Determines the preferred language of the visitor. Allows the website to set the preferred language upon the visitor's re-entry.</td>
               <td colspan="1" rowspan="1" width="auto">Persistent</td>
               <td colspan="1" rowspan="1" width="auto">HTML Local Storage</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">THEOplayer.textTrackStyle.backgroundColor</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://www.dacast.com/privacy-policy/" target="_blank">DaCast</a></td>
               <td colspan="1" rowspan="1" width="auto">Pending</td>
               <td colspan="1" rowspan="1" width="auto">Persistent</td>
               <td colspan="1" rowspan="1" width="auto">HTML Local Storage</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">THEOplayer.textTrackStyle.edgeStyle</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://www.dacast.com/privacy-policy/" target="_blank">DaCast</a></td>
               <td colspan="1" rowspan="1" width="auto">Pending</td>
               <td colspan="1" rowspan="1" width="auto">Persistent</td>
               <td colspan="1" rowspan="1" width="auto">HTML Local Storage</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">THEOplayer.textTrackStyle.fontColor</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://www.dacast.com/privacy-policy/" target="_blank">DaCast</a></td>
               <td colspan="1" rowspan="1" width="auto">Pending</td>
               <td colspan="1" rowspan="1" width="auto">Persistent</td>
               <td colspan="1" rowspan="1" width="auto">HTML Local Storage</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">THEOplayer.textTrackStyle.fontFamily</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://www.dacast.com/privacy-policy/" target="_blank">DaCast</a></td>
               <td colspan="1" rowspan="1" width="auto">Pending</td>
               <td colspan="1" rowspan="1" width="auto">Persistent</td>
               <td colspan="1" rowspan="1" width="auto">HTML Local Storage</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">THEOplayer.textTrackStyle.fontSize</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://www.dacast.com/privacy-policy/" target="_blank">DaCast</a></td>
               <td colspan="1" rowspan="1" width="auto">Pending</td>
               <td colspan="1" rowspan="1" width="auto">Persistent</td>
               <td colspan="1" rowspan="1" width="auto">HTML Local Storage</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">THEOplayer.textTrackStyle.windowColor</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://www.dacast.com/privacy-policy/" target="_blank">DaCast</a></td>
               <td colspan="1" rowspan="1" width="auto">Pending</td>
               <td colspan="1" rowspan="1" width="auto">Persistent</td>
               <td colspan="1" rowspan="1" width="auto">HTML Local Storage<br></td>
           </tr>
       </tbody>
   </table>
   <h4 >Statistics (19)</h4>
   <p >Statistic cookies help website owners to understand how visitors interact with websites by collecting and reporting information anonymously.</p><br>
   <table style="width: auto; text-align: left;">
       <tbody>
           <tr>
               <th colspan="1" rowspan="1" width="auto" >Name</th>
               <th colspan="1" rowspan="1" width="auto" >Provider</th>
               <th colspan="1" rowspan="1" width="auto" >Purpose</th>
               <th colspan="1" rowspan="1" width="auto" >Maximum Storage Duration</th>
               <th colspan="1" rowspan="1" width="auto" >Type</th>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">_hjSession_#</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://www.hotjar.com/legal/policies/privacy/" target="_blank">Hotjar</a></td>
               <td colspan="1" rowspan="1" width="auto">Collects statistics on the visitor's visits to the website, such as the number of visits, average time spent on the website and what pages have been read.</td>
               <td colspan="1" rowspan="1" width="auto">1 day</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">_hjSessionUser_#</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://www.hotjar.com/legal/policies/privacy/" target="_blank">Hotjar</a></td>
               <td colspan="1" rowspan="1" width="auto">Collects statistics on the visitor's visits to the website, such as the number of visits, average time spent on the website and what pages have been read.</td>
               <td colspan="1" rowspan="1" width="auto">1 year</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">_hjTLDTest</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://www.hotjar.com/legal/policies/privacy/" target="_blank">Hotjar</a></td>
               <td colspan="1" rowspan="1" width="auto">Registers statistical data on users' behaviour on the website. Used for internal analytics by the website operator.</td>
               <td colspan="1" rowspan="1" width="auto">Session</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">_vwo_uuid_v2</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://vwo.com/privacy-policy/" target="_blank">VWO</a></td>
               <td colspan="1" rowspan="1" width="auto">This cookie is set to make split-tests on the website, which optimizes the website's relevance towards the visitor – the cookie can also be set to improve the visitor's experience on a website.</td>
               <td colspan="1" rowspan="1" width="auto">1 year</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">apc_local_id</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://www.appcues.com/privacy" target="_blank">Appcues</a></td>
               <td colspan="1" rowspan="1" width="auto">Used in context with the VR-content on website. Collects data on who, what and when the content has been viewed for statistical purposes.</td>
               <td colspan="1" rowspan="1" width="auto">Persistent</td>
               <td colspan="1" rowspan="1" width="auto">HTML Local Storage</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">apc_user</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://www.appcues.com/privacy" target="_blank">Appcues</a></td>
               <td colspan="1" rowspan="1" width="auto">Used in context with the VR-content on website. Collects data on who, what and when the content has been viewed for statistical purposes.</td>
               <td colspan="1" rowspan="1" width="auto">Session</td>
               <td colspan="1" rowspan="1" width="auto">HTML Local Storage</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">dacast-viewer-id</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://www.dacast.com/privacy-policy/" target="_blank">DaCast</a></td>
               <td colspan="1" rowspan="1" width="auto">Used to track user’s interaction with embedded content.</td>
               <td colspan="1" rowspan="1" width="auto">Persistent</td>
               <td colspan="1" rowspan="1" width="auto">HTML Local Storage</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">eu01/v.gif</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://trip-day.com/" target="_blank">Trip-day</a></td>
               <td colspan="1" rowspan="1" width="auto">This cookie is used by the website’s operator in context with multi-variate testing. This is a tool used to combine or change content on the website. This allows the website to find the best variation/edition of the site.</td>
               <td colspan="1" rowspan="1" width="auto">Session</td>
               <td colspan="1" rowspan="1" width="auto">Pixel Tracker</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">hjActiveViewportIds</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://trip-day.com/" target="_blank">Trip-day</a></td>
               <td colspan="1" rowspan="1" width="auto">This cookie contains an ID string on the current session. This contains non-personal information on what subpages the visitor enters – this information is used to optimize the visitor's experience.</td>
               <td colspan="1" rowspan="1" width="auto">Persistent</td>
               <td colspan="1" rowspan="1" width="auto">HTML Local Storage</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">hjViewportId</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://trip-day.com/" target="_blank">Trip-day</a></td>
               <td colspan="1" rowspan="1" width="auto">Saves the user's screen size in order to adjust the size of images on the website.</td>
               <td colspan="1" rowspan="1" width="auto">Session</td>
               <td colspan="1" rowspan="1" width="auto">HTML Local Storage</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">rCookie</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://www.riskified.com/privacy/" target="_blank">Riskified</a></td>
               <td colspan="1" rowspan="1" width="auto">Registers statistical data on users' behaviour on the website. Used for internal analytics by the website operator.</td>
               <td colspan="1" rowspan="1" width="auto">Persistent</td>
               <td colspan="1" rowspan="1" width="auto">HTML Local Storage</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">theoplayer-session-id</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://www.dacast.com/privacy-policy/" target="_blank">DaCast</a></td>
               <td colspan="1" rowspan="1" width="auto">Collects data on visitor interaction with the website's video-content. This data is used to make the website's video-content more relevant towards the visitor.</td>
               <td colspan="1" rowspan="1" width="auto">Session</td>
               <td colspan="1" rowspan="1" width="auto">HTML Local Storage</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">ubpv [x2]</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://trip-day.com/" target="_blank">Trip-day</a></td>
               <td colspan="1" rowspan="1" width="auto">Determines if a user leaves the website straight away. This information is used for internal statistics and analytics by the website operator.</td>
               <td colspan="1" rowspan="1" width="auto">6 months</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">ubvs [x2]</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://trip-day.com/" target="_blank">Trip-day</a></td>
               <td colspan="1" rowspan="1" width="auto">Collects data on the user's visits to the website, such as the number of visits, average time spent on the website and what pages have been loaded with the purpose of generating reports for optimising the website content.</td>
               <td colspan="1" rowspan="1" width="auto">180 days</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">ubvt</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://trip-day.com/" target="_blank">Trip-day</a></td>
               <td colspan="1" rowspan="1" width="auto">Collects data on the user's visits to the website, such as the number of visits, average time spent on the website and what pages have been loaded with the purpose of generating reports for optimising the website content.</td>
               <td colspan="1" rowspan="1" width="auto">3 days</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">ugid</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://unsplash.com/privacy" target="_blank">Unsplash</a></td>
               <td colspan="1" rowspan="1" width="auto">Necessary for the implementation of video-content on the website.</td>
               <td colspan="1" rowspan="1" width="auto">1 year</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">yt-player-headers-readable</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://business.safety.google/privacy/" target="_blank">YouTube</a></td>
               <td colspan="1" rowspan="1" width="auto">Used to determine the optimal video quality based on the visitor's device and network settings.</td>
               <td colspan="1" rowspan="1" width="auto">Persistent</td>
               <td colspan="1" rowspan="1" width="auto">HTML Local Storage<br></td>
           </tr>
       </tbody>
   </table>
   <h4 >Marketing (53)</h4>
   <p >Marketing cookies are used to track visitors across websites. The intention is to display ads that are relevant and engaging for the individual user and thereby more valuable for publishers and third party advertisers.</p><br>
   <table style="width: auto; text-align: left;">
       <tbody>
           <tr>
               <th colspan="1" rowspan="1" width="auto" >Name</th>
               <th colspan="1" rowspan="1" width="auto" >Provider</th>
               <th colspan="1" rowspan="1" width="auto" >Purpose</th>
               <th colspan="1" rowspan="1" width="auto" >Maximum Storage Duration</th>
               <th colspan="1" rowspan="1" width="auto" >Type</th>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">#-#</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://business.safety.google/privacy/" target="_blank">YouTube</a></td>
               <td colspan="1" rowspan="1" width="auto">Used to track user’s interaction with embedded content.</td>
               <td colspan="1" rowspan="1" width="auto">Session</td>
               <td colspan="1" rowspan="1" width="auto">HTML Local Storage</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">___utmvc</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://trip-day.com/" target="_blank">Trip-day</a></td>
               <td colspan="1" rowspan="1" width="auto">Collects information on user behaviour on multiple websites. This information is used in order to optimize the relevance of advertisement on the website.</td>
               <td colspan="1" rowspan="1" width="auto">1 day</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">__cdrop [x2]</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://www.amazon.com/gp/help/customer/display.html/ref=footer_privacy?ie=UTF8&amp;nodeId=468496" target="_blank">Amazon</a></td>
               <td colspan="1" rowspan="1" width="auto">Used by Marketo for tracking purposes.</td>
               <td colspan="1" rowspan="1" width="auto">Session</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">__csess [x2]</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://www.amazon.com/gp/help/customer/display.html/ref=footer_privacy?ie=UTF8&amp;nodeId=468496" target="_blank">Amazon</a></td>
               <td colspan="1" rowspan="1" width="auto">Used by Marketo for tracking purposes.</td>
               <td colspan="1" rowspan="1" width="auto">Session</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">_ga [x3]</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://business.safety.google/privacy/" target="_blank">Google</a></td>
               <td colspan="1" rowspan="1" width="auto">Used to send data to Google Analytics about the visitor's device and behavior. Tracks the visitor across devices and marketing channels.</td>
               <td colspan="1" rowspan="1" width="auto">2 years</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">_ga_# [x3]</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://business.safety.google/privacy/" target="_blank">Google</a></td>
               <td colspan="1" rowspan="1" width="auto">Used to send data to Google Analytics about the visitor's device and behavior. Tracks the visitor across devices and marketing channels.</td>
               <td colspan="1" rowspan="1" width="auto">2 years</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">_gat</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://business.safety.google/privacy/" target="_blank">Google</a></td>
               <td colspan="1" rowspan="1" width="auto">Used to send data to Google Analytics about the visitor's device and behavior. Tracks the visitor across devices and marketing channels.</td>
               <td colspan="1" rowspan="1" width="auto">1 day</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">_gcl_au</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://business.safety.google/privacy/" target="_blank">Google</a></td>
               <td colspan="1" rowspan="1" width="auto">Used by Google AdSense for experimenting with advertisement efficiency across websites using their services.</td>
               <td colspan="1" rowspan="1" width="auto">3 months</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">_gid</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://business.safety.google/privacy/" target="_blank">Google</a></td>
               <td colspan="1" rowspan="1" width="auto">Used to send data to Google Analytics about the visitor's device and behavior. Tracks the visitor across devices and marketing channels.</td>
               <td colspan="1" rowspan="1" width="auto">1 day</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">_mkto_trk</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://documents.marketo.com/legal/cookies/" target="_blank">Marketo</a></td>
               <td colspan="1" rowspan="1" width="auto">Contains data on visitor behaviour and website interaction. This is used in context with the email marketing service Marketo.com, which allows the website to target visitors via email.</td>
               <td colspan="1" rowspan="1" width="auto">2 years</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">cf_fb_hash [x2]</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://www.amazon.com/gp/help/customer/display.html/ref=footer_privacy?ie=UTF8&amp;nodeId=468496" target="_blank">Amazon</a></td>
               <td colspan="1" rowspan="1" width="auto">This cookie is used to identify the visitor through an application. This allows the visitor to login to a website through their Facebook application for example.</td>
               <td colspan="1" rowspan="1" width="auto">Session</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">cf_fb_page_tab [x2]</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://www.amazon.com/gp/help/customer/display.html/ref=footer_privacy?ie=UTF8&amp;nodeId=468496" target="_blank">Amazon</a></td>
               <td colspan="1" rowspan="1" width="auto">Used in context with the website’s Facebook Thumbnail. The cookie also serves to share content onto social media platforms. This also allows for collection of user-data for marketing purposes.</td>
               <td colspan="1" rowspan="1" width="auto">Session</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">cf_fb_publish_url [x2]</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://www.amazon.com/gp/help/customer/display.html/ref=footer_privacy?ie=UTF8&amp;nodeId=468496" target="_blank">Amazon</a></td>
               <td colspan="1" rowspan="1" width="auto">Used in context with the website’s Facebook Thumbnail. The cookie also serves to share content onto social media platforms. This also allows for collection of user-data for marketing purposes.</td>
               <td colspan="1" rowspan="1" width="auto">Session</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">cf_liked [x2]</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://www.amazon.com/gp/help/customer/display.html/ref=footer_privacy?ie=UTF8&amp;nodeId=468496" target="_blank">Amazon</a></td>
               <td colspan="1" rowspan="1" width="auto">Facilitates the sharing function on the website. The cookie also allows websites to track and target the user with advertisement based on the user's likes and shares.</td>
               <td colspan="1" rowspan="1" width="auto">Session</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">CF_store</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://trip-day.com/" target="_blank">Trip-day</a></td>
               <td colspan="1" rowspan="1" width="auto">Pending</td>
               <td colspan="1" rowspan="1" width="auto">Persistent</td>
               <td colspan="1" rowspan="1" width="auto">HTML Local Storage</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">cf_token</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://www.amazon.com/gp/help/customer/display.html/ref=footer_privacy?ie=UTF8&amp;nodeId=468496" target="_blank">Amazon</a></td>
               <td colspan="1" rowspan="1" width="auto">Registers user behaviour and navigation on the website, and any interaction with active campaigns. This is used for optimizing advertisement and for efficient retargeting.</td>
               <td colspan="1" rowspan="1" width="auto">Session</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">collect</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://business.safety.google/privacy/" target="_blank">Google</a></td>
               <td colspan="1" rowspan="1" width="auto">Used to send data to Google Analytics about the visitor's device and behavior. Tracks the visitor across devices and marketing channels.</td>
               <td colspan="1" rowspan="1" width="auto">Session</td>
               <td colspan="1" rowspan="1" width="auto">Pixel Tracker</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">IDE</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://business.safety.google/privacy/" target="_blank">Google</a></td>
               <td colspan="1" rowspan="1" width="auto">Pending</td>
               <td colspan="1" rowspan="1" width="auto">400 days</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">iU5q-!O9@$</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://business.safety.google/privacy/" target="_blank">YouTube</a></td>
               <td colspan="1" rowspan="1" width="auto">Registers a unique ID to keep statistics of what videos from YouTube the user has seen.</td>
               <td colspan="1" rowspan="1" width="auto">Session</td>
               <td colspan="1" rowspan="1" width="auto">HTML Local Storage</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">LAST_RESULT_ENTRY_KEY</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://business.safety.google/privacy/" target="_blank">YouTube</a></td>
               <td colspan="1" rowspan="1" width="auto">Used to track user’s interaction with embedded content.</td>
               <td colspan="1" rowspan="1" width="auto">Session</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">LogsDatabaseV2:V#||LogsRequestsStore</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://business.safety.google/privacy/" target="_blank">YouTube</a></td>
               <td colspan="1" rowspan="1" width="auto">Used to track user’s interaction with embedded content.</td>
               <td colspan="1" rowspan="1" width="auto">Persistent</td>
               <td colspan="1" rowspan="1" width="auto">IndexedDB</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">nextId</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://business.safety.google/privacy/" target="_blank">YouTube</a></td>
               <td colspan="1" rowspan="1" width="auto">Used to track user’s interaction with embedded content.</td>
               <td colspan="1" rowspan="1" width="auto">Session</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">NID</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://business.safety.google/privacy/" target="_blank">Google</a></td>
               <td colspan="1" rowspan="1" width="auto">Registers a unique ID that identifies a returning user's device. The ID is used for targeted ads.</td>
               <td colspan="1" rowspan="1" width="auto">6 months</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">pagead/landing [x2]</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://business.safety.google/privacy/" target="_blank">Google</a><br><a href="https://trip-day.com/" target="_blank">Trip-day</a></td>
               <td colspan="1" rowspan="1" width="auto">Collects data on visitor behaviour from multiple websites, in order to present more relevant advertisement - This also allows the website to limit the number of times that they are shown the same advertisement.</td>
               <td colspan="1" rowspan="1" width="auto">Session</td>
               <td colspan="1" rowspan="1" width="auto">Pixel Tracker</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">pardot</td>
               <td colspan="1" rowspan="1" width="auto">go.roiback.com</td>
               <td colspan="1" rowspan="1" width="auto">Used in context with Account-Based-Marketing (ABM). The cookie registers data such as IP-addresses, time spent on the website and page requests for the visit. This is used for retargeting of multiple users rooting from the same IP-addresses. ABM usually facilitates B2B marketing purposes.</td>
               <td colspan="1" rowspan="1" width="auto">Session</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">remote_sid</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://business.safety.google/privacy/" target="_blank">YouTube</a></td>
               <td colspan="1" rowspan="1" width="auto">Necessary for the implementation and functionality of YouTube video-content on the website.</td>
               <td colspan="1" rowspan="1" width="auto">Session</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">requests</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://business.safety.google/privacy/" target="_blank">YouTube</a></td>
               <td colspan="1" rowspan="1" width="auto">Used to track user’s interaction with embedded content.</td>
               <td colspan="1" rowspan="1" width="auto">Session</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">TESTCOOKIESENABLED</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://business.safety.google/privacy/" target="_blank">YouTube</a></td>
               <td colspan="1" rowspan="1" width="auto">Used to track user’s interaction with embedded content.</td>
               <td colspan="1" rowspan="1" width="auto">1 day</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">TLTTabId</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://trip-day.com/" target="_blank">Trip-day</a></td>
               <td colspan="1" rowspan="1" width="auto">Identifies the tab or window to distinguish between sessions.</td>
               <td colspan="1" rowspan="1" width="auto">Session</td>
               <td colspan="1" rowspan="1" width="auto">HTML Local Storage</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">tracker/track.gif</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://trip-day.com/" target="_blank">Trip-day</a></td>
               <td colspan="1" rowspan="1" width="auto">User identifier for tracking purposes</td>
               <td colspan="1" rowspan="1" width="auto">Session</td>
               <td colspan="1" rowspan="1" width="auto">Pixel Tracker</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">VISITOR_INFO1_LIVE</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://business.safety.google/privacy/" target="_blank">YouTube</a></td>
               <td colspan="1" rowspan="1" width="auto">Tries to estimate the users' bandwidth on pages with integrated YouTube videos.</td>
               <td colspan="1" rowspan="1" width="auto">180 days</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">YSC</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://business.safety.google/privacy/" target="_blank">YouTube</a></td>
               <td colspan="1" rowspan="1" width="auto">Registers a unique ID to keep statistics of what videos from YouTube the user has seen.</td>
               <td colspan="1" rowspan="1" width="auto">Session</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">yt.innertube::nextId</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://business.safety.google/privacy/" target="_blank">YouTube</a></td>
               <td colspan="1" rowspan="1" width="auto">Registers a unique ID to keep statistics of what videos from YouTube the user has seen.</td>
               <td colspan="1" rowspan="1" width="auto">Persistent</td>
               <td colspan="1" rowspan="1" width="auto">HTML Local Storage</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">ytidb::LAST_RESULT_ENTRY_KEY</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://business.safety.google/privacy/" target="_blank">YouTube</a></td>
               <td colspan="1" rowspan="1" width="auto">Used to track user’s interaction with embedded content.</td>
               <td colspan="1" rowspan="1" width="auto">Persistent</td>
               <td colspan="1" rowspan="1" width="auto">HTML Local Storage</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">YtIdbMeta#databases</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://business.safety.google/privacy/" target="_blank">YouTube</a></td>
               <td colspan="1" rowspan="1" width="auto">Used to track user’s interaction with embedded content.</td>
               <td colspan="1" rowspan="1" width="auto">Persistent</td>
               <td colspan="1" rowspan="1" width="auto">IndexedDB</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">yt-remote-cast-available</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://business.safety.google/privacy/" target="_blank">YouTube</a></td>
               <td colspan="1" rowspan="1" width="auto">Stores the user's video player preferences using embedded YouTube video</td>
               <td colspan="1" rowspan="1" width="auto">Session</td>
               <td colspan="1" rowspan="1" width="auto">HTML Local Storage</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">yt-remote-cast-installed</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://business.safety.google/privacy/" target="_blank">YouTube</a></td>
               <td colspan="1" rowspan="1" width="auto">Stores the user's video player preferences using embedded YouTube video</td>
               <td colspan="1" rowspan="1" width="auto">Session</td>
               <td colspan="1" rowspan="1" width="auto">HTML Local Storage</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">yt-remote-connected-devices</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://business.safety.google/privacy/" target="_blank">YouTube</a></td>
               <td colspan="1" rowspan="1" width="auto">Stores the user's video player preferences using embedded YouTube video</td>
               <td colspan="1" rowspan="1" width="auto">Persistent</td>
               <td colspan="1" rowspan="1" width="auto">HTML Local Storage</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">yt-remote-device-id</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://business.safety.google/privacy/" target="_blank">YouTube</a></td>
               <td colspan="1" rowspan="1" width="auto">Stores the user's video player preferences using embedded YouTube video</td>
               <td colspan="1" rowspan="1" width="auto">Persistent</td>
               <td colspan="1" rowspan="1" width="auto">HTML Local Storage</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">yt-remote-fast-check-period</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://business.safety.google/privacy/" target="_blank">YouTube</a></td>
               <td colspan="1" rowspan="1" width="auto">Stores the user's video player preferences using embedded YouTube video</td>
               <td colspan="1" rowspan="1" width="auto">Session</td>
               <td colspan="1" rowspan="1" width="auto">HTML Local Storage</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">yt-remote-session-app</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://business.safety.google/privacy/" target="_blank">YouTube</a></td>
               <td colspan="1" rowspan="1" width="auto">Stores the user's video player preferences using embedded YouTube video</td>
               <td colspan="1" rowspan="1" width="auto">Session</td>
               <td colspan="1" rowspan="1" width="auto">HTML Local Storage</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">yt-remote-session-name</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://business.safety.google/privacy/" target="_blank">YouTube</a></td>
               <td colspan="1" rowspan="1" width="auto">Stores the user's video player preferences using embedded YouTube video</td>
               <td colspan="1" rowspan="1" width="auto">Session</td>
               <td colspan="1" rowspan="1" width="auto">HTML Local Storage<br></td>
           </tr>
       </tbody>
   </table>
   <h4>Unclassified (9)</h4>
   <p >Unclassified cookies are cookies that we are in the process of classifying, together with the providers of individual cookies.</p><br>
   <table style="width: auto; text-align: left;">
       <tbody>
           <tr>
               <th colspan="1" rowspan="1" width="auto" >Name</th>
               <th colspan="1" rowspan="1" width="auto" >Provider</th>
               <th colspan="1" rowspan="1" width="auto" >Purpose</th>
               <th colspan="1" rowspan="1" width="auto" >Maximum Storage Duration</th>
               <th colspan="1" rowspan="1" width="auto" >Type</th>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">0.4944770327296357#test</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://trip-day.com/" target="_blank">Trip-day</a></td>
               <td colspan="1" rowspan="1" width="auto">Pending</td>
               <td colspan="1" rowspan="1" width="auto">Persistent</td>
               <td colspan="1" rowspan="1" width="auto">IndexedDB</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">BROWNIE</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://trip-day.com/" target="_blank">Trip-day</a></td>
               <td colspan="1" rowspan="1" width="auto">Pending</td>
               <td colspan="1" rowspan="1" width="auto">7 days</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">browserInfo</td>
               <td colspan="1" rowspan="1" width="auto">hb-av-widget.ed-integrations.com</td>
               <td colspan="1" rowspan="1" width="auto">Pending</td>
               <td colspan="1" rowspan="1" width="auto">Persistent</td>
               <td colspan="1" rowspan="1" width="auto">HTML Local Storage</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">chatSid</td>
               <td colspan="1" rowspan="1" width="auto">hb-av-widget.ed-integrations.com</td>
               <td colspan="1" rowspan="1" width="auto">Pending</td>
               <td colspan="1" rowspan="1" width="auto">Session</td>
               <td colspan="1" rowspan="1" width="auto">HTML Local Storage</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">fs_tags_en</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://www.flipsnack.com/legal-information/privacy-policy.html" target="_blank">Flipsnack</a></td>
               <td colspan="1" rowspan="1" width="auto">Pending</td>
               <td colspan="1" rowspan="1" width="auto">Session</td>
               <td colspan="1" rowspan="1" width="auto">HTTP Cookie</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">hb-uuid</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://trip-day.com/" target="_blank">Trip-day</a></td>
               <td colspan="1" rowspan="1" width="auto">Pending</td>
               <td colspan="1" rowspan="1" width="auto">Persistent</td>
               <td colspan="1" rowspan="1" width="auto">HTML Local Storage</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">userData</td>
               <td colspan="1" rowspan="1" width="auto">hb-av-widget.ed-integrations.com</td>
               <td colspan="1" rowspan="1" width="auto">Pending</td>
               <td colspan="1" rowspan="1" width="auto">Persistent</td>
               <td colspan="1" rowspan="1" width="auto">HTML Local Storage</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">wg-translations</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://trip-day.com/" target="_blank">Trip-day</a></td>
               <td colspan="1" rowspan="1" width="auto">Pending</td>
               <td colspan="1" rowspan="1" width="auto">Persistent</td>
               <td colspan="1" rowspan="1" width="auto">HTML Local Storage</td>
           </tr>
           <tr>
               <td colspan="1" rowspan="1" width="auto">wg-translations-version</td>
               <td colspan="1" rowspan="1" width="auto"><a href="https://trip-day.com/" target="_blank">Trip-day</a></td>
               <td colspan="1" rowspan="1" width="auto">Pending</td>
               <td colspan="1" rowspan="1" width="auto">Persistent</td>
               <td colspan="1" rowspan="1" width="auto">HTML Local Storage</td>
           </tr>
       </tbody>
   </table>
   <br>
   <h2>HOW CAN YOU CONTROL COOKIES?</h2>
  
   
   <p >You can enable or disable, as well as delete the browsing history (including cookies) of your browser at any time. Please refer to the options and instructions provided by your browser. Please note that if you accept third-party cookies, and then you want to delete them you can use the tools to disable cookies from the different browsers or through the system enabled by these third-party through the links indicated hereinafter.</p>
   
   <p >The following information is provided in compliance with the applicable regulatory framework so that you can configure the privacy and security of your internet browser(s) with respect to Cookies. To do this, we provide information and links to the official support websites of major browsers, so that you can choose whether or not to accept the use of Cookies.</p>
   
   <p >You can block Cookies via your browser settings, or you can set your browser to notify you when a server wants to save a Cookie:</p>
   
   <ol>
       <li >If you use Microsoft Internet Explorer, the option can be found at: Tools Menu &gt; Internet Options &gt; Privacy &gt; Settings &gt; Advanced. For more information: https://support.microsoft.com/en-us/windows/delete-and-manage-cookies-168dab11-0753-043d-7c16-ede5947fc64d.</li>
       <li >If you use Firefox, the option can be found at: Tools menu &gt; Preferences &gt; Privacy &gt; Cookies. For more information: https://support.mozilla.org/en-US/kb/block-websites-storing-cookies-site-data-firefox and https://support.mozilla.org/en-US/kb/clear-cookies-and-site-data-firefox</li>
       <li >If you use Chrome, go to: Tools Menu &gt; Advanced Settings &gt; Privacy. For more information: https://support.google.com/accounts/answer/32050?hl=en&amp;co=GENIE.Platform%3DDesktop</li>
       <li >If you use Opera, go to: Security and Privacy Menu. For more information https://help.opera.com/en/latest/web-preferences/#cookies.</li>
       <li >If you use Safari, you can find the option at: Preferences/Privacy menu. For more information: https://support.apple.com/en-us/HT201265</li>
   </ol>
   
   <p >Trip-day is not responsible for the content of the above links. If you use a website browser not listed above, you can obtain more information on how to adjust the cookies settings through your browser’s help section.</p>
   
   <h2>COOKIES POLICY MODIFICATIONS</h2>
   
   <p >Trip-day reserves the right to make changes in the Cookie Policy at any time. We therefore ask that you regularly consult the Cookie Policy to stay up to date.</p>
   
   <h2>CONTACT</h2>
 
   
   <p >If you need help adjusting the cookies settings on the website, or have any questions related to this Policy, do not hesitate to contact us at contact@trip-day.com.</p>
   
   <p >You can find more information about how we process your data in the <a href="https://trip-day.com/pages/privacy-policy" target="">Privacy Policy</a> of this website.</p>
   
   
   <p><br></p>

   <br/>
   <br/>
   <br/>
   </div>
  
      <!--Our history-->
    
      <!--Testimonials-->
 
      <!-- Latest Blog Posts-->
  
  



    <%- include('../partials/footer') %>
   
</body>
</html>