
<head>
 
   
    <style data-styled="" data-styled-version="5.3.11">
        .gEGtgy {
            max-width: 1180px;
            margin: 0 auto;
            overflow: hidden;
        }

        /*!sc*/
        @media only screen and (max-width:760px) {
            .gEGtgy {
                width: 100%;
            }
        }

        /*!sc*/
        data-styled.g1[id="sc-aXZVg"] {
            content: "gEGtgy,"
        }

        /*!sc*/
        .bZtuSj {
            background: transparent;
            margin-top: -200px;
            margin-bottom: 28px;
            margin-left: 0;
            margin-right: 0;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
        }

        /*!sc*/
        @media only screen and (max-width:760px) {
            .bZtuSj {
                margin-top: -180px;
                margin-bottom: 12px;
                margin-left: 0;
                margin-right: 0;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0;
            }
        }

        /*!sc*/
        .dcXeHP {
            margin-top: -58px;
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 0;
            padding-top: 58px;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
        }

        /*!sc*/
        @media only screen and (max-width:760px) {
            .dcXeHP {
                margin-top: -48px;
                margin-bottom: 0;
                margin-left: 0;
                margin-right: 0;
                padding-top: 48px;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0;
            }
        }

        /*!sc*/
        data-styled.g2[id="sc-gEvEer"] {
            content: "bZtuSj,dcXeHP,"
        }

        /*!sc*/
        .dbfLLa {
            margin-top: 58px;
            margin-bottom: 0;
            margin-left: 32px;
            margin-right: 32px;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            line-height: 60px;
            font-size: 48px;
            color: #ffffff;
            font-weight: bold;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .dbfLLa {
                margin-top: 10px;
                margin-bottom: 0;
                margin-left: 12px;
                margin-right: 12px;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0;
                line-height: 28px;
                font-size: 22px;
                font-weight: bold;
            }
        }

        /*!sc*/
        .hKrOPg {
            margin-top: 0;
            margin-bottom: 24px;
            margin-left: 0;
            margin-right: 0;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            line-height: 30px;
            font-size: 24px;
            color: #0f294d;
            font-weight: bold;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .hKrOPg {
                margin-top: 0;
                margin-bottom: 12px;
                margin-left: 0;
                margin-right: 0;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0;
                line-height: 24px;
                font-size: 18px;
                font-weight: bold;
            }
        }

        /*!sc*/
        .jRKOGv {
            margin-top: 0;
            margin-bottom: 8px;
            margin-left: 0;
            margin-right: 0;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            line-height: 22px;
            font-size: 16px;
            color: #0f294d;
            font-weight: 500;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .jRKOGv {
                margin-top: 0;
                margin-bottom: 8px;
                margin-left: 0;
                margin-right: 0;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0;
                line-height: 22px;
                font-size: 16px;
                font-weight: 500;
            }
        }

        /*!sc*/
        .xbwkZ {
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 0;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            line-height: 22px;
            font-size: 16px;
            color: #455873;
            font-weight: normal;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .xbwkZ {
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 0;
                margin-right: 0;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0;
                line-height: 18px;
                font-size: 14px;
                font-weight: normal;
            }
        }

        /*!sc*/
        .hSYxjq {
            margin-top: 6px;
            margin-bottom: 24px;
            margin-left: 0;
            margin-right: 0;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            line-height: 30px;
            font-size: 24px;
            color: #0f294d;
            font-weight: bold;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .hSYxjq {
                margin-top: 0;
                margin-bottom: 12px;
                margin-left: 0;
                margin-right: 0;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0;
                line-height: 24px;
                font-size: 18px;
                font-weight: bold;
            }
        }

        /*!sc*/
        .btDXOp {
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 0;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            line-height: 30px;
            font-size: 24px;
            color: #0f294d;
            font-weight: bold;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .btDXOp {
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 0;
                margin-right: 0;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0;
                line-height: 24px;
                font-size: 18px;
                font-weight: bold;
            }
        }

        /*!sc*/
        .ctxxZW {
            margin-top: 0;
            margin-bottom: 12px;
            margin-left: 0;
            margin-right: 0;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            line-height: 22px;
            font-size: 16px;
            color: #0f294d;
            font-weight: 500;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .ctxxZW {
                margin-top: 0;
                margin-bottom: 12px;
                margin-left: 0;
                margin-right: 0;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0;
                line-height: 18px;
                font-size: 16px;
                font-weight: 500;
            }
        }

        /*!sc*/
        .gcwlRs {
            margin-top: 0;
            margin-bottom: 8px;
            margin-left: 0;
            margin-right: 0;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            line-height: 22px;
            font-size: 16px;
            color: #0f294d;
            font-weight: 500;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .gcwlRs {
                margin-top: 0;
                margin-bottom: 8px;
                margin-left: 0;
                margin-right: 0;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0;
                line-height: 18px;
                font-size: 14px;
                font-weight: 500;
            }
        }

        /*!sc*/
        .eQDEQZ {
            margin-top: 0;
            margin-bottom: 8px;
            margin-left: 0;
            margin-right: 0;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            line-height: 22px;
            font-size: 16px;
            color: #455873;
            font-weight: normal;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .eQDEQZ {
                margin-top: 0;
                margin-bottom: 8px;
                margin-left: 0;
                margin-right: 0;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0;
                line-height: 18px;
                font-size: 14px;
                font-weight: normal;
            }
        }

        /*!sc*/
        .dbyqgJ {
            margin-top: 0;
            margin-bottom: 12px;
            margin-left: 0;
            margin-right: 0;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            line-height: 22px;
            font-size: 16px;
            color: #455873;
            font-weight: normal;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .dbyqgJ {
                margin-top: 0;
                margin-bottom: 12px;
                margin-left: 0;
                margin-right: 0;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0;
                line-height: 18px;
                font-size: 14px;
                font-weight: normal;
            }
        }

        /*!sc*/
        .jGWPtL {
            margin-top: 0;
            margin-bottom: 18px;
            margin-left: 0;
            margin-right: 0;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            line-height: 22px;
            font-size: 16px;
            color: #455873;
            font-weight: normal;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .jGWPtL {
                margin-top: 0;
                margin-bottom: 12px;
                margin-left: 0;
                margin-right: 0;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0;
                line-height: 18px;
                font-size: 14px;
                font-weight: normal;
            }
        }

        /*!sc*/
        .bBxomN {
            margin-top: 0;
            margin-bottom: 16px;
            margin-left: 0;
            margin-right: 0;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            line-height: 18px;
            font-size: 16px;
            color: #0f294d;
            font-weight: 500;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .bBxomN {
                margin-top: 0;
                margin-bottom: 16px;
                margin-left: 0;
                margin-right: 0;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0;
                line-height: 18px;
                font-size: 14px;
                font-weight: 500;
            }
        }

        /*!sc*/
        .fKzvia {
            margin-top: 0;
            margin-bottom: 16px;
            margin-left: 0;
            margin-right: 0;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            line-height: 18px;
            font-size: 14px;
            color: #455873;
            font-weight: normal;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .fKzvia {
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 0;
                margin-right: 0;
                padding-top: 0;
                padding-bottom: 16px;
                padding-left: 0;
                padding-right: 0;
                line-height: 18px;
                font-size: 14px;
                font-weight: normal;
            }
        }

        /*!sc*/
        .kmSDPm {
            margin-top: 0;
            margin-bottom: 8px;
            margin-left: 0;
            margin-right: 0;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            line-height: 18px;
            font-size: 14px;
            color: #455873;
            font-weight: normal;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .kmSDPm {
                margin-top: 0;
                margin-bottom: 8px;
                margin-left: 0;
                margin-right: 0;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0;
                line-height: 18px;
                font-size: 14px;
                font-weight: normal;
            }
        }

        /*!sc*/
        .fBbwCc {
            margin-top: 0;
            margin-bottom: 4px;
            margin-left: 0;
            margin-right: 0;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 14px;
            padding-right: 0;
            line-height: 18px;
            font-size: 14px;
            color: #738196;
            font-weight: normal;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .fBbwCc {
                margin-top: 0;
                margin-bottom: 8px;
                margin-left: 0;
                margin-right: 0;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 10px;
                padding-right: 0;
                line-height: 18px;
                font-size: 14px;
                font-weight: normal;
            }
        }

        /*!sc*/
        .bJWmkw {
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 0;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 14px;
            padding-right: 0;
            line-height: 18px;
            font-size: 14px;
            color: #738196;
            font-weight: normal;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .bJWmkw {
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 0;
                margin-right: 0;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 10px;
                padding-right: 0;
                line-height: 18px;
                font-size: 14px;
                font-weight: normal;
            }
        }

        /*!sc*/
        .bMHZwr {
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 0;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 26px;
            padding-right: 0;
            line-height: 18px;
            font-size: 14px;
            color: #738196;
            font-weight: normal;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .bMHZwr {
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 0;
                margin-right: 0;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 16px;
                padding-right: 0;
                line-height: 18px;
                font-size: 14px;
                font-weight: normal;
            }
        }

        /*!sc*/
        .egjAVj {
            margin-top: 0;
            margin-bottom: 12px;
            margin-left: 0;
            margin-right: 0;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            line-height: 18px;
            font-size: 16px;
            color: #0f294d;
            font-weight: 500;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .egjAVj {
                margin-top: 0;
                margin-bottom: 12px;
                margin-left: 0;
                margin-right: 0;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0;
                line-height: 18px;
                font-size: 16px;
                font-weight: 500;
            }
        }

        /*!sc*/
        .YcNCC {
            margin-top: 0;
            margin-bottom: 8px;
            margin-left: 0;
            margin-right: 0;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            line-height: 22px;
            font-size: 16px;
            color: #0f294d;
            font-weight: 500;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .YcNCC {
                margin-top: 0;
                margin-bottom: 8px;
                margin-left: 0;
                margin-right: 0;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0;
                line-height: 18px;
                font-size: 16px;
                font-weight: 500;
            }
        }

        /*!sc*/
        .hEfvfm {
            margin-top: 0;
            margin-bottom: 12px;
            margin-left: 0;
            margin-right: 0;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            line-height: 22px;
            font-size: 16px;
            color: #455873;
            font-weight: normal;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .hEfvfm {
                margin-top: 0;
                margin-bottom: 8px;
                margin-left: 0;
                margin-right: 0;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0;
                line-height: 18px;
                font-size: 14px;
                font-weight: normal;
            }
        }

        /*!sc*/
        .jgWMvm {
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 0;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            line-height: 18px;
            font-size: 14px;
            color: #455873;
            font-weight: normal;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .jgWMvm {
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 0;
                margin-right: 0;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0;
                line-height: 18px;
                font-size: 14px;
                font-weight: normal;
            }
        }

        /*!sc*/
        .hMCQx {
            margin-top: 0;
            margin-bottom: 16px;
            margin-left: 0;
            margin-right: 0;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            line-height: 22px;
            font-size: 16px;
            color: #455873;
            font-weight: normal;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .hMCQx {
                margin-top: 0;
                margin-bottom: 12px;
                margin-left: 0;
                margin-right: 0;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0;
                line-height: 18px;
                font-size: 14px;
                font-weight: normal;
            }
        }

        /*!sc*/
        .jAWYpP {
            margin-top: 0;
            margin-bottom: 8px;
            margin-left: 0;
            margin-right: 0;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            line-height: 18px;
            font-size: 16px;
            color: #0f294d;
            font-weight: 500;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .jAWYpP {
                margin-top: 0;
                margin-bottom: 8px;
                margin-left: 0;
                margin-right: 0;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0;
                line-height: 18px;
                font-size: 16px;
                font-weight: 500;
            }
        }

        /*!sc*/
        .dnibcy {
            margin-top: 0;
            margin-bottom: 12px;
            margin-left: 0;
            margin-right: 0;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            line-height: 18px;
            font-size: 14px;
            color: #455873;
            font-weight: normal;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .dnibcy {
                margin-top: 0;
                margin-bottom: 12px;
                margin-left: 0;
                margin-right: 0;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0;
                line-height: 18px;
                font-size: 14px;
                font-weight: normal;
            }
        }

        /*!sc*/
        .dDnKaA {
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 0;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 1em;
            padding-right: 0;
            line-height: 18px;
            font-size: 14px;
            color: #738196;
            font-weight: normal;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .dDnKaA {
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 0;
                margin-right: 0;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 1em;
                padding-right: 0;
                line-height: 18px;
                font-size: 14px;
                font-weight: normal;
            }
        }

        /*!sc*/
        .ihgPfd {
            margin-top: 0;
            margin-bottom: 8px;
            margin-left: 0;
            margin-right: 0;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            line-height: 18px;
            font-size: 16px;
            color: #0f294d;
            font-weight: 500;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .ihgPfd {
                margin-top: 0;
                margin-bottom: 8px;
                margin-left: 0;
                margin-right: 0;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0;
                line-height: 18px;
                font-size: 14px;
                font-weight: 500;
            }
        }

        /*!sc*/
        .gATOvm {
            margin-top: 0;
            margin-bottom: 18px;
            margin-left: 0;
            margin-right: 0;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            line-height: 18px;
            font-size: 14px;
            color: #455873;
            font-weight: normal;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .gATOvm {
                margin-top: 0;
                margin-bottom: 18px;
                margin-left: 0;
                margin-right: 0;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0;
                line-height: 18px;
                font-size: 14px;
                font-weight: normal;
            }
        }

        /*!sc*/
        .PYijf {
            margin-top: 0;
            margin-bottom: 8px;
            margin-left: 0;
            margin-right: 0;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            line-height: 22px;
            font-size: 16px;
            color: #0f294d;
            font-weight: 500;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .PYijf {
                margin-top: 0;
                margin-bottom: 8px;
                margin-left: 0;
                margin-right: 0;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0;
                line-height: 18px;
                font-size: 16px;
                font-weight: bo500ld;
            }
        }

        /*!sc*/
        .dTCpJs {
            margin-top: 0;
            margin-bottom: 24px;
            margin-left: 0;
            margin-right: 0;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            line-height: 30px;
            font-size: 24px;
            color: #0f294d;
            font-weight: bold;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .dTCpJs {
                margin-top: 0;
                margin-bottom: 16px;
                margin-left: 0;
                margin-right: 0;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0;
                line-height: 24px;
                font-size: 18px;
                font-weight: bold;
            }
        }

        /*!sc*/
        .gzknnC {
            margin-top: 0;
            margin-bottom: 20px;
            margin-left: 0;
            margin-right: 0;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            line-height: 22px;
            font-size: 16px;
            color: #455873;
            font-weight: normal;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .gzknnC {
                margin-top: 0;
                margin-bottom: 18px;
                margin-left: 0;
                margin-right: 0;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0;
                line-height: 18px;
                font-size: 14px;
                font-weight: normal;
            }
        }

        /*!sc*/
        data-styled.g3[id="sc-eqUAAy"] {
            content: "dbfLLa,hKrOPg,jRKOGv,xbwkZ,hSYxjq,btDXOp,ctxxZW,gcwlRs,eQDEQZ,dbyqgJ,jGWPtL,bBxomN,fKzvia,kmSDPm,fBbwCc,bJWmkw,bMHZwr,egjAVj,YcNCC,hEfvfm,jgWMvm,hMCQx,jAWYpP,dnibcy,dDnKaA,ihgPfd,gATOvm,PYijf,dTCpJs,gzknnC,"
        }

        /*!sc*/
        .hKwbgF {
            color: #2681ff;
            cursor: pointer;
        }

        /*!sc*/
        .hKwbgF:hover {
            -webkit-text-decoration: none;
            text-decoration: none;
        }

        /*!sc*/
        data-styled.g4[id="sc-fqkvVR"] {
            content: "hKwbgF,"
        }

        /*!sc*/
        .ciBXcr {
            width: 1180px;
            margin: 0 auto;
            overflow: hidden;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .ciBXcr {
                width: 100%;
                white-space: nowrap;
                overflow-x: scroll;
            }

            .ciBXcr::-webkit-scrollbar {
                width: 0;
                height: 0;
            }
        }

        /*!sc*/
        data-styled.g6[id="sc-iGgWBj"] {
            content: "ciBXcr,"
        }

        /*!sc*/
        .ikzVBk {
            position: relative;
            width: 100%;
            background: #ffffff;
        }

        /*!sc*/
        .ikzVBk.fixed {
            position: fixed;
            top: 0px;
            left: 0;
            z-index: 10;
        }

        /*!sc*/
        .ikzVBk::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background: #dadfe6;
            bottom: 0;
        }

        /*!sc*/
        @media only screen and (max-width:760px) {
            .ikzVBk::after {
                width: 200%;
                -webkit-transform: scale(0.5) translateX(-50%);
                -ms-transform: scale(0.5) translateX(-50%);
                transform: scale(0.5) translateX(-50%);
            }
        }

        /*!sc*/
        data-styled.g7[id="sc-gsFSXq"] {
            content: "ikzVBk,"
        }

        /*!sc*/
        .gkBmOx {
            position: relative;
            display: block;
            -webkit-text-decoration: none;
            text-decoration: none;
            font-size: 16px;
            color: #0f294d;
            font-weight: bold;
            -webkit-letter-spacing: 0;
            -moz-letter-spacing: 0;
            -ms-letter-spacing: 0;
            letter-spacing: 0;
            padding: 15px 0 19px;
            margin: 0 18px;
            cursor: pointer;
        }

        /*!sc*/
        .gkBmOx.active {
            color: #0f294d;
        }

        /*!sc*/
        .gkBmOx.active:hover {
            color: #0f294d;
        }

        /*!sc*/
        @media only screen and (max-width:760px) {
            .gkBmOx.active {
                color: #3264ff;
            }
        }

        /*!sc*/
        .gkBmOx.active::after {
            position: absolute;
            content: '';
            width: 100%;
            height: 4px;
            background: #0f294d;
            border-radius: 2px;
            bottom: 0;
            left: 0;
            right: 0;
        }

        /*!sc*/
        @media only screen and (max-width:760px) {
            .gkBmOx.active::after {
                width: 40px;
                height: 3px;
                background: #3264ff;
                margin-left: 50%;
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                transform: translateX(-50%);
            }
        }

        /*!sc*/
        .gkBmOx:hover {
            color: #0f294d;
            -webkit-text-decoration: none;
            text-decoration: none;
        }

        /*!sc*/
        @media only screen and (max-width:760px) {
            .gkBmOx {
                font-size: 13px;
                padding: 12px 0 15px;
                margin: 0 16px;
                display: inline-block;
                float: none;
                white-space: nowrap;
                font-weight: 400;
            }

            .gkBmOx.active {
                color: #3264ff;
            }

            .gkBmOx.active:hover {
                color: #3264ff;
            }
        }

        /*!sc*/
        data-styled.g8[id="sc-kAyceB"] {
            content: "gkBmOx,"
        }

        /*!sc*/
        .fdDzja {
            overflow: hidden;
            margin-top: 0;
            margin-bottom: 0;
            margin-left: -5px;
            margin-right: 0;
            position: relative;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .fdDzja {
                margin-top: 0;
                margin-bottom: 0;
                margin-left: -5px;
                margin-right: 0;
            }
        }

        /*!sc*/
        .gDuWID {
            overflow: hidden;
            background: #FFF;
            margin-top: 30px;
            margin-bottom: 0;
            margin-left: -5px;
            margin-right: 0;
            position: relative;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .gDuWID {
                margin-top: 16px;
                margin-bottom: 0;
                margin-left: -5px;
                margin-right: 0;
            }
        }

        /*!sc*/
        .eKayXT {
            overflow: hidden;
            background: #FFF;
            margin-top: 0;
            margin-bottom: 0;
            margin-left: -5px;
            margin-right: 0;
            position: relative;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .eKayXT {
                margin-top: 0;
                margin-bottom: 0;
                margin-left: -5px;
                margin-right: 0;
            }
        }

        /*!sc*/
        .ddFGbZ {
            overflow: hidden;
            background: #ffffff;
            margin-top: 0;
            margin-bottom: 0;
            margin-left: -5px;
            margin-right: 0;
            position: relative;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .ddFGbZ {
                margin-top: 0;
                margin-bottom: 0;
                margin-left: -5px;
                margin-right: 0;
            }
        }

        /*!sc*/
        data-styled.g9[id="sc-imWYAI"] {
            content: "fdDzja,gDuWID,eKayXT,ddFGbZ,"
        }

        /*!sc*/
        .dneUKs {
            background: url(https://ak-d.tripcdn.com/images/0a13d12000cq0oyh1415D.png) no-repeat top center;
            background-size: 40px 40px;
            width: 60px;
            height: 60px;
            -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .dneUKs {
                width: 40px;
                height: 40px;
                background-size: 26px 26px;
            }
        }

        /*!sc*/
        .gMUtgz {
            background: url(https://ak-d.tripcdn.com/images/0a11y12000cpynm962AB2.png) no-repeat top center;
            background-size: 40px 40px;
            width: 60px;
            height: 60px;
            -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .gMUtgz {
                width: 40px;
                height: 40px;
                background-size: 26px 26px;
            }
        }

        /*!sc*/
        .deRvSA {
            background: url(https://ak-d.tripcdn.com/images/0a10i12000cpynm0p5BF7.png) no-repeat top center;
            background-size: 40px 40px;
            width: 60px;
            height: 60px;
            -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .deRvSA {
                width: 40px;
                height: 40px;
                background-size: 26px 26px;
            }
        }

        /*!sc*/
        .gCNfqf {
            background: url(https://ak-d.tripcdn.com/images/0a12512000cpymeboEF7E.png) no-repeat top center;
            background-size: 40px 40px;
            width: 60px;
            height: 60px;
            -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .gCNfqf {
                width: 40px;
                height: 40px;
                background-size: 26px 26px;
            }
        }

        /*!sc*/
        .jWzgUQ {
            background: url(https://ak-d.tripcdn.com/images/0a14712000cpymg379BC1.png) no-repeat top center;
            background-size: 40px 40px;
            width: 60px;
            height: 60px;
            -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .jWzgUQ {
                width: 40px;
                height: 40px;
                background-size: 26px 26px;
            }
        }

        /*!sc*/
        .SHgtb {
            background: url(https://ak-d.tripcdn.com/images/0a16z12000cpylnb07A0A.png) no-repeat top center;
            background-size: 40px 40px;
            width: 60px;
            height: 60px;
            -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .SHgtb {
                width: 40px;
                height: 40px;
                background-size: 26px 26px;
            }
        }

        /*!sc*/
        .jRuEhS {
            background: url(https://ak-d.tripcdn.com/images/0a11o12000cpymxsl0B9A.png) no-repeat top center;
            background-size: 40px 40px;
            width: 60px;
            height: 60px;
            -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .jRuEhS {
                width: 40px;
                height: 40px;
                background-size: 26px 26px;
            }
        }

        /*!sc*/
        .jkEcjh {
            background: url(https://ak-d.tripcdn.com/images/0a16912000cpyno7iE2C9.png) no-repeat top center;
            background-size: 40px 40px;
            width: 60px;
            height: 60px;
            -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .jkEcjh {
                width: 40px;
                height: 40px;
                background-size: 26px 26px;
            }
        }

        /*!sc*/
        .iZRDTq {
            background: url(https://ak-d.tripcdn.com/images/0a11b12000cpyn73e9BAD.png) no-repeat top center;
            background-size: 40px 40px;
            width: 60px;
            height: 60px;
            -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .iZRDTq {
                width: 40px;
                height: 40px;
                background-size: 26px 26px;
            }
        }

        /*!sc*/
        .elawbN {
            background: url(https://ak-d.tripcdn.com/images/0a14o12000cpym9rhB8B0.png) no-repeat top center;
            background-size: 40px 40px;
            width: 60px;
            height: 60px;
            -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .elawbN {
                width: 40px;
                height: 40px;
                background-size: 26px 26px;
            }
        }

        /*!sc*/
        .dPftkq {
            background: url(https://ak-d.tripcdn.com/images/0a13112000cpymebp04D6.png) no-repeat top center;
            background-size: 40px 40px;
            width: 60px;
            height: 60px;
            -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .dPftkq {
                width: 40px;
                height: 40px;
                background-size: 26px 26px;
            }
        }

        /*!sc*/
        .epwVYj {
            background: url(https://dimg04.tripcdn.com/images/22w4812000fs9r3hy9AE9.png.webp) no-repeat top center;
            background-size: 40px 40px;
            width: 60px;
            height: 60px;
            -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .epwVYj {
                width: 40px;
                height: 40px;
                background-size: 26px 26px;
            }
        }

        /*!sc*/
        .hEwMTa {
            background: url(https://ak-d.tripcdn.com/images/0a11d12000cpynyd9E228.png) no-repeat top center;
            background-size: 40px 40px;
            width: 60px;
            height: 60px;
            -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
        }

        /*!sc*/
        @media only screen and (max-width:960px) {
            .hEwMTa {
                width: 40px;
                height: 40px;
                background-size: 26px 26px;
            }
        }

        /*!sc*/
        data-styled.g10[id="sc-jXbUNg"] {
            content: "dneUKs,gMUtgz,deRvSA,gCNfqf,jWzgUQ,SHgtb,jRuEhS,jkEcjh,iZRDTq,elawbN,dPftkq,epwVYj,hEwMTa,"
        }

        /*!sc*/
    </style>
   

  


</head>
<%- include('../partials/foot-head') %>
<%- include('../partials/customer-head') %>
<link rel="stylesheet" href="/css/contact-us.css">
<link rel="stylesheet" href="/css/bootstrap.css">
<body>
<body>
    <div id="foxpage-app">
        <div class="fp-slot">
    
          
            <div class="ccs-panel customer-service__header e-class-stru_dsPOd1mDkHzvKFQ " id="1">
               
    
            <div class="ccs-panel customer-service__main e-class-stru_3IM2Uly6DbzaTtD " id="">

                <div id="basic" class="sc-gEvEer dcXeHP" style="margin-top:10px;">
                    <div class="sc-aXZVg gEGtgy">
                        <div class="customer-service__section general fp-slot">
                            <div font-size="24px" font-weight="bold" class="sc-eqUAAy hKrOPg"><span class="sc-dcJsrY">Customer Support</span></div>
                            <div class="sc-imWYAI fdDzja">
                                <div class="sc-jXbUNg dneUKs"></div>
                                <div style="width:100%" class="fp-slot">
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy jRKOGv"><span class="sc-dcJsrY">We are always here to help</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy xbwkZ"><span class="sc-dcJsrY">Our outstanding customer support is available 24/7. <br>
                                            Contact us via chat or phone.</span></div>
                                    <div class="customer-service__divide-line fp-slot"></div>
                                </div>
                            </div>
                            <div font-size="24px" font-weight="bold" class="sc-eqUAAy hSYxjq"><span class="sc-dcJsrY">Booking Services</span></div>
                            <div class="sc-imWYAI fdDzja">
                                <div class="sc-jXbUNg gMUtgz"></div>
                                <div style="width:100%" class="fp-slot">
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy jRKOGv"><span class="sc-dcJsrY">Special Circumstance Cancellation Service Guarantee</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy xbwkZ"><span class="sc-dcJsrY">Trip.com will then make every effort to assist the user in negotiating the cancellation of their trip. If a user is unable to travel due to unforeseeable medical conditions (e.g. death, pregnancy, broken bones, or hospitalization), they shall provide all supporting documents within one week of submitting their cancellation request.</span></div>
                                    <div class="customer-service__divide-line fp-slot"></div>
                                </div>
                            </div>
                            <div class="sc-imWYAI fdDzja">
                                <div class="sc-jXbUNg deRvSA"></div>
                                <div style="width:100%" class="fp-slot">
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy jRKOGv"><span class="sc-dcJsrY">Emergency Assistance</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy xbwkZ"><span class="sc-dcJsrY">Trip.com will provide 24/7 emergency service to ensure the trip goes smoothly. If the user experiences a loss of baggage or ID during the trip, or their trip is affected by accident or illness, Trip.com will also endeavor to provide whatever assistance is necessary.</span></div>
                                    <div class="customer-service__divide-line fp-slot"></div>
                                </div>
                            </div>
                            <div class="sc-imWYAI fdDzja">
                                <div class="sc-jXbUNg gCNfqf"></div>
                                <div style="width:100%" class="fp-slot">
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy jRKOGv"><span class="sc-dcJsrY">Advance Compensation</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy xbwkZ"><span class="sc-dcJsrY">Trip.com practices a policy of providing advance compensation for all its businesses. Trip.com will investigate any complaints raised by users and, if it is verified that Trip.com is at fault, will provide compensation in advance.</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="hotels" class="sc-gEvEer dcXeHP">
                    <div class="sc-aXZVg gEGtgy">
                        <div class="customer-service__section fp-slot">
                            <div font-size="24px" font-weight="bold" class="sc-eqUAAy btDXOp"><span class="sc-dcJsrY">Hotels &amp; Homes</span></div>
                            <div class="sc-imWYAI gDuWID">
                                <div class="sc-jXbUNg jWzgUQ"></div>
                                <div style="width:100%" class="fp-slot">
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy ctxxZW"><span class="sc-dcJsrY">If your booking is changed after it is confirmed, Trip.com will do its best to coordinate your stay.</span></div>
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy gcwlRs"><span class="sc-dcJsrY">Part 1: Trip.com works with hotels to solve issue</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy eQDEQZ"><span class="sc-dcJsrY">Trip.com will immediately notify you if, after a stay booking has been confirmed but before you arrive at the property, the property can no longer arrange check-in. Trip.com will also work with the property to try to arrange a room of the same or higher standard as the original booked room. Trip.com will compensate any difference in cost up to the price of the first night's room fee for the original booking.</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy dbyqgJ"><span class="sc-dcJsrY">If no room type in the original property can be arranged, Trip.com will help arrange a stay at a nearby property of the same standard. Trip.com will pay any incurred price differences up to a maximum of the room rate for the first night of the original booking.</span></div>
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy gcwlRs"><span class="sc-dcJsrY">Part 2: Trip.com pays compensation</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy xbwkZ"><span class="sc-dcJsrY">Once your claim has been verified, Trip.com will contact you within one working day after you check out to process your compensation. Please keep hold of the invoice and any payment receipts for your stay.</span></div>
                                    <div class="customer-service__divide-line fp-slot"></div>
                                </div>
                            </div>
                            <div class="sc-imWYAI eKayXT">
                                <div class="sc-jXbUNg SHgtb"></div>
                                <div style="width:100%" class="fp-slot">
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy ctxxZW"><span class="sc-dcJsrY">If there is no room when you arrive at the property, Trip.com will do its best to coordinate your stay.</span></div>
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy gcwlRs"><span class="sc-dcJsrY">Part 1: User contacts Trip.com</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy dbyqgJ"><span class="sc-dcJsrY">If your booking has already been confirmed by Trip.com, but there are no rooms available at the hotel when you arrive, please contact Trip.com immediately.</span></div>
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy gcwlRs"><span class="sc-dcJsrY">Part 2: Trip.com works with hotel to solve issue</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy eQDEQZ"><span class="sc-dcJsrY">Trip.com will immediately contact the property to negotiate a room of the same standard or above for the user. Trip.com will pay any difference in price up to the room rate for the first night of the original booking.</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy dbyqgJ"><span class="sc-dcJsrY">If no room type in the original property can be arranged, Trip.com will help arrange a stay at a nearby property of the same standard. Trip.com will pay any incurred price differences up to a maximum of the room rate for the first night of the original booking.</span></div>
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy gcwlRs"><span class="sc-dcJsrY">Part 3: Trip.com pays compensation</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy xbwkZ"><span class="sc-dcJsrY">Once your claim has been verified, Trip.com will contact you within one working day after you check out to process your compensation. Please keep hold of the invoice and any payment receipts for your stay.</span></div>
                                    <div class="customer-service__divide-line fp-slot"></div>
                                </div>
                            </div>
                            <div class="sc-imWYAI ddFGbZ">
                                <div class="sc-jXbUNg gMUtgz"></div>
                                <div style="width:100%" class="fp-slot">
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy ctxxZW"><span class="sc-dcJsrY">Change and Cancellation Guarantee</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy jGWPtL"><span class="sc-dcJsrY">Trip.com does not earn profits from or add additional charges to change and cancellation fees. If you need to cancel your booking, Trip.com will communicate with the hotel to try to reduce your cancellation charges as much as possible. </span></div>
                                    <style>
                                        .e-class-stru_WzNfjVU6ImvJO37 {
                                            --pl-bra: 8px;
                                        }
                                    </style>
                                    <div class="ccs-panel customer-service__section-detail e-class-stru_WzNfjVU6ImvJO37 " id="">
                                        <div class="customer-service__icon-terms fp-slot">
                                            <div font-size="16px" font-weight="500" class="sc-eqUAAy bBxomN"><span class="sc-dcJsrY">Room Guarantee Terms &amp; Conditions</span></div>
                                        </div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy fKzvia"><span class="sc-dcJsrY">1. If no rooms are available after you arrive at the hotel, please contact Trip.com immediately. If you cannot contact Trip.com and proceed to stay in another hotel, this will be seen as forfeiting your right to the Room Guarantee.</span></div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy kmSDPm"><span class="sc-dcJsrY">2. The Room Guarantee cannot be used in the following scenarios: </span></div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy fBbwCc"><span class="sc-dcJsrY">a. You do not arrive at the hotel by the arranged time.</span></div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy fBbwCc"><span class="sc-dcJsrY">b. You changed booking information, such as room type or check-in/out dates, without getting confirmation from Trip.com.</span></div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy fBbwCc"><span class="sc-dcJsrY">c. Trip.com or the hotel you originally booked has upgraded you to a room of the same standard or higher at no extra charge.</span></div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy fBbwCc"><span class="sc-dcJsrY">d. After your booking is updated and a room is available, you do not check in for the updated booking or you are unable to provide authentic and valid proof of check-in, or the guest names, dates, or city on the proof you provide do not match the original booking.</span></div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy fBbwCc"><span class="sc-dcJsrY">e. You cannot check in for your booking due to a force majeure, such as a fire, natural disaster, or government policy.</span></div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy fBbwCc"><span class="sc-dcJsrY">f. Your booking has not been confirmed by Trip.com by the time you arrive at the hotel. (Please refer to emails from Trip.com to confirm whether your booking was successful). </span></div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy fBbwCc"><span class="sc-dcJsrY">g. Your booking is a prepaid booking and you have not completed payment. </span></div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy bJWmkw"><span class="sc-dcJsrY">h. Bookings with transaction security issues: (Trip.com will judge each case based on fair principles and transaction security)</span></div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy bMHZwr"><span class="sc-dcJsrY"> The following types of booking are not eligible for the Room Guarantee: bookings involving system or network attacks, fake bookings, and resale bookings.</span></div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy bMHZwr"><span class="sc-dcJsrY"> The supplier reserves the right to require the user to provide a guarantee amount for bookings when there are issues or abnormalities with the user information, user account, or number of transactions. If the guarantee amount cannot be provided, Trip.com reserves the right to cancel the user's booking on behalf of the supplier.</span></div>
                                    </div>
                                    <div class="customer-service__divide-line fp-slot"></div>
                                </div>
                            </div>
                            <div class="sc-imWYAI ddFGbZ">
                                <div class="sc-jXbUNg gMUtgz"></div>
                                <div class="fp-slot">
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy egjAVj"><span class="sc-dcJsrY">Flight-Hotel Cancellation Guarantee</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy xbwkZ"><span class="sc-dcJsrY">If you are unable to arrive at the hotel on your check-in date because a flight you booked on Trip.com was canceled or delayed due to a force majeure event, Trip.com will cover your cancellation fees</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="flights" class="sc-gEvEer dcXeHP">
                    <div class="sc-aXZVg gEGtgy">
                        <div class="customer-service__section fp-slot">
                            <div font-size="24px" font-weight="bold" class="sc-eqUAAy btDXOp"><span class="sc-dcJsrY">Flights</span></div>
                            <div class="sc-imWYAI gDuWID">
                                <div class="sc-jXbUNg jRuEhS"></div>
                                <div style="width:100%" class="fp-slot">
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy YcNCC"><span class="sc-dcJsrY">Price Guarantee</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy hEfvfm"><span class="sc-dcJsrY">Trip.com guarantees that the price of your flight will not change after payment has been confirmed.<br>
                                            If your ticket is not issued after successful payment due to the fault of Trip.com and the ticket price increases, Trip.com will cover the difference.</span></div>
                                    <div font-size="14px" font-weight="normal" class="sc-eqUAAy jgWMvm"><span class="sc-dcJsrY"></span></div>
                                </div>
                            </div>
                            <div class="sc-imWYAI eKayXT">
                                <div class="sc-jXbUNg jWzgUQ"></div>
                                <div style="width:100%" class="fp-slot">
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy YcNCC"><span class="sc-dcJsrY">Booking Guarantee</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy hMCQx"><span class="sc-dcJsrY">Once your tickets are issued, Trip.com will do its best to guarantee your trip.<br>
                                            If you are unable to board the flight due to the fault of Trip.com, please contact us immediately. We will provide compensation according to the circumstances. The maximum possible compensation is a refund of the cost of your original flight ticket, plus a free ticket for a replacement flight designated by Trip.com.</span></div>
                                    <style></style>
                                    <div class="ccs-panel customer-service__section-detail e-class-stru_kSYLgsa2HiNoEEd " id="">
                                        <div class="customer-service__icon-terms fp-slot">
                                            <div font-size="16px" font-weight="500" class="sc-eqUAAy jAWYpP"><span class="sc-dcJsrY">Flight Price Guarantee and Booking Guarantee Terms &amp; Conditions</span></div>
                                        </div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy jgWMvm">
                                            <div><span class="sc-dcJsrY">1. Please contact Trip.com immediately if you run into any problems while booking flight tickets. <br>If you make your own arrangements without contacting Trip.com, or choose not to take a solution provided by Trip.com, you forfeit your rights under Trip.coms Flight Price Guarantee and Booking Guarantee.<br><br></span><a class="sc-fqkvVR hKwbgF"></a><span class="sc-dcJsrY"></span></div>
                                        </div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy dnibcy"><span class="sc-dcJsrY">2. The Flight Price Guarantee and Booking Guarantee will not apply in any of the following circumstances:</span></div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy dDnKaA"><span class="sc-dcJsrY">a. Tickets were not issued due to unsuccessful payment.</span></div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy dDnKaA"><span class="sc-dcJsrY">b. Tickets were not issued due to a flight schedule change.</span></div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy dDnKaA"><span class="sc-dcJsrY">c. Any conditions which do not cause change from the original flight schedule.</span></div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy dDnKaA"><span class="sc-dcJsrY">d. Failure to board a flight is due to the fault of the customer.</span></div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy dDnKaA"><span class="sc-dcJsrY">e. The flight is departing within 2 hours of booking.</span></div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy dDnKaA"><span class="sc-dcJsrY">f. Failure to board due to any conditions not caused by Trip.com. This includes, but is not limited to, airline delays or cancellations, an issue with the airport, a Force Majeure Event, or any other causes or conditions not caused by Trip.com.</span></div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy dDnKaA"><span class="sc-dcJsrY">g. Please note that flight bookings with Ryanair do not qualify for any of the service guarantees provided by Trip.com, including but not limited to Price Guarantee, Booking Guarantee, and advance compensation.</span></div>
                                    </div>
                                    <div class="customer-service__divide-line fp-slot"></div>
                                </div>
                            </div>
                            <div class="sc-imWYAI eKayXT">
                                <div class="sc-jXbUNg jkEcjh"></div>
                                <div style="width:100%" class="fp-slot">
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy YcNCC"><span class="sc-dcJsrY">Flight + Hotel Guarantee</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy hEfvfm"><span class="sc-dcJsrY">For flight + hotel packages booked through our flights channel, you can cancel your hotel booking for free if you are unable to arrive at the hotel on the check-in date due to a flight change.</span></div>
                                    <div class="customer-service__divide-line fp-slot"></div>
                                </div>
                            </div>
                            <div class="sc-imWYAI eKayXT">
                                <div class="sc-jXbUNg iZRDTq"></div>
                                <div class="fp-slot">
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy YcNCC"><span class="sc-dcJsrY">Flight + Lounge Guarantee</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy xbwkZ"><span class="sc-dcJsrY">For flight + lounge packages booked through our flights channel, you can cancel your lounge booking for free within the validity period of the lounge if you are unable to use the lounge due to a flight change.</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="trains" class="sc-gEvEer dcXeHP">
                    <div class="sc-aXZVg gEGtgy">
                        <div class="customer-service__section fp-slot">
                            <div font-size="24px" font-weight="bold" class="sc-eqUAAy btDXOp"><span class="sc-dcJsrY">Trains</span></div>
                            <div class="sc-imWYAI gDuWID">
                                <div class="sc-jXbUNg jWzgUQ"></div>
                                <div class="fp-slot">
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy YcNCC"><span class="sc-dcJsrY">Booking Guarantee</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy hMCQx"><span class="sc-dcJsrY">After successful payment is confirmed and tickets are issued, Trip.com will do its utmost to guarantee your trip.<br>
                                            If a customer fails to board the train due to Trip.coms or one of our suppliers fault, Trip.com will do everything it can to solve the problem and cover any associated costs actually incurred in resolving the situation on a case-by-case basis.</span></div>
                                    <style></style>
                                    <div class="ccs-panel customer-service__section-detail e-class-stru_GoDIdNURNz4PWv7 " id="">
                                        <div class="customer-service__icon-terms fp-slot">
                                            <div font-size="16px" font-weight="500" class="sc-eqUAAy ihgPfd"><span class="sc-dcJsrY">Train Booking Guarantee Terms and Conditions</span></div>
                                        </div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy gATOvm"><span class="sc-dcJsrY">1. Please contact Trip.com immediately if you have any problems. If you make your own arrangements without contacting Trip.com, or choose not to accept a solution provided by Trip.com, you forfeit your rights under Trip.coms Train Booking Guarantee.</span></div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy jgWMvm"><span class="sc-dcJsrY">2. The guarantee will not apply in the following circumstances:<br>
                                                &nbsp;&nbsp;&nbsp;a. Failure to board a train is due to the fault of the customer.<br>
                                                &nbsp;&nbsp;&nbsp;b. Failure to board a train is due to any conditions not caused by Trip.com, which includes train delays or cancellations, a force majeure event, or any other conditions or circumstances not caused by Trip.com.</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="carhire" class="sc-gEvEer dcXeHP">
                    <div class="sc-aXZVg gEGtgy">
                        <div class="customer-service__section fp-slot">
                            <div font-size="24px" font-weight="bold" class="sc-eqUAAy btDXOp"><span class="sc-dcJsrY">Car Rentals</span></div>
                            <div class="sc-imWYAI gDuWID">
                                <div class="sc-jXbUNg jWzgUQ"></div>
                                <div style="width:100%" class="fp-slot">
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy YcNCC"><span class="sc-dcJsrY">Booking Guarantee - unavailable after booking confirmed</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy xbwkZ"><span class="sc-dcJsrY">After you have paid for your booking but before you have used your car, if the car rental supplier reaches out to tell you they cannot provide services, Trip.com will work hard to coordinate a car for you. If it is finally confirmed that no car can be provided, Trip.com will provide the corresponding compensation, up to a limit of the average daily rental price for the original booking. (Average daily rental price: the average rental amount for days within the rental period, not including promo code amounts.)</span></div>
                                    <div class="customer-service__divide-line fp-slot"></div>
                                </div>
                            </div>
                            <div class="sc-imWYAI eKayXT">
                                <div class="sc-jXbUNg elawbN"></div>
                                <div class="fp-slot">
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy jAWYpP"><span class="sc-dcJsrY">Booking Guarantee - unavailable upon arrival</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy xbwkZ"><span class="sc-dcJsrY">If the car in your booking is not available after you arrive at the branch, you can contact Trip.com customer support as soon as possible. Trip.com will help coordinate for you. If, finally, service cannot be provided, Trip.com will provide you with the average daily rental price amount for your original booking as compensation.</span></div>
                                    <div class="customer-service__divide-line fp-slot"></div>
                                </div>
                            </div>
                            <div class="sc-imWYAI eKayXT">
                                <div class="sc-jXbUNg dPftkq"></div>
                                <div class="fp-slot">
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy jAWYpP"><span class="sc-dcJsrY">Booking Guarantee - car model downgrade</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy xbwkZ"><span class="sc-dcJsrY">If, after you arrive at the branch, the car you are provided with is of a lower standard to the one you booked, you can contact Trip.com customer support as soon as possible. Trip.com will negotiate with the supplier in your booking to try and get a free car model upgrade. If a free upgrade is not possible, the price difference will be refunded (up to a limit of 3 times the daily average rental price). Corresponding compensation will also be provided up to a limit of the daily average rental price.</span></div>
                                    <div class="customer-service__divide-line fp-slot"></div>
                                </div>
                            </div>
                            <div class="sc-imWYAI eKayXT">
                                <div class="sc-jXbUNg epwVYj"></div>
                                <div class="fp-slot">
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy jAWYpP"><span class="sc-dcJsrY">Trip.com Transport and Car Rental Guarantee</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy xbwkZ"><span class="sc-dcJsrY">If you've booked car rental services as part of the same itinerary as flights, trains, or bus or coach tickets on Trip.com, in the event of any travel delays to your flight, train, bus or coach, you can contact your supplier or contact Trip.com to negotiate your car rental time. Your supplier will keep your car for you free of charge for a limited time during business hours. For the actual free holding time, please refer to the answer provided by the branch. If your car rental issues are not resolved or additional costs are incurred, we recommend that you keep the relevant proof and contact Trip.com customer support to handle the issue. If flights, trains, buses, coaches, or other transport types are canceled due to reasons beyond the customer's control and the use of car rental services is affected, car rental services can be canceled free of charge. Any cancellation costs or losses will be covered by Trip.com.</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="airporttransfers" class="sc-gEvEer dcXeHP">
                    <div class="sc-aXZVg gEGtgy">
                        <div class="customer-service__section fp-slot">
                            <div font-size="24px" font-weight="bold" class="sc-eqUAAy btDXOp"><span class="sc-dcJsrY">Airport Transfers</span></div>
                            <div class="sc-imWYAI gDuWID">
                                <div class="sc-jXbUNg gCNfqf"></div>
                                <div style="width:100%" class="fp-slot">
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy YcNCC"><span class="sc-dcJsrY">Delay &amp; Cancel Compensation Guarantee</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy xbwkZ"><span class="sc-dcJsrY">If your driver arrives late and this is confirmed by Trip.com, Trip.com will provide compensation based on the amount of time you waited for your driver.</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy xbwkZ"><span class="sc-dcJsrY">If you are unable to contact your driver upon arrival, please contact Trip.com's customer support by phone or service chat immediately. We will work to resolve the problem as soon as possible. <br>If in the end we are unable to provide the airport transfer service you booked, we will cancel your booking for free and provide additional compensation worth 100% of your booking total.</span></div>
                                    <div class="customer-service__divide-line fp-slot"></div>
                                </div>
                            </div>
                            <div class="sc-imWYAI eKayXT">
                                <div class="sc-jXbUNg jWzgUQ"></div>
                                <div style="width:100%" class="fp-slot">
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy PYijf"><span class="sc-dcJsrY">Booking Guarantee</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy xbwkZ"><span class="sc-dcJsrY">If your booking is canceled by the supplier after it has been confirmed, Trip.com will refund your booking in full and provide additional compensation worth not less than 20% of your booking total.</span></div>
                                    <div class="customer-service__divide-line fp-slot"></div>
                                </div>
                            </div>
                            <div class="sc-imWYAI eKayXT">
                                <div class="sc-jXbUNg gMUtgz"></div>
                                <div style="width:100%" class="fp-slot">
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy YcNCC"><span class="sc-dcJsrY">Flight + Airport Transfer Guarantee</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy xbwkZ"><span class="sc-dcJsrY">If your flight or connecting flight is canceled or changed, and you are unable to use your booked airport transfer service as a result, your airport transfer booking can be canceled for free.</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="ttd" class="sc-gEvEer dcXeHP">
                    <div class="sc-aXZVg gEGtgy">
                        <div class="customer-service__section fp-slot">
                            <div font-size="24px" font-weight="bold" class="sc-eqUAAy dTCpJs"><span class="sc-dcJsrY">Attractions &amp; Tours</span></div>
                            <div class="sc-imWYAI eKayXT">
                                <div class="sc-jXbUNg jWzgUQ"></div>
                                <div class="fp-slot">
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy YcNCC"><span class="sc-dcJsrY">Booking Guarantee</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy xbwkZ"><span class="sc-dcJsrY">If you cannot use your entrance ticket due to a fault by Trip.com and the issue cannot be solved within 15 minutes of being reported to Trip.com, you can purchase tickets at the attraction. The cost of the ticket you originally bought with Trip.com will be refunded to you, and Trip.com will also compensate you twice the amount of any difference in price between the Trip.com ticket and the price charged at the entrance.</span></div>
                                    <div class="customer-service__divide-line fp-slot"></div>
                                </div>
                            </div>
                            <div class="sc-imWYAI eKayXT">
                                <div class="sc-jXbUNg gMUtgz"></div>
                                <div style="width:100%" class="fp-slot">
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy YcNCC"><span class="sc-dcJsrY">Cancellation of tickets booked by mistake by seniors and children</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy gzknnC"><span class="sc-dcJsrY">When seniors and children book tickets by mistake through Trip.com's Attractions &amp; Tours section, any cancellation fee incurred will be borne by Trip.com.</span></div>
                                    <style></style>
                                    <div class="ccs-panel customer-service__section-detail e-class-stru_190612hLeIa2KrY " id="">
                                        <div class="customer-service__icon-terms fp-slot">
                                            <div font-size="16px" font-weight="500" class="sc-eqUAAy jAWYpP"><span class="sc-dcJsrY">Notes:</span></div>
                                        </div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy gATOvm"><span class="sc-dcJsrY"> 1) The request to cancel the original ticket must be submitted before the entry date (inclusive), the original ticket must be unused, and a new ticket with the correct ticket type for the same attraction and entry date must have already been booked on Trip.com. </span></div>
                                        <div font-size="14px" font-weight="normal" class="sc-eqUAAy jgWMvm"><span class="sc-dcJsrY">2) Cancellations of tickets booked by mistake are limited to main entrance tickets.</span></div>
                                    </div>
                                    <div class="customer-service__divide-line fp-slot"></div>
                                </div>
                            </div>
                            <div class="sc-imWYAI eKayXT">
                                <div class="sc-jXbUNg hEwMTa"></div>
                                <div style="width:100%" class="fp-slot">
                                    <div font-size="16px" font-weight="500" class="sc-eqUAAy YcNCC"><span class="sc-dcJsrY">Accurate Descriptions</span></div>
                                    <div font-size="16px" font-weight="normal" class="sc-eqUAAy xbwkZ"><span class="sc-dcJsrY">We guarantee that all of our tour and ticket descriptions are accurate and valid. If you find a discrepancy between the information listed on our website and what the actual tour or ticket includes, please contact Trip.com customer support.</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 <%- include('../partials/footer') %>

</html>