<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header-hotel-details') %>

    <section class="breadcrumbs-custom bg-image context-dark" style="background-image: url(/images/legal.jpg);">
        <div class="breadcrumbs-custom-inner">
          <div class="container breadcrumbs-custom-container">
            <div class="breadcrumbs-custom-main">
              <h6 class="breadcrumbs-custom-subtitle title-decorated">LEGAL NOTICES</h6>
              <h1 class="breadcrumbs-custom-title">LEGAL NOTICESY</h1>
            </div>
            <ul class="breadcrumbs-custom-path">
              <li><a href="/">Home</a></li>
              <li class="active">LEGAL NOTICES</li>
            </ul>
          </div>
        </div>
      </section>
      <!--Overview-->
      <!-- Overview-->
      <style>
 h2{
            font-family: 'latoregular';
            font-weight: bold;
            font-size: 24px;
        }
        h3{
            font-family: 'latoregular';
            font-weight: bold;
        }
        h4{
          font-family: 'latoregular';
          font-weight: bold;
          font-size: 20px;
        }
      
    table{
    border-collapse:collapse; 
    width:100%; border:0;  
    width:594
    }
    th{
    background-color:#0093D4;
    border:1.0pt solid black;
    padding:0.5em 5.4pt;
    vertical-align:top;
    width:445.25pt;
    color:white;
    }
    td{
    border:1.0pt solid black;
    padding:0.5em;
    }
    li{
        font-weight: bold;
        margin-bottom: 1em;
    }
    .bd{
        font-weight: bold;
    }
    </style>
    <div style="width:75%; margin: 0 auto;">
        <br/>
       
        <h3 >LEGAL NOTICES</h3>
        <hr>

        <p >These Legal Notices regulate the access, browsing and use of the website located at www.trip-day.com ("Site"), and by means of which we inform you of your rights and obligations in relation to the contents shown on it, the logos and brands used, as well as the responsibilities that may arise from its use.</p>
        <p >The use of our Site including, but not limited to, the access, navigation, or use of the Site (“Access”), indicates complete acceptance, without exclusion, of the conditions contained in these Legal Notices, having the same validity and effectiveness as any written and signed contract.</p>
        <p >"This Site and the registered trademark “Trip-day” (hereinafter “Trip-day”) are owned and operated by DiveXT co. ltd., a legally constituted Thailand company which operates as a wholesale-retail travel agency, based in 340/96 Moo9 Chalermprakiat 22, 1F Nongprue Banglamung Chonburi 20150 Thailand.</p>
        <p >Trip-day offers accommodation and destination services all around the world to Trip-day clients (i.e.,OTAs/TourOperators/TravelDistributors, and other B2B partners) for their further distribution to consumers subject to established contract conditions, general conditions, commercial terms, applicable laws and regulations and other factors. Trip-day solely operates under a Business to Business (B2B) framework, and therefore, does not sell products directly to final consumers.</p>
        <p >Trip-day operates globally through various Trip-day entities, and the details and relevant information of each company are found hereinbelow. Trip-day will strive for compliance and adherence by the Trip-day TRADING ENTITIES to the respective local laws and regulations that may be relevant to its relationship with B2B Partners &nbsp;and to end consumers, whenever applicable.</p><br>
        <table style="width: auto; text-align: left;">
            <tbody>
                <tr>
                    <th colspan="1" rowspan="1" width="96" style="text-align: inherit;">Location</th>
                    <th colspan="1" rowspan="1" width="144" style="text-align: inherit;">Trading Entity</th>
                    <th colspan="1" rowspan="1" width="987" style="text-align: inherit;">Information</th>
                </tr>
                <tr>
                    <td colspan="1" rowspan="1" width="96">Thailand</td>
                    <td colspan="1" rowspan="1" width="138">DiveXT co ltd.,</td>
                    <td colspan="1" rowspan="1" width="390">Company with registered address at 340/96 Moo9 Chalermprakiat 22, 1F Nongprue Banglamung Chonburi 20150 Thailand</td>
                </tr>
            </tbody>
        </table>
        <h2>User support</h2>
       
        <p >Any inquiry, suggestions, complaints and any other communication may be addressed centrally to Trip-day through the following contact link: <span style="color: rgb(116, 117, 127);"><strong>Contact form</strong></span></p>
        
        <h2>Ownership</h2>
        
        <p >All materials and content on this Site, including, but not limited to, software, logos, trademarks, graphics, text, designs, compilations of data, reports, photographs, images, maps, and other material on this Site are the intellectual property of Trip-day or its suppliers and are protected by international copyright law. Site users may not copy, reproduce, store, transmit, distribute, borrow cache, modify, sell, make derivative works, or otherwise use the information without the express written consent of Trip-day.</p>
     
        <p >Access shall only be construed to grant a non-exclusive right of use, within a strictly domestic context and solely for the purpose of browsing the Site in accordance with this Legal Notice.</p>
        <p >Products, services, domain, and company names mentioned herein may be the trademarks of their respective owners.</p>
        <p >No use of any robot, spider, other automatic device, or manual process to monitor materials available through this Site is allowed.</p>
        
        <h2>Site terms of use</h2>
        <p >Access to or usage of the Site for illegal or unauthorised purposes, with or without economic purpose, is not permitted and, therefore, the consequences thereof shall be your sole responsibility. In particular, and without limitation, it is forbidden to:</p>
     
        <p >- &nbsp; &nbsp;Use the Site in any way that may cause damage, interruptions, inefficiencies or defects in its operation or in third party devices;</p>
     
        <p >- &nbsp; &nbsp;Use the Site for the transmission, installation or publication of any viruses, Trojan horses, worms, logic bombs, malicious code or other harmful programs or files;</p>
     
        <p >- &nbsp; &nbsp;Use the Site to transmit material for advertising or promotional purposes, including spam, chain letters or similar;</p>
     
        <p >- &nbsp; &nbsp;Use the Site in a manner that constitutes an infringement of the rights of Trip-day or any third party;</p>
     
        <p >- &nbsp; &nbsp;Use the Site to transmit or publish any material of a defamatory, offensive, racist, vulgar, denigrating, pornographic, obscene or threatening nature or that may annoy or harm or merely affect any person;</p>
     
        <p >- &nbsp; &nbsp;Use the Site to collect personal data of other users;</p>
     
        <p >- &nbsp; &nbsp;Use the Site in an illegal manner, against good faith, morality and/or public order;</p>
     
        <p >- &nbsp; &nbsp;Perform unauthorised access to any section of the Site, to other systems or networks connected to it, to any Trip-day server or to the services offered through the Site by means of hacking or forgery, password extraction or any other illegitimate means;</p>
     
        <p >- &nbsp; &nbsp;Carry out any action that causes a disproportionate or unnecessary saturation in the infrastructure of the Site or in the systems or networks of Trip-day, as well as in the systems and networks connected to the Site itself.</p>
     
        <p >Failure to comply with any of the above obligations on your part may lead to the adoption by Trip-day of appropriate measures protected by law in the exercise of its rights or obligations.</p>
        
        <h2>Warranty disclaimer and limitation of liability</h2>
        <p >This Site is provided by Trip-day on an "as is" basis, therefore, the information on this Site is posted in good faith but Trip-day cannot guarantee that it is completely free from inaccuracies and typographical errors and does not accept liability for any error or omission on this Site.</p>
        <p >Moreover, Trip-day declares that it is making its best efforts to take all necessary measures, within its possibilities and the state of the art, to ensure the functioning of the Site and to minimise system errors, both from a technical point of view and in terms of the content published on the SIte. In consequence, Trip-day makes no representations or warranties of any kind, express or implied, as to the operation of the Site and/or any content, data, materials, information, products or services provided on this Site.</p>
     
        <p >Trip-day expressly disclaims any representation or warranty that this Site will be error-free, secure or uninterrupted.</p>
     
        <p >To the full extent permissible by applicable law, Trip-day disclaims all warranties, express or implied, including, but not limited to, implied warranties of merchantability and fitness for a particular purpose.</p>
     
        <p >In particular, and without limitation, Trip-day does not guarantee, nor will be responsible or liable for:</p>
     
        <p >- &nbsp; &nbsp;The continuity of the contents of the Site;</p>
     
        <p >- &nbsp; &nbsp;The absence of errors in said content;</p>
     
        <p >- &nbsp; &nbsp;The absence of viruses, Trojans, worms, logic bombs and/or other malicious or technologically harmful components on the Site or on the server that supplies it; expressly excluding the liability of Trip-day for any damage caused by viruses that may infect user's computer equipment or other property as the result of your access to, use of or browsing in this Site or downloading of any content, information, materials, data, text, images, video or audio from this Site;</p>
     
        <p >- &nbsp; &nbsp;The invulnerability of the Site and/or the impossibility of breaching the security measures adopted therein;</p>
     
        <p >- &nbsp; &nbsp;The lack of usefulness or performance of the contents of the Site;</p>
     
        <p >- &nbsp; &nbsp;Site failures caused by any type of attack on its servers or those of third party service providers of Trip-day, as well as technical or security failures in the system of any of these providers that prevent the operation of the Site;</p>
     
        <p >- &nbsp; &nbsp;Any technical failure of any kind that hinders, delays or prevents the proper functioning of the Site;</p>
     
        <p >- &nbsp; &nbsp;Any damage or harm caused, to themselves or to a third party, by any person who infringes the conditions, rules and instructions established by Trip-day on the Site or through the violation of the security systems; including any injury, loss, claim, damage, or any special, exemplary, punitive, indirect, incidental or consequential damages of any kind (including without limitation lost profits or lost savings) that arises out of or is in any way connected with any use of this Site.</p>
        
        <h2>Links</h2>
        <p >This Site may contain links to web sites operated by persons or entities other than Trip-day. Such links are provided for user's reference and convenience only. Trip-day does not endorse the contents of these other sites. Trip-day does not control such third-party web sites and is not responsible for their content. These links are not an indication of Trip-day association with the owners or operators of any of these other sites.</p>
        <p >Pursuant to the above, Trip-day shall not be liable for the accuracy, completeness or updating of the information published on the Site from external sources, nor for the information contained in other platforms to which links are made from the Site.</p>
        
        <h2>Modification</h2>
        <p >Trip-day may modify these Legal Notices, at any time, by posting conspicuous notice on this Site at least thirty (30) days before any modification becomes effective. Continued use of this Site, following the posting of conspicuous notice of any modification, will be considered acceptance of the modified Legal Notices.</p>
     
        <h2>Severability</h2>
        <p >Where any or part of these Legal Notices is deemed to be invalid, void, illegal or unenforceable, the legality, validity and enforceability of the remaining parts of these Legal Notices shall not be affected or impaired thereby and shall continue in force as if such invalid, void, illegal or unenforceable part of these Legal Notices was severed from these Legal Notices.</p>
        
        <h2>Safeguard</h2>
        <p >All of the clauses or terms of these Legal Notices must be interpreted independently, and the rest of the clauses will not be affected in the event that one of them has been declared null and void by a court ruling or final arbitration decision. The affected clause or clauses shall be replaced by another or others that preserve the effects pursued by this Legal Notices.</p>
     
        <h2>Applicable law and jurisdiction</h2>
        <p >The regulations in force shall determine the laws that shall govern and the jurisdiction that shall be responsible for the relations between Trip-day and the users. However, provided that such regulations foresee the possibility for the parties to submit to a specific jurisdiction, the Thailand legislation in force at the time of the dispute shall apply to any litigious matter arising from or related to this Site. Likewise, Trip-day and the users, expressly waiving any other jurisdiction that may correspond to them, submit to the Courts of Pattaya, Thailand.</p>

    <br/>
    </div>
 
      <!--Our history-->
    
      <!--Testimonials-->
 
      <!-- Latest Blog Posts-->
  
  



    <%- include('../partials/footer') %>
   
</body>
</html>