<%- include('../partials/foot-head') %>

<link rel="stylesheet" href="/css/contact-us.css">
<link rel="stylesheet" href="/css/bootstrap.css">
<style>
body{

    font-family: Trip Geom, BlinkMacSystemFont, -apple-system, Roboto, Helvetica, Arial, sans-serif;
}

.treaty_cookie_uu_wrap {
    background: #eef2f8;
}
.treaty_cookie_uu {
    padding: 64px 32px;
    margin: 0 auto;
    max-width: 1160px;
}
.treaty_cookie_uu__title {
    font-size: 32px;
    color: var(--smtcColorTextPrimary, #0f294d);
    line-height: 38px;
    margin-bottom: 32px;
}
.treaty_cookie_uu__checkbox {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #dadfe6;
    padding-bottom: 22px;
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
}
.treaty_cookie_uu__checkbox--checked {
    background-image: url(/images/7de7770….7de7770….svg);
}
.treaty_cookie_uu__checkbox--icon {
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%;
}
.treaty_cookie_uu__checkbox--text {
    font-size: 18px;
    color: #0f294d;
    text-align: left;
    line-height: 22px;
}
.treaty_cookie_uu__content {

    color: #455873;
    text-align: left;

}
.checkbox-container {
    display: flex; /* 가로 정렬 */
    float: left;
    align-items: left; /* 수직 가운데 정렬 */
  
}
</style>

      <!--Overview-->
      <!-- Overview-->

   <div class="treaty_cookie_uu_wrap">
       <div class="treaty_cookie_uu">
           <div class="treaty_cookie_uu__title">Do not sell my personal information</div>
           <section>
                <div class="treaty_cookie_uu__checkbox">
                        <div class="checkbox-container">
                            <input type="checkbox">
                            <span style="width:500px;">Do not sell my personal information</span>
                        </div>
                </div>
               <div class="treaty_cookie_uu__content">If you select this box, we will no longer personalize the advertisements that we show you. If you have a Trip.com account, please log in before selecting this box to ensure that your choice is effective across all of the devices that you log in on, as well as this browser. We will continue to share your personal information with our suppliers and travel partners in order to provide our services to you.</div>
           </section>
       </div>
   </div>
      <!--Our history-->
    
      <!--Testimonials-->
 
      <!-- Latest Blog Posts-->
  
  



    <%- include('../partials/footer') %>
   
</body>
</html>