<%- include('../partials/foot-head') %>

<link rel="stylesheet" href="/css/contact-us.css">
<link rel="stylesheet" href="/css/bootstrap.css">


      <!--Overview-->
      <!-- Overview-->
      <style>
        h2{
            font-family: 'latoregular';
            font-weight: bold;
            font-size: 24px;
        }
        h3{
            font-family: 'latoregular';
            font-weight: bold;
        }
        table{
        border-collapse:collapse; 
        width:100%; border:0;  
        width:594
        }
        th{
        background-color:#0093D4;
        border:1.0pt solid black;
        padding:0.5em 5.4pt;
        vertical-align:top;
        width:445.25pt;
        color:white;
        }
        td{
        border:1.0pt solid black;
        padding:0.5em;
        }
        </style>

<div class="onlineCS-body">
  <div class="onlineCS-body__inner">
     
      <div class="onlineCS-preSale">


      <h3>PRIVACY POLICY FOR DiveXT co ltd., WEBSITE</h3>
      <hr>
      <p style="text-align: right;"><a href="/pages/privacy-policy" target="">Last version: May 2024</a></p>
      <p>In accordance with applicable data protection regulations, this Privacy Policy is intended to help you understand the following:</p>
      <h2>DATA CONTROLLER</h2>
      <p>The Data Controller for the processing of the personal data you have provided us is DiveXT co ltd., (hereinafter &quot;Trip-day&quot;), with registered office at&nbsp;340/96 Moo9 Chalermprakiat 22, 1F Nongprue Banglamung Chonburi 20150 Thailand</p>
      <h2>DATA PROTECTION OFFICER</h2>
      <p>Trip-day belongs to a group of companies, referred altogether as DiveXT co ltd., (hereinafter, &ldquo;DiveXT co ltd.,&rdquo;). DiveXT co ltd., has a Global Data Protection Officer&nbsp;<a href="https://trip-day.com/pages/privacy-policy" target="">to respond to any queries, requests or clarifications regarding the processing of personal data that may be made by&nbsp;</a>DiveXT co ltd., in the following email address contact@trip-day.com or at our postal address, mentioned in the paragraph above.</p>
      <h2>HOW DID WE OBTAIN YOUR DATA?</h2>
      <p>The personal data processed shall be those that you provide to us through the various channels that DiveXT co ltd., makes available to you.</br>
      However, for compliance purposes and KYB (Know Your Business) activities, we shall obtain personal data from third parties like service providers for fraud detection.</br>
      Also, when you visit the DiveXT co ltd., site various technologies are used to collect and store information and this may include the use of cookies or similar technologies to identify your browser or device. DiveXT co ltd., also uses these technologies to collect and store information when you interact with services offered by DiveXT co ltd., or other features. You can obtain more information about how DiveXT co ltd., process personal data obtained through cookies or as a result of your browsing in the event that you accept the installation of cookies (for more information about cookies on the Website, visit our&nbsp;<a href="https://trip-day.com/pages/cookie-policy" target=""><u>Cookies Policy</u></a>&nbsp;<u>).</u></p>
      <h2>WHAT PERSONAL DATA DO WE PROCESS, FOR WHAT PURPOSE AND FOR WHAT REASON</h2>
      <p>These purposes are listed below depending on which category of data subject you are, indicating which data shall be processed (type of data) and for what reason or on what basis (legal basis). Likewise, we may also process any additional data that you provide us with or that is generated in the course of your relationship with DiveXT co ltd., for the purposes set out above.</p>
      <br/>
      <table style="width:100%;">
        <tbody >
          <tr>
            <th colspan="2" rowspan="1">CLIENTS AND POTENTIAL CLIENTS</th>
          </tr>
          <tr>
            <th colspan="1" rowspan="1">TYPE OF DATA</th>
            <th colspan="1" rowspan="1">PURPOSE AND LEGAL BASIS</th>
          </tr>
          <tr>
            <td colspan="1" rowspan="1">The following: Identification data: name, surname, passport number.Contact data: e-mail, telephone number.</td>
            <td colspan="1" rowspan="1">Performance of a contract between you and/or the company you represent and DiveXT co ltd., or application of pre-contractual measures:Manage the contractual relationship with you and ensure the provision of the contracted products and services, which includes both the management of services offered by DiveXT co ltd., as well as the service quality, billing, collection and withdrawal of the same.Manage the commercial relationship with potential clients, attending to requests for information on products and services offered by DiveXT co ltd., Manage and process any legal claims, out-of-court claims and insurance claims received by DiveXT co ltd., in relation to you. b) Legitimate interests of DiveXT co ltd., Carry out commercial communications related to products and services similar to those contracted by you. In this case, the legitimate interest of DiveXT co ltd., would be to carry out direct marketing activities aimed at its clients, in accordance with Recital 47 of the General Data Protection Regulation.Conduct surveys and market studies to know the quality of our products or services and the preference of our clients. The legitimate interest of DiveXT co ltd., is to improve the commercial offer and experience to its clients.</td>
          </tr>
          <tr>
            <th colspan="2" rowspan="1">PROVIDERS AND POTENTIAL PROVIDERS</th>
          </tr>
          <tr>
            <th colspan="1" rowspan="1">TYPE OF DATA</th>
            <th colspan="1" rowspan="1">PURPOSE AND LEGAL BASIS</th>
          </tr>
          <tr>
            <td colspan="1" rowspan="1">The following: Identification data: name, surname, passport number.Contact data: e-mail, telephone number.</td>
            <td colspan="1" rowspan="1">Performance of a contract between you and DiveXT co ltd., or application of pre-contractual measures: Manage the commercial relationship with potential providers, attending to requests for information.Formalize the contractual relationship, which includes the contracting process and signature of the contracts.Manage the contractual relationship with the providers of DiveXT co ltd., which includes tracking the relationship and payment to them.</td>
          </tr>
          <tr>
            <th colspan="2" rowspan="1">CANDIDATES</th>
          </tr>
          <tr>
            <th colspan="1" rowspan="1">TYPE OF DATA</th>
            <th colspan="1" rowspan="1">PURPOSE AND LEGAL BASIS</th>
          </tr>
          <tr>
            <td colspan="1" rowspan="1">Those data requested in the Website and, among others:Identification data: name, surname, age, Curriculum Vitae and/or cover letter.Contact data: email, telephone number, address. Additional data that we can get from the recruiting process. The data generated during the selection processes in which you participate shall also be processed, which implies the possibility of performing an analysis of your personal profile in order to assess your suitability for the corresponding vacancy. Among such additional data, the following may be processed data published on social networks whose privacy settings are not restricted to third parties and/or data published on the Internet.</td>
            <td colspan="1" rowspan="1">Performance of a contract between you and DiveXT co ltd., or application of pre-contractual measures: Manage the personnel selection process of DiveXT co ltd., which will include the revision of the Curriculum Vitae and the conduct of personal interviews.Formalize the contractual relationship, which will include the contracting process and signature of contracts and labor agreements. With your consent: We will keep your profile active as a candidate during a 2 years period for futures job offers.</td>
          </tr>
          <tr>
            <th colspan="2" rowspan="1">DiveXT co ltd., CORPORATE CONTACTS</th>
          </tr>
          <tr>
            <th colspan="1" rowspan="1">TYPE OF DATA</th>
            <th colspan="1" rowspan="1">PURPOSE AND LEGAL BASIS</th>
          </tr>
          <tr>
            <td colspan="1" rowspan="1">Personal data that you provide to us in your contact by email, such as:Identification data: name, surname.Contact data: email, telephone number.Data related to the relationship established with DiveXT co ltd.,</td>
            <td colspan="1" rowspan="1">The legitimate interest of DiveXT co ltd., derived from the contact for corporate purposes with the data subjects, which is expressly recognized by the privacy regulations, where applicable. The purpose is: To maintain relations of any kind with the company, entity or organization for which you work or collaborate, or with you if you are an independent professional, who contact through the Website or any form, communication channel or email box. Even through the delivery of business cards to DiveXT co ltd., staff.</td>
          </tr>
          <tr>
            <th colspan="2" rowspan="1">GENERAL CONTACT</th>
          </tr>
          <tr>
            <th colspan="1" rowspan="1">TYPE OF DATA</th>
            <th colspan="1" rowspan="1">PURPOSE AND LEGAL BASIS</th>
          </tr>
          <tr>
            <td colspan="1" rowspan="1">Personal data that you provide to us in your contact by email.</td>
            <td colspan="1" rowspan="1">Legitimate interest on answering your question and/or claim. To deal with requests, queries or complaints through the sections and contact forms on the Website or through other channels such as email for general information about the Website or call centers.</td>
          </tr>
          <tr>
            <th colspan="2" rowspan="1">WEB / PLATFORM USERS</th>
          </tr>
          <tr>
            <th colspan="1" rowspan="1">TYPE OF DATA</th>
            <th colspan="1" rowspan="1">PURPOSE AND LEGAL BASIS</th>
          </tr>
          <tr>
            <td colspan="1" rowspan="1">Navigation dataTechnical dataIP address</td>
            <td colspan="1" rowspan="1">The processing of your personal data is legitimized by the express consent you give us through the cookie banner made available by DiveXT co ltd., You may withdraw your consent at any time in accordance with the information provided in our Cookies Policy . However, DiveXT co ltd., may process information obtained through cookies or similar technologies without your consent as long as it is anonymized or aggregated information that does not contain any attribute that can identify directly or indirectly. The purpose is: To personalize and segment the content of the Website through the use of cookies or similar technologies when these are consented to by the user through the corresponding banner.</td>
          </tr>
          <tr>
            <th colspan="2" rowspan="1">KNOW YOUR BUSINESS AND COMPLIANCE</th>
          </tr>
          <tr>
            <th colspan="1" rowspan="1">TYPE OF DATA</th>
            <th colspan="1" rowspan="1">PURPOSE AND LEGAL BASIS</th>
          </tr>
          <tr>
            <td colspan="1" rowspan="1">We obtain the following data directly from you:Identification data: name, surname, passport number.Contact data: e-mail, telephone number.Those personal data that you provide us and that are generated in the relationship. We obtain the following data from third parties: Data used to identify individuals, such as names, identification documents.Information about business activities, such as affiliation with and ownership of businesses, employment/role details.When authorised by law, information about court judgments and criminal activity, such as details of offences and court dispositions.When authorised by law, sanctions lists, watch lists and lists of politically exposed persons, including your presence on such lists and you (or your family members&rsquo; or business associates&rsquo;) affiliations with government officials.Information from public media, such as information in published news sources that may reveal connections to suspected criminal activity.Family circumstances information (e.g. your marital status and dependents) if you are a Politically Exposed Person or a close associate of a Politically Exposed Person.Professional and personal affiliations (for example, organisations and individuals that you may be associated with in your professional or personal capacity).</td>
            <td colspan="1" rowspan="1">The processing of your personal data is legitimized by DiveXT co ltd.,&rsquo;s legitimate interest when DiveXT co ltd., is interested in concluding a deal with a third party as follows. The purpose of this processing is to screen individuals to prevent and detect fraud, terrorism, money laundering, bribery and corruption, and other crimes by conducting checks against databases like WorldCompliance and Accuity provided by LexisNexis or other similar service providers.</td>
          </tr>
          <tr>
            <th colspan="2" rowspan="1">SOCIAL MEDIA USERS</th>
          </tr>
          <tr>
            <th colspan="1" rowspan="1">TYPE OF DATA</th>
            <th colspan="1" rowspan="1">PURPOSE AND LEGAL BASIS</th>
          </tr>
          <tr>
            <td colspan="1" rowspan="1">Those personal data that allow us the privacy policy of the social network in which you have an account / user profile, as well as the privacy settings you have as a user of that social network. This data depends on your own privacy settings of the social network and the privacy policy of that social network.</td>
            <td colspan="1" rowspan="1">DiveXT co ltd., has active profiles in different social networks, the following personal data processing are applicable to persons who become DiveXT co ltd., stakeholders by being a member, following or being part of such profiles. Performance of the obligations arising from your status as a registered user of the social network and the conditions of use of such social network: Interaction of your profile in the corresponding social network with DiveXT co ltd., including responding to queries, comments posted on public profiles.</td>
          </tr>
          <tr>
            <th colspan="2" rowspan="1">APPLICABLE TO ALL DATA SUBJECTS</th>
          </tr>
          <tr>
            <th colspan="1" rowspan="1">TYPE OF DATA</th>
            <th colspan="1" rowspan="1">PURPOSE AND LEGAL BASIS</th>
          </tr>
          <tr>
            <td colspan="1" rowspan="1">Those personal data that you provide us and that are generated in the relationship.</td>
            <td colspan="1" rowspan="1">Fulfilment of our civil, commercial, tax, accounting and legal obligations related to compliance with personal data protection regulations, among others that may be applicable.</td>
          </tr>
        </tbody>
      </table>
      <br/>
      <h2>WHEN AND WHY DO WE DISCLOSE YOUR PERSONAL DATA TO THIRD PARTIES?</h2>
      <p>Personal data may be communicated to the following recipients, for the reasons explained below:</p>
      <br/>
      <table  style="width:100%;">
        <tbody>
          <tr>
            <th colspan="1" rowspan="1" width="386">RECIPIENT</th>
            <th colspan="1" rowspan="1" width="946">PURPOSE</th>
            <th colspan="1" rowspan="1" width="346">LEGAL BASIS</th>
          </tr>
          <tr>
            <td colspan="1" rowspan="1" width="189">Public administrations;Courts and tribunals;Law enforcement agencies</td>
            <td colspan="1" rowspan="1" width="227">For the fulfilment of the legal obligations to which DiveXT co ltd., is subject for the development of its activity, and in the cases provided by law, including the obtaining of subsidies and public aid.</td>
            <td colspan="1" rowspan="1" width="151">Fulfil a legal obligation.</td>
          </tr>
          <tr>
            <td colspan="1" rowspan="1" width="189">Accounting audit firms</td>
            <td colspan="1" rowspan="1" width="227">To comply with the legal obligations of account auditing to which DiveXT co ltd., is subject due to its activity.</td>
            <td colspan="1" rowspan="1" width="151">Fulfil a legal obligation.</td>
          </tr>
          <tr>
            <td colspan="1" rowspan="1" width="189">Third parties providing screening and compliance data base services</td>
            <td colspan="1" rowspan="1" width="227">To screen individuals to prevent and detect fraud, terrorism, money laundering, bribery and corruption, and other crimes by conducting checks against databases like WorldCompliance and Accuity provided by LexisNexis or other similar service providers.</td>
            <td colspan="1" rowspan="1" width="151">The legitimate interest of DiveXT co ltd., in concluding a deal with a third party.</td>
          </tr>
          <tr>
            <td colspan="1" rowspan="1" width="189">Companies that are part of DiveXT co ltd.,</td>
            <td colspan="1" rowspan="1" width="227">We may communicate the data to the other Group companies with the purpose of being able to offer the best service for you taking into consideration your allergies and/or special needs and other administrative purposes.</td>
            <td colspan="1" rowspan="1" width="151">The legitimate interest of DiveXT co ltd., recognized by the applicable regulations on data protection.</td>
          </tr>
          <tr>
            <td colspan="1" rowspan="1" width="189">Third parties interested in acquiring all or part of the capital stock of DiveXT co ltd.,</td>
            <td colspan="1" rowspan="1" width="227">Analysis and execution of commercial operations in which DiveXT co ltd., may be involved due to structural modifications or transfer of business.</td>
            <td colspan="1" rowspan="1" width="151">Legal empowerment by article 21 of the Organic Law on Data Protection and Guarantee of Digital Rights.</td>
          </tr>
        </tbody>
      </table>
      <p>In addition to suppliers who need access to your data for the provision of services that DiveXT co ltd., has contracted to these suppliers, and with which DiveXT co ltd., has signed confidentiality agreements and processing of personal data necessary and required by law to protect your privacy.</p>
      <p>From DiveXT co ltd., we shall not share your data with other third parties without first obtaining your consent, except in those cases where it is necessary for compliance with legal or contractual obligations to which DiveXT co ltd., is subject at all times by its nature and activity.</p>
      <p>If in the future DiveXT co ltd., shall make other communications of personal data, it shall inform you in a timely manner.</p>
      
      <h2>INTERNATIONAL DATA TRANSFERS</h2>
      <p>DiveXT co. ltd., may hire the services of suppliers located in countries outside the thiland Economic Area, based on decisions of adequacy of the Thai government. In this case, it is considered that the country has equivalent regulations to the Asia one. In the event that DiveXT co. ltd., needs to hire services from suppliers located in countries that do not have regulations equivalent to the Asian, the contracting shall include all the guarantees and safeguards required by the regulations to preserve your privacy, after verification of the legislation of the destination country.</p>
      <p>Such safeguards may consist of the application of contractual clauses and additional guarantees to them, in accordance with the regulations of each destination country, or of binding corporate rules approved by the data protection authorities. We also inform you that the regulations allow us to send your data to such countries, if it is necessary to comply with our obligations arising from the service you request from us.</p>
      <p>Likewise, we inform you that the DiveXT co. ltd., may have companies outside the Asian. In those cases, DiveXT co. ltd., requires that these companies comply with the appropriate measures to protect your personal data following the Asian regulations.</p>
      <p>For more information about the guarantees to your privacy, or the destination countries to which we need to transfer your data to fulfil our contractual obligations to you, you can contact DiveXT co ltd., through the addresses indicated in the &quot;How can you exercise your rights&quot; section of this Privacy Policy.</p>
     
      <h2>AUTOMATED DECISIONS</h2>
      <p>DiveXT co ltd., does not make decisions that may affect you based solely on the automated processing of your personal data. All decision-making processes related to the above-described processing purposes are carried out with human intervention.</p>
       <p>The profiling indicated in the purposes of candidate management, in no case shall be used in making decisions by our entity that may have legal effects for you or that may affect you significantly.</p>
      
      <h2>FOR HOW LONG DO WE KEEP YOUR DATA?</h2>
      <p>We shall only keep your personal data for as long as we need it for the purposes for which we collect it and to comply with legal, financial, business or reporting requirements or until your consent withdrawal. In some circumstances, we may anonymize personal data so that it is no longer identifiable, and we can continue to use it. When we no longer need the personal data, we shall securely delete or destroy it.</p>
      <p>DiveXT co ltd., shall retain the data collected to carry out the above purposes for the duration of your relationship with DiveXT co ltd., and, even thereafter, until the statute of limitations on any legal liability arising there.</p>
      
      <h2>HOW CAN YOU EXERCISE YOUR RIGHTS?</h2>
      <p>You may exercise, with respect to the data collected, the rights of access, rectification, opposition, deletion, limitation and portability of data, in accordance with the regulations on data protection and withdraw your consent.</p>
      <p>These rights may be exercised by sending a communication:</p>
      
      
      
      <ul>
        <li>To the e-mail contact@trip-day.com with the subject &quot;Data protection&quot;.</li>
      </ul>
      
      
      
      <p>By any postal means with which there is evidence of receipt by DiveXT co ltd., addressed to the following address: 340/96 Moo9 Chalermprakiat 22, 1F Nongprue Banglamung Chonburi 20150 Thailand &quot;Data Protection&quot;.</p>
      
      
      
      <p>Also, if you consider that the processing of your personal data violates the regulations or your privacy rights, you can file a complaint:
      
      
      
      <ul>
        <li>via the postal and e-mail addresses indicated above.</li>
      </ul>
      <br>
      
      <h2>CHANGES, MODIFICATIONS OR UPDATES</h2>
   
      
      
      
      <p>DiveXT co ltd., reserves the right to revise this Privacy Policy at any time it deems appropriate, in order to reflect regulatory changes, best practices or update the processing activities of personal data. You shall be informed of such updates in accordance with regulatory requirements, in the event that your rights are significantly affected as a result of such modification or update.</p>
      
            <br/>
            <br/>
            <br/>

    </div>
    </div>
    </div>
      <!--Our history-->
    
      <!--Testimonials-->
 
      <!-- Latest Blog Posts-->
  
  



    <%- include('../partials/footer') %>
   
</body>
</html>