<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header-hotel-details') %>

    <section class="breadcrumbs-custom bg-image context-dark" style="background-image: url(/images/serviceguarantee.jpg);">
        <div class="breadcrumbs-custom-inner">
          <div class="container breadcrumbs-custom-container">
            <div class="breadcrumbs-custom-main">
              <h6 class="breadcrumbs-custom-subtitle title-decorated">SERVICE GUARANTEE</h6>
              <h1 class="breadcrumbs-custom-title">SERVICE GUARANTEE</h1>
            </div>
            <ul class="breadcrumbs-custom-path">
              <li><a href="/">Home</a></li>
              <li class="active">SERVICE GUARANTEE</li>
            </ul>
          </div>
        </div>
      </section>
      <!--Overview-->
      <!-- Overview-->
      <style>
        h2{
            font-family: 'latoregular';
            font-weight: bold;
            font-size: 24px;
        }
        h3{
            font-family: 'latoregular';
            font-weight: bold;
        }
        table{
        border-collapse:collapse; 
        width:100%; border:0;  
        width:594
        }
        th{
        background-color:#0093D4;
        border:1.0pt solid black;
        padding:0.5em 5.4pt;
        vertical-align:top;
        width:445.25pt;
        color:white;
        }
        td{
        border:1.0pt solid black;
        padding:0.5em;
        }
        </style>
      <div style="width:75%;
      margin: 0 auto;">
      <br/>
        <h3>Service-guarantee</h3>
        <hr>
        <br/>
      <h2>-Customer Support</h2>

<p>Trip-day.com with member companies.<br/>
The Trip-day.com Customer Center is always with our members through its operational service channels (telephone, email, online chat).</p>

<h2>-Reservation Support</h2>

<p>Trip-day.com will do its best to ensure that your trip cancellation goes smoothly.</p>

<h2>-A quick reward</h2>

<p>Trip-day.com will do its best to resolve the problem quickly.<br/>
If a problem arises due to the negligence of Trip-day.com , we provide a reasonable compensation method.</p>

<h2>-A hotel</h2>

<p>If the reservation changes after purchasing the product, Trip-day.com will do its best to coordinate the accommodation smoothly.<br/>
In the event of a problem between the hotel purchased and applied by the member and the member company, Trip-day.com will work with other affiliated accommodation to arrange extra rooms.<br/>
If it is difficult to provide any type of room in the original accommodation, Trip-day.com will help you to provide the same level of nearby accommodation.</p>

<h2>-Change and cancellation guarantees</h2>

<p>Trip-day.com does not take profits from any change or cancellation fees or charge any additional fees. If you cancel your reservation,<br/> Trip-day.com will try to ease your burden as much as possible through consultation with the hotel.</p>

<h2>-Terms and Conditions for Room Security System</h2>

<p>* If your reservation is unavailable after purchasing, please contact Trip-day.com Customer Center immediately. If you stay at another hotel without contacting Trip-day.com Customer Center, you will be deemed to have lost your right to "room security."<br/>
You will be excluded from the room security plan if you are in the following situations.<br/>
1) If you do not arrive at the hotel on the date of the voucher application<br/>
2) If you change your reservation information, such as room type or check-in/check-out date, without going through Trip-day.com 's verification<br/>
3) Trip-day.com or an existing hotel that has been booked offers a comparable or upgraded room at no additional cost<br/>
4) Failure to check in according to the changed booking information, failure to submit valid original documents at check-in, or inconsistent with the existing booking information in the proof document presented
5) Where it is impossible to check-in due to fire, natural disasters, or force majeure reasons, such as government policies
6) If the voucher application for the product purchased at Trip-day.com has not been confirmed by the time you arrive at the hotel ( ※ Please check the confirmation email received at the email address you entered at the time of reservation or the membership information at Trip-day.com )<br/>
7) If payment has not been completed by online pre-payment booking<br/>
8) If it is determined that there is a transaction security risk to the reservation ( ※The final interpretation authority for reservations related to transaction security risks rests with Trip-day.com . Trip-day.com is based on fair principles and judgment in accordance with transaction security regulations.)<br/>
• The following reservations are not covered by Trip-day.com room security: reservations related to system or network attacks, false reservations, and resale without permission.<br/>
• If a problem or abnormal activity is detected in relation to reservation information, account, and number of payments</p>

<h2>-Golf Country Club</h2>

<p>Trip-day.com has the following guarantees regarding the rounding of golf country clubs purchased by members.<br/>

*We guarantee the confirmed date and number of people when purchasing the product.<br/>

* We do our best to allocate the products purchased by the members so that they can be rounded in the morning. (I would like to inform you that the rounding time may change depending on the situation of the golf club.)<br/>

-Hotel, golf country club, and air ticket cancellation guarantee system<br/>

If your flight booked by Trip-day.com is canceled or delayed due to force majeure reasons and you are unable to arrive at the hotel on the check-in date, Trip-day.com will cover the cancellation fee.<br/>

-air ticket price guarantee system<br/>

Trip-day.com ensures that the price of your booked ticket remains unchanged after payment for the ticket amount has been completed.<br/>
After payment is completed, if the ticket price is increased because the ticket booked for Trip-day.com negligence has not been issued, Trip-day.com will pay the amount of the difference.</p>
            <br/>
            <br/>
            <br/>
    </div>
      <!--Our history-->
    
      <!--Testimonials-->
 
      <!-- Latest Blog Posts-->
  
  



    <%- include('../partials/footer') %>
   
</body>
</html>