<!DOCTYPE html>
<html lang="en">
<%- include('../partials/foot-head') %>
<%- include('../partials/serviceinfo-head') %>
<link rel="stylesheet" href="/css/contact-us.css">
<link rel="stylesheet" href="/css/bootstrap.css">
<body>

  <div class="onlineCS-body">
    <div class="onlineCS-body__inner">
       
        <div class="onlineCS-preSale">
          
            <div class="section-lg">
                <div class="utp-service__inner">
                    <ul class="utp-service__segments">
                        <li class="utp-service__segment segment_0 ">
                            <div class="utp-service__segment-content">
                                <div class="utp-service__segment-header">
                                    <div><span>1</span></div>
                                    <h2>At Trip.com, we make travel effortless</h2>
                                </div>
                                <div class="utp-service__segment-paragraphs">
                                    <p>Since we came onto the scene, Trip.com has been committed to providing the best possible service and experience for our users. We truly care about our users and always do our best to make sure every trip is effortless.</p>
                                    <p>We're proud to say that we hold true to that commitment today. Our professional and passionate customer support advisors interact with thousands of users daily, ensuring that their questions and concerns are prioritized each time. This user-centric attitude isn't just a mindset, but something that our users are able to feel each time they interact with us.</p>
                                </div>
                            </div>
                        </li>
                        <li class="utp-service__segment segment_1 "><img src="https://pages.trip.com/images/service/s2.png" alt="">
                            <div class="utp-service__segment-content">
                                <div class="utp-service__segment-header">
                                    <div><span>2</span></div>
                                    <h2>We guarantee your booking</h2>
                                </div>
                                <div class="utp-service__segment-paragraphs">
                                    <p>Have you ever had the frustrating experience of being told your flight was fully booked after your payment was finalized?</p>
                                    <p>At Trip.com, once your payment is confirmed, we'll do our best to guarantee your trip. For more info on this, check out the link <a href="/pages/customer-service/">here</a>.</p>
                                    <p>If you find yourself unable to check-in for your hotel because of an issue with Trip.com or one of our suppliers, reach out to us as soon as possible. We'll act quickly to help you handle whatever problem you're facing. </p>
                                </div>
                            </div>
                        </li>
                        <li class="utp-service__segment segment_2 reverse"><img src="https://pages.trip.com/images/service/s3.png" alt="">
                            <div class="utp-service__segment-content">
                                <div class="utp-service__segment-header">
                                    <div><span>3</span></div>
                                    <h2>Get help easily by phone &amp; live chat</h2>
                                </div>
                                <div class="utp-service__segment-paragraphs">
                                    <p>For us, it's all about making the user experience as convenient as possible, especially when last minute emergencies occur. At Trip.com, we won't let you get frustrated trying to find out how to reach us.</p>
                                    <p>There are a plenty of ways to get in touch. If you want to reach out to us, our phone number is clearly displayed on our <a href="/help/">website</a>.</p>
                                    <p>Online help is also available. You can easily reach us via online chat. Our chat options are easy to find.</p>
                                    <p>If you're ever in need, don't hesitate to give us a shout. Trip.com is your constant travel companion.</p>
                                </div>
                            </div>
                        </li>
                        <li class="utp-service__segment segment_3 "><img src="https://pages.trip.com/images/service/s4.png" alt="">
                            <div class="utp-service__segment-content">
                                <div class="utp-service__segment-header">
                                    <div><span>4</span></div>
                                    <h2>24/7 support</h2>
                                </div>
                                <div class="utp-service__segment-paragraphs">
                                    <p>Sometimes travel doesn't always go according to plan. Have you ever been denied boarding at the airport because a letter was missing in your name? Or arrived at the airport at 3 am only to find out that your flight has been canceled?</p>
                                    <p>At Trip.com, we're ready to take on anything unexpected that comes your way. Our professional advisors specializing in flight and hotel bookings are always available to provide helpful support and solutions 24 hours a day, 7 days a week, in English, Cantonese, Japanese, Korean, and Thai.</p>
                                    <p>We're here for you whenever you need us.</p>
                                </div>
                            </div>
                        </li>
                        <li class="utp-service__segment segment_4 ">
                            <div class="utp-service__segment-content">
                                <div class="utp-service__segment-header">
                                    <div><span>5</span></div>
                                    <h2>We won't keep you waiting</h2>
                                </div>
                                <div class="utp-service__segment-paragraphs">
                                    <p>Getting hold of customer support can sometimes be a pain. At times, it can even seem like waiting up to half an hour is the new normal.</p>
                                    <p>At Trip.com, we don't believe in making customers wait in queues just to be able to talk with us.</p>
                                    <p>Some problems can be best solved when they're reported and handled quickly. When you call us, we'll do our best to pick up as fast as we can.</p>
                                    <p>We know it can be nerve wracking to run into issues. No matter what happens, you can be confident in knowing that we'll be on the other line to say "Thanks for calling Trip.com. What can we do for you?"</p>
                                </div>
                            </div>
                        </li>
                        <li class="utp-service__segment segment_5 ">
                            <div class="utp-service__segment-content">
                                <div class="utp-service__segment-header">
                                    <div><span>6</span></div>
                                    <h2>Free in-app calls</h2>
                                </div>
                                <div class="utp-service__segment-paragraphs">
                                    <p>We know how easily international call charges can rack up when you're traveling abroad. At Trip.com, it's our goal to handle the details so you can focus on getting the most out of your trip. That includes helping you save whenever possible.</p>
                                    <p>That's where our free Internet call option comes in. Simply select the VoIP (Internet call) option on our app to connect with us absolutely free of charge.</p>
                                    <p>No matter where you are, just give us an Internet call—it's free!</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>      
              
          
            </div>
           
        </div>
        </div>
</div>
 
 


      <!--Overview-->
      <!-- Overview-->
     
   


    <%- include('../partials/footer') %>

<style>
    body{
        font-family: Trip Geom, BlinkMacSystemFont, -apple-system, Roboto, Helvetica, Arial, sans-serif;
    }
.utp-service__segment-header>div {
    -moz-box-flex: 0;
    flex: 0 0 auto;
    padding-left: 12px;
    border-radius: 60%;
    background-color: #287dfa;
    -moz-box-pack: center;
    justify-content: center;
    color: #fff;
    font-size: 28px;
    line-height: 34px;
    width: 40px;
    float:left;
    margin-right: 15px;;

}

@media screen and (min-width: 769px) {
   .utp-service__segment-header>h2 {
        font-size: 32px;
        line-height: 38px;
    }
}

 .utp-service__segment-header>h2 {
    color: var(--smtcColorTextPrimary, #0f294d);
    font-weight: 700;
}
@media screen and (min-width: 769px) {
 .utp-service__segment-paragraphs>p {
        margin-top: 30px;
        font-size: 20px;
        line-height: 26px;
    }
}
 .utp-service__segment-paragraphs>p {
    color: var(--smtcColorTextPrimary, #0f294d);
    font-weight: 400;
}

@media screen and (min-width: 769px) {
    .utp-service__segment+.utp-service__segment {
        margin-top: 65px;
    }
}

.utp-service__segment, .utp-service__header>.utp-service__inner {
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
}
@media screen and (min-width: 769px) {
    .utp-service__segment>img {
        margin-left: 20px;
        margin-right: 20px;
    }
}
.utp-service__segment>img {
    -moz-box-flex: 0;
    flex: 0 0 auto;
    width: 300px;
    -o-object-fit: cover;
    object-fit: cover;
}
@media screen and (min-width: 769px) {
    .utp-service__segment+.utp-service__segment {
        margin-top: 65px;
    }
}
@media screen and (min-width: 769px) {
    .utp-service__segment.reverse {
        -moz-box-orient: horizontal;
        -moz-box-direction: reverse;
        flex-direction: row-reverse;
    }
}
.utp-service__segment, .utp-service__header>.utp-service__inner {
    display: -moz-box;
    display: flex
;
    -moz-box-align: center;
    align-items: center;
}
</style>
   
</body>
</html>
