<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header-hotel-details') %>

    <section class="breadcrumbs-custom bg-image context-dark" style="background-image: url(/images/aboutbg.png);">
        <div class="breadcrumbs-custom-inner">
          <div class="container breadcrumbs-custom-container">
            <div class="breadcrumbs-custom-main">
              <h6 class="breadcrumbs-custom-subtitle title-decorated">About Us</h6>
              <h1 class="breadcrumbs-custom-title">About Us</h1>
            </div>
            <ul class="breadcrumbs-custom-path">
              <li><a href="/">Home</a></li>
              <li class="active">About Us</li>
            </ul>
          </div>
        </div>
      </section>
      <!--Overview-->
      <!-- Overview-->
      <section class="section section-lg right-pattern">
        <div class="container">
          <div class="row row-50 justify-content-center justify-content-lg-between">
            <div class="col-md-10 col-lg-6">
              <h2 class="wow-outer font-weight-bold text-gray-800"><span class="wow slideInUp">WHO WE ARE ?</span></h2>
              <h5 class="offset-top-3 text-gray-800 font-weight-light">It's very important to be patient and follow the growth, but also the way you create things.</h5>
              <p>With over 20years of experience and TAT certificate,DiveXT is your trusted B2B travel partner in Thailand.

                We offer a wide range of travel products, from hotels and golf courses to customized tours, ensuring a successful trip.
                
                The Trip-day platform is our ambitious project to create a future where suppliers and land tour operators can efficiently connect and transact within a unified digital ecosystem.
                
                Our dedicated team is committed to provide you with reliable customer service and assistance. Should you have any queries, please feel free to contact us at contact@trip-day.com.
                
                Want to become a DiveXT’s Activity Partner? If you have an existing experience activity to offer and would like to work with us, please drop us an email at contact@trip-day.com</p>
             
            </div>
            <div class="col-md-10 col-lg-6 col-xl-5"> <img class="img-responsive" src="/images/large-features-1-560x480.png" alt="" width="560" height="480"/>
            </div>
          </div>
        </div>
      </section>
      <!--Our history-->
    
      <!--Testimonials-->
 
      <!-- Latest Blog Posts-->
  
  



    <%- include('../partials/footer') %>
   
</body>
</html>