<div>
    <button
      type="button"
      id="add-<%= buttonLabel %>"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2"
    >
      <svg
        class="w-4 h-4 text-white mr-1"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 12h14m-7 7V5"
        />
      </svg>
      <%= buttonLabel %>
    </button>
    <div id="<%= containerId %>" class="mt-2 space-y-2"></div>
  </div>